[2022-05-11 22:41] TheDarkula commented on #1286
This was so silly. With working between the master branch and the feature branch, I did not set `authSecret.create` to `true` in the new `values.yaml` file.

Thank you, sir!

[2022-05-11 23:11] mumoshu commented on #1286
@TheDarkula Ah, that makes sense! Happy to hear you figured it out 🎉

[2022-05-12 08:25] #1282 closed

[2022-05-12 08:34] #1369 closed

[2022-05-12 10:35] roshvin opened #1444 "unknown field "workflowJob" in dev.summerwind.actions.v1alpha1.HorizontalRunnerAutoscaler.spec.scaleUpTriggers.githubEvent;"
### Controller Version

0.18.0

### Helm Chart Version

actions-runner-controller-0.18.0

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers i

[2022-05-12 10:40] toast-gear commented on #1444
https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/docs/UPGRADING.md have you also followed the normal Helm upgrade process? It sounds like your CRDs are not up to date

[2022-05-12 10:47] toast-gear commented on #1444
https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/docs/UPGRADING.md the upgrade doc details how to upgrade your CRDs along with why you have to do this, please read the link.

[2022-05-12 10:52] roshvin commented on #1444
hi @toast-gear sorry i dint read the link first time , i followed the link and now i am able to deploy HRA . thanks a lot for your support and quick help.

[2022-05-12 11:45] Eldarrin commented on #1362
So I did some tests, not overly heavy. I just had 6 docker runners, each one running an action script containing a docker run command with an alpine docker counting and logging and this worked. If you can think of a special scenario to test I can try it

[2022-05-12 12:35] #1444 closed

[2022-05-12 13:14] Eldarrin commented on #1362
Here: https://github.com/Eldarrin/ARC-DinDooD

This is my setup, this needs work to actually function but you can see the idea. look in the root dind-swarm and bases/dind-swarm

Then bases/docker and gitrunners/docker

[2022-05-13 02:15] #1279 closed

[2022-05-16 01:33] #1314 closed

[2022-05-17 08:54] rlinstorres commented on #893
I am using `sef-hosted runner` and also building a Docker Image using `summerwind/actions-runner:latest` as a base image but I needed to install the Docker Plugins `buildx` and `docker compose`. So, during the workflow, I am using these steps below and everything is working fine.

[code]

[2022-05-17 18:02] danyoungwu opened #1457 "chart: Limiting RABC permissions to the watch namespace when specified"
### Controller Version

0.22.0

### Helm Chart Version

_No response_

### Deployment Method

Other

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your business is

[2022-05-18 00:00] mumoshu commented on #1457
@danyoungwu Good catch!

This isn't a bug, as the feature to differentiate RBAC resources' scope according to the watch namespace has never been implemented. But it definitely sounds like a valid feature request!

If you're familiar with how RBAC works and helm charts, it would be great if you could consider submitting a pull request to add it!

AFAIK, it should mostly be a matter of whether to us

[2022-05-18 05:34] alex-vmw commented on #1457
@mumoshu While dynamically switching from the ClusterRoleBinding to a RoleBinding is important for ease of use, that can be done by the users manually if needed. What isn't easily fixed by the users is the fact that actions-runner-controller is trying to query objects on the cluster level instead of the namespace level when `--watch-namespace` is specified. Someone needs to change the code of the

[2022-05-18 05:57] mumoshu commented on #1457
@alex-vmw Ah, thanks for clarifying! That makes sense. I thought there were a few places we call the `List` func without limiting the namespace so it might need to be updated.

[2022-05-18 07:48] bl02 commented on #1295
Hi @mumoshu @toast-gear I still see the same "token expired" and pod CrashLoopBackOff error in ARC version 0.23.0.

I installed ARC version 0.20 in Dec 2021. Everything was working fine till May 13, 2022. Pod stuck on CrashLoopBackOff state. I saw the following error messages in the pod log.

[code]
[code]
Then I uninstalled helm actions-runner-controller, deleted all summerwind relevant CRD, and

[2022-05-18 08:06] mumoshu commented on #1295
@bl02 Hey! If the issue still persists after reinstalling ARC and all the runner pods had been recreated, it's more likely that something has gone wrong in your GHES instance.
Could you verify all the runner pods are actually gone after you uninstalled ARC? If not, please remove runner pods and see how newly create runner pods behave. Thanks.

[2022-05-18 08:08] mumoshu commented on #1295
@bl02 Also, you'd better ask GitHub support as well. It it reproduces after recreating runner pods, it's more likely it's not specific to ARC or K8s.

[2022-05-18 08:10] mumoshu commented on #1295
Just curious, but how did you confirm you actually installed ARC 0.23.0? Can you share the relevant part of your values.yaml?

[2022-05-18 08:16] bl02 commented on #1295
Thanks for your fast response. Yes, all the runner pods were removed successfully before I reinstalled ARC. I also installed ARC 0.23 in a new fresh new K8S cluster, same error. I just wonder why GHES3.2 was working fine with ARC before. Our GHES instance didn't have update recently.

[2022-05-18 08:22] mumoshu commented on #1295
@bl02 Thanks. ARC works by calling some GitHub API to obtain registration token that is then passed to each runner pod so that `actions/runner` ran within the pod's container can use it to actually call the runner registration API.
If the runner pod recreated after a fresh install of ARC, it can't grab an outdated registration token- the only viable cause could be that your GHES instance is return

[2022-05-18 08:27] bl02 commented on #1295
I executed "helm repo update" before reinstall. Now in helm list, I can see APP Version is 0.23.0

[code]
If I describe the deployment actions-runner-controller, I can see the following information:
[code]

[2022-05-18 08:37] mumoshu commented on #1295
@bl02 Thanks. Could you also make sure that you don't have `image.tag` set in your values.yaml?

[2022-05-18 08:57] bl02 commented on #1295
@mumoshu I don't have `image.tag` set. In pod log, the image tag is `v0.23.0`

[code]

[2022-05-18 12:42] MichaelSp commented on #1295
@mumoshu @bl02 Regarding the GHES instance. It runs on a GCP hosted VM. NTP is enabled so the system clock shouldn't be off. Anything else we can check?

[2022-05-18 14:58] roshvin opened #1459 "runners/job hangs if more than 15 jobs run at a time"
### Controller Version

0.18.0

### Helm Chart Version

0.18.0

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your business is so crit

[2022-05-19 00:21] mumoshu commented on #1459
@roshvin What do you mean by `runners/job hangs`?

[2022-05-19 00:36] mumoshu commented on #1295
@MichaelSp Hey! Unfortunately, none from my end. Have you already asked GitHub support about that? The only possible reason I can come up with that your GHES instance is returning outdated registration token in the first place, which shouldn't happen, no way to be handled by ARC.

[2022-05-19 07:14] roshvin commented on #1459
Hi @mumoshu  thanks for your replay.
i am running a workflow with 9 jobs . if i run one time it will complete in 3 min.
![image](https://user-images.githubusercontent.com/11057966/169224230-6cedaae0-5269-4543-a010-ae4d517cee54.png)

but when i run same workflow 5 times at  same time .
1. some jobs fails.
2. some workflow run takes 19 min compared to 3 min when it only run one time.

![image](https

[2022-05-19 07:21] mumoshu commented on #1459
@roshvin What are the error messages shown in GitHub for failed jobs?
Also, how many runner pods had been created by ARC when you triggered 5 runs at once?

[2022-05-19 08:38] roshvin commented on #1459
Hi @mumoshu  thanks for checking this .
when i trigger 5 jobs we are getting 5 runners created by HRA and getting assigned to the jobs.
Then for some jobs we are seeing below error ( showing space issue).

![image](https://user-images.githubusercontent.com/11057966/169248413-a6ac4d88-088d-4923-8ed3-4d0e03f8b025.png)

some jobs keep on running without any error for like 15 min
![image](https://user

[2022-05-19 08:57] mumoshu commented on #1459
@roshvin Thanks. According to the error you shared, it's very unlikely to be a bug! Can we close this and keep the discussion in https://github.com/actions-runner-controller/actions-runner-controller/discussions/1456?
TL;DR; the work volume that is hosting the directory targeted by the failing `tar` command is backed by K8s emptyDir by default. https://kubernetes.io/docs/concepts/storage/volumes/#

[2022-05-19 09:04] mumoshu commented on #1459
I've added some additional information to the discussion. Perhaps you're mounting your partition onto a wrong path? 🤔

[2022-05-19 09:04] #1459 closed

[2022-05-19 12:25] MichaelSp commented on #1295
I found something interesting in the GHES logs:

`"ExceptionMessage":"Ephemeral runners are not supported in this version of GHES or GitHub Actions"`

We are running GHES 3.2. Looks like we have to wait for [3.3](https://docs.github.com/enterprise-server@3.3/admin/release-notes#ephemeral-self-hosted-runners-for-github-actions--new-webhooks-for-auto-scaling).

[2022-05-19 14:29] toast-gear commented on #1295
@MichaelSp  we're rmoving support for the `--once` flag extremely extremely soon https://github.com/actions-runner-controller/actions-runner- controller/issues/1196, you will to implement one of the suggested solutions soon to avoid an outage

[2022-05-19 14:37] BeyondEvil commented on #1413
I see @ethomson, thanks for making that clear(er).

I do have one question tho, if I understand correctly, it's not the `summerwind/actions-runner-dind` image that I have to bump, it's basically setting `DISABLE_RUNNER_UPDATE` to `false` (or omitting it, since `false` seems to be the default).

Would a consequence of _not_ updating the summerwind image, be that the runner will be updated on every

[2022-05-19 15:40] ethomson commented on #1413
Correct. Once the runner is out of date it will update itself before any job is run. It will add unnecessary network ingress and a delay in starting every job.

[2022-05-19 16:13] toast-gear commented on #1413
Keep your runner images current. I mean it's not so much best practice as enforced by GitHub. Much of the Actions logic to support a new feature is in the actions/runner software and so it needs to be current to support new features, that's why they enforce people updating with a short 30 day grace period. We automatically build a new image if actions/runner produce a new release so you either nee

[2022-05-19 17:32] toast-gear commented on #1413
Yup, it's probably easier to reference an immutable tag and automating bumping it but it's all quite environment specific, people deploy and manage runners is lots and ways

[2022-05-19 17:35] BeyondEvil commented on #1413
Thanks, this was really helpful! I now have a path forward. 🙇

With a little luck I can trigger a workflow based on new releases in the actions/runner repo.

[2022-05-19 19:14] dennybaa commented on #1057
Hello @mumoshu , please hold this one, it's really unclear

Bump into this as well v0.23.0 (orgwide):

[code]

I have specifically validated `gh api /repos/{owner}/{repo}/actions/runs` all are in `status == completed`, however TotalNumberOfQueuedAndInProgressWorkflowRuns showing false number of desired pods!
[code]

[2022-05-20 01:18] mumoshu commented on #1057
@dennybaa Hey! I have never tested enabling both PercentageRunnersBusy and TotalNumberOfQueuedAndInProgressWorkflowRuns at the same time. How would it work? 🤔
Also, could you share the full RunnerDeployment and HorizontalRunnerAutoscaler YAMLs?

[2022-05-20 01:29] mumoshu commented on #1295
@MichaelSp Ah thanks! That makes sense. We recently made `--ephemeral` the default in our runner image. Although we'd highly recommend you to upgrade GHES ASAP, to be clear and to be fair, we did add an escape hatch for GHES 3.2 users. That is, you can set `RUNNER_FEATURE_FLAG_ONCE=true` in runners to force the use of `--once` #1384.

[2022-05-20 01:33] mumoshu commented on #1295
// BTW, unfortunately, this turned out to be an umbrella issue of 3 different issues. This happens so often and that's why I enabled the lock app on this repo(https://github.com/actions-runner-controller/actions-runner-controller/blob/master/.github/lock.yml) but apparently, it isn't working? 🤔

[2022-05-20 07:09] dennybaa commented on #1057
Hey @mumoshu,

First of all very right, I do not expect  `DESIRED=1`.

Elaborating further, initially it was only _TotalNumberOfQueuedAndInProgressWorkflowRuns_, but it had the same effect. As it's stated when there are two, only if the primary rule _PercentageRunnersBusy_ gives 0 the secondary kicks in, and it indeed looks so.

My goal is to scale from 0 and evidently I don not expect to scale up

[2022-05-20 07:21] dennybaa commented on #1057
And this is really looks so through the night when are no ci jobs scheduled at all, note `7h53m` a runner is always up:
[code]

[2022-05-20 07:59] mumoshu commented on #1057
@dennybaa Thanks! Would you mind sharing the full manifest, without removing e.g. metadata.name, so that I'm more confident you've no mistakes in your config.

Also, it would be good idea to review your controller logs, as it usually prints what the desired replicas ARC calculated, and why.

[2022-05-20 08:55] dennybaa commented on #1057
@mumoshu Sure edited, the existing pod. Yup, exactly these two:

[code]

[2022-05-20 08:57] mumoshu commented on #1057
Thanks. Seems good so far. How about controller logs?

[2022-05-20 08:59] dennybaa commented on #1057
Here's a larger slice:

[code]

[2022-05-20 17:11] john-yacuta-submittable commented on #893
I am running into the same issue @ghostsquad is facing where the `Set up Docker Buildx` step is hanging. Below is the workflow I am running on `self-hosted` runners in Kubernetes that I believe is using the Docker Image `summerwind/actions-runner:latest`. I am also unable to see any logs even when including the flag option `buildkitd-flags: --debug`.

I have tried the following solutions and am st

[2022-05-20 19:10] alex-vmw commented on #1457
@mumoshu Do you know if someone can produce a fix for this (on the controller side, not ClusterRoleBinding/RoleBinding side) as we don't have Go expertise? We have a number of urgent use-cases where users only have access to namespaced k8s objects, but want to run actions-runner-controller. Thank you in advance.

[2022-05-20 22:32] mumoshu commented on #1457
@alex-vmw We won't be implementing this soon and there's no estimated EDD, as we are currently working on releasing 0.24.0 and we already have all the tasks occupied up until the release after the next: https://github.com/actions-runner-controller/actions-runner-controller/milestones

Also- is it urgent enough that you can consider [sponsoring our work](https://github.com/sponsors/actions-runner-c

[2022-05-20 22:37] mumoshu commented on #1057
@dennybaa Thanks! So `Suggested desired replicas of 1 by TotalNumberOfQueuedAndInProgressWorkflowRuns	{"workflow_runs_completed": 0, "workflow_runs_in_progress": 0, "workflow_runs_queued": 1,` does seem to say that you still have a job that is hang in `queued`.

Have you ever tried checking responses from GitHub API related to it? I guess, either of `list workflow runs` or `list workflow jobs` wil

[2022-05-21 05:13] mumoshu commented on #1172
@Nuru The registration token eventually expires so it won't work in long run. Also, webhook delivery isn't guaranteed having an option to combine webhook-based autoscaling with metrics-based autoscaling might be useful for some folks(although not required).

[2022-05-21 06:06] dennybaa commented on #1057
Thank you @mumoshu! I have indeed checked thoroughly paginating through all of the pages and there was one workflow dangling, I deleted it and:

[code]

Thank you again! :pray:

[2022-05-22 07:25] mumoshu commented on #1298
We've managed to score 8.2 out of 10 now.

<details>

[code]
</details>

I think it's the best we can do today.
Please raise another issue if you have more ideas.
Thanks!

[2022-05-22 07:25] #1298 closed

[2022-05-23 02:10] #1275 closed

[2022-05-23 14:14] cablespaghetti commented on #1321
Hi @genisd. Are you able to share your code? I was trying to set up a mixture of webhook and PercentageRunnersBusy scaling in our environment but have an issue where the webhook scaled pods all need to have completed before PercentageRunnersBusy can do anything, and then it scales to our maximum count immediately 🤷

We're running at quite a small scale right now so your mutex option could do the j

[2022-05-23 20:02] Nuru commented on #1172
@mumoshu I had heard that the token lasted longer, but now I found [official documentation](https://docs.github.com/en/rest/actions/self-hosted-runners#create-a-registration-token-for-a-repository) that says the token generated on the web page is only valid for 1 hour, so you are right, it is not a solution. Thank you for the explanation.

[2022-05-23 21:51] Gentoli commented on #336
Have the a similar issue when the container is not running as root.

[code]

[code]

I think it's a mount setup by github actions.

Some other info:
from the runner
[code]

from job (container)
[code]

[2022-05-23 22:11] genisd commented on #1321
I can give you the code, but running webhook mixed with PercentageRunnrsBusy hasn't really worked for me (I have tried).
So far the best setup is like, to set a decent scaledown delay.

I'll share the code tomorrow

[2022-05-23 23:12] phil-immutable commented on #1001
Hi @GoranHalvarsson @antgrutta @isarkis - I have Windows runners working in AWS EKS using a similar Docker image and a few cluster modifications. However the HorizontalRunnerAutoscaler for the windows-runners isn't working, is this working for you?

[2022-05-23 23:14] philqa commented on #1001
Hi @GoranHalvarsson @antgrutta @isarkis - I have Windows runners working in AWS EKS using a similar Docker image and a few cluster modifications. However the HorizontalRunnerAutoscaler for the windows-runners isn't working, is this working for you?

[2022-05-23 23:53] mumoshu commented on #336
@Gentoli Thanks a lot for sharing! Would you mind submitting a dedicated issue so that we can actually work on fixing it? (We don't regularly review closed issues so random issues commented in the existing issues would never be actually addressed, unfortunately...

Re the issue, `__t` does seem to be owned by `root` so it should be inaccessible by the `docker` user. It will never work. But then, t

[2022-05-23 23:56] mumoshu commented on #1172
@Nuru Thanks for confirming! Let's ask GitHub to add more granular permission for that so that we no longer need admin access.

[2022-05-24 00:01] Gentoli commented on #336
Having a second look on it, `__t` in the job container is binding to `/opt/hostedtoolcache` in the `docker` container in the pod. So this is the actual permission is:
[code]
This is probably why it can be read/bind by docker (and owned by `root:root` in the container).

Let me know if you prefer a separate issue than reopening this.

[2022-05-24 00:09] mumoshu commented on #336
@Gentoli Thanks! I'd prefer another issue, as that's different from the one originally reported in this issue.

[2022-05-24 00:13] mumoshu commented on #336
@Gentoli Ah, so are you basically saying that reverting #337 entirely is the way to go? (As, perhaps, we now noticed that the correct group for hostedtoolcache is actually `runner`(gid 1000) instead of `docker`?

[2022-05-24 00:45] Gentoli opened #1476 "Bug `hostedtoolcache` has bad permission in container job"
### Controller Version

63be0223

### Helm Chart Version

63be0223

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your business is so

[2022-05-24 00:53] mumoshu commented on #1476
@Gentoli OOT, but `storageClassName: longhorn` seems too general. AFAIK, statefulset (which powers RunnerSet) reuses existing PV as long as storageClassName matches and the volume has more capacity than requested. Imagine a case when you had two volumeClaimTemplates, one for `hostedtoolcache(just for example) and one for `/var/lib/docker`. Specifying `storageClassName: longhorn` for both vc templa

[2022-05-24 01:02] Gentoli commented on #1476
@mumoshu

If I do this:
<details>
  <summary>RunnerSet</summary>

[code]

</details>

It will create two PVC per pod:
[code]

[2022-05-24 01:56] VinGarcia commented on #1352
Keep it up, we are almost merging the last PR.

[2022-05-24 17:23] john-yacuta-submittable commented on #893
@rlinstorres are you running the self-hosted runners in Kubernetes? I tried this solution as well and got the same result.

[2022-05-24 18:55] isarkis commented on #1001
Same here, only tried static windows runner.

[2022-05-24 23:24] philqa commented on #1001
Thanks for your replies @ttasharski73, @isarkis. I managed to get this working in EKS after re-reading the comments above/your forks, creating and deploying my own actions-controller and a few more minor modifications.

[2022-05-25 01:59] mumoshu commented on #1067
@casanova-21 Hey! #1371 is the PR for the new feature to let ARC handle multiple GitHub App installations across organizations, without [requiring one-ARC-per-org](https://github.com/actions-runner-controller/actions-runner-controller/issues/1067#issuecomment-1043716646). It's planned for ARC 0.25.0 so probably we'll be able to merge it within a month.

To fully resolve our original issue, we'd st

[2022-05-25 08:06] rlinstorres commented on #893
Hi @john-yacuta-submittable, let me send you more information about my environment to clarify and also help you!

- A snippet of my Dockerfile:
[code]
- I am using EKS version: `v1.21.9` (`--enable-docker-bridge true --container-runtime containerd`
- `actions-runner-controller` helm chart version `0.17.3`
- `RunnerDeployment` and `HorizontalRunnerAutoscaler` manifest files using my docker image
-

[2022-05-25 12:10] toast-gear commented on #1377
https://docs.github.com/enterprise-server@3.5/admin/release-notes#self-hosted-runners-for-github-actions-can-now-disable-automatic-updates GHES 3.5 introduces support for the `--disableupdate` flag

Historically Actions didn't have proper container support and enforced the runner software being always at the latest, neither of these 2 things are true anymore once GHES 3.5 becomes generally avaliab

[2022-05-25 12:24] toast-gear commented on #1362
I'm going to consider this ticket complete now we have base documentation for the new RunnerSets complete, cheers for your contributions in testing the feature!

[2022-05-25 12:24] #1362 closed

[2022-05-25 12:49] JCMais opened #1483 "Cannot specify GPU limits in the runner"
### Controller Version

0.23.0

### Helm Chart Version

_No response_

### Deployment Method

Kustomize

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your busines

[2022-05-25 12:56] JCMais commented on #1483
nvm, this seems to be working now, I've no idea why it did not add the limit initially. lol

[2022-05-25 12:56] #1483 closed

[2022-05-25 15:21] cablespaghetti commented on #1321
From my limited testing this branch does seem to work reliably. Thanks! 🎉

I am getting a LOT of log messages about unrelated PVCs/PVs when I'm not using persistent volumes with my runners though, but that's unrelated I imagine.

[code]

[2022-05-25 15:33] john-yacuta-submittable commented on #893
Thanks @rlinstorres! I managed to resolve my issue. It was an interesting case where I redeployed the node groups in the cluster. After redeployment, they worked just fine. Perhaps it could work for someone else too.

I typically don't like this solution, but we did see that the step in the CI where it was getting stuck was with the file system/kernel level so it was possible the host the self-hos

[2022-05-25 17:14] toast-gear commented on #1413
@BeyondEvil if you do end up getting something together sharing what you can as a [show and tell in discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions/categories/show-and-tell) is always welcomed!

[2022-05-25 17:30] TheDarkula commented on #1362
@toast-gear Sure thing!

[2022-05-26 02:04] mumoshu commented on #1286
I'm closing this as resolved. Please see the documentation added via #1464 for how to use the new feature. We've documented usages for var/lib/docker caching, go mod/build caching, and ephemeral pv for the work dir.
Please try it and contribute bug fixes and more guides for caching(like rust build cache and ruby gem cache)!

[2022-05-26 02:04] #1286 closed

[2022-05-26 02:06] mumoshu commented on #1196
We ended by making `--ephemeral` the default and adding the new option to stick with `--once` instead.
We'll probably leave the new option for a while, but don't expect it to work forever. GitHub Actions and actions/runner may eventually remove the support for `--once`.
Before they remove it, upgrade to a newer version of GHES, ASAP!

[2022-05-26 09:23] mumoshu commented on #1321
@cablespaghetti Thanks for testing! Glad to hear it worked for you.

Regarding excessive logs for PVCs and PVs, that's indeed a bug we introduced via another unrelated change! It's going to be fixed via #1487. Thanks again for reporting 🙏

[2022-05-26 09:39] cablespaghetti commented on #1321
I am unfortunately getting quite a few queued jobs which aren't getting pods today :( So it might be better than before but not 100% fixed. Could this be due to me running two instances of the webhook pods and two of the controller or should that work ok?

[2022-05-26 19:19] evan-hines-firebolt opened #1490 "Servicemonitor - Configurable namespace"
**Is your feature request related to a problem? Please describe.**
The service monitor should be deployable into a custom namespace.

**Describe the solution you'd like**
I would like to be able to set the serviceMonitorNamespace in the values.yaml file,

I'd be happy to implement if we agree on an API.

**Describe alternatives you've considered**
Possibly just deploy to {{ .Release.Namespace }} a

[2022-05-27 00:03] mumoshu commented on #1196
Let's keep this open until we completely remove the support for `--once`.

[2022-05-27 10:05] toast-gear opened #1494 "Create dedicated implentation docs"
Ref https://github.com/actions-runner-controller/actions-runner-controller/discussions/1485

With the new logic we should probably remove the `Runner` kind from the user docs as the kind no longer supports the `ephemeral: true` feature really, this is by design. The `Runner` kind should now be viewed as an implementation detail with end users deploying abstractions (`RunnerDeployment` and `RunnerS

[2022-05-27 14:10] michael-kopsho commented on #1322
Hi @mumoshu , we can close this issue. We had misconfigured `scheduledOverrides` to change `minReplicas` to `1` on Fridays during business hours, which was not the desired behavior. We've since fixed it after implementing some monitoring which helped us see the issue more clearly. Thanks for your help here!

[2022-05-27 19:20] casanova-21 commented on #1067
@mumoshu Hey 👋 Thank you so much for working towards getting this addressed. I'm starting internal conversations here around this PR. Out of the two items you'll need that you listed, it's far more likely we'll get that API rather than the enterprise-wide GitHub app capability. Let me talk to the Actions team here to see what they think and will get back to you.

[2022-05-29 02:13] #1335 closed

[2022-05-29 02:13] #1235 closed

[2022-05-29 23:59] mumoshu commented on #1322
@michael-kopsho Thanks for reporting back!

[2022-05-29 23:59] #1322 closed

[2022-05-30 00:45] mumoshu opened #1497 "Thanks for sponsoring me, HelloFresh!"
We don't currently have [any sponsors dedicated to this project yet](https://github.com/sponsors/actions-runner-controller).

However, a company called [HelloFresh](https://www.hellofreshgroup.com/en/) has recently started sponsoring @mumoshu for this project along with his other works. A part of their sponsorship will enable @mumoshu to add an E2E test to keep ARC even more reliable on AWS.

Than

[2022-06-01 23:08] shadiramadan commented on #1317
I do think it would help to distribute the CRDs separately.

[2022-06-03 07:18] marcofranssen opened #1502 "Publish on artifacthub.io"
**Is your feature request related to a problem? Please describe.**

For better discoverability and just an additional entrypoint to this project it would be great to also publish the releases at [artifacthub.io](https://artifacthub.io/).

**Describe the solution you'd like**

It would be great if this controller and helm charts can be published on [artifacthub.io](https://artifacthub.io/).

See ht

[2022-06-03 08:35] swathida-byte opened #1503 "Unable to use custom image for action-runner-controller"
I'm using chart version v.22.0 and I have downloaded action-runner-controller of that version and pushed to my docker registry and tried changing values.yaml file and added below part of code
dockerRegistryMirror: "***.com"
  image:
    repository: "***.com/releng/actions-runner-controller"
    tag: "v0.22.0"
    actionsRunnerRepositoryAndTag: "***.com/releng/custom-runner:1"
    dindSidecarReposi

[2022-06-03 09:37] mumoshu commented on #1503
I think you get `exec format error` when you tried to run a binary for the wrong os/arch. Perhaps you built/pushed a wrong binary/image. Please check your build process.

[2022-06-03 09:37] #1503 closed

[2022-06-04 07:56] swathida-byte commented on #1503
I pulled  using this docker pull summerwind/actions-runner-controller:v0.22.0 and pushed it to my docker registry , didnot make any changes in image

[2022-06-05 04:53] mumoshu commented on #1503
@swathida-byte This is how we built/pushed the v0.22.0 image. Please check if your container image repository supports multi-arch images or if your k8s node is not amd64 or arm64.

[2022-06-05 21:25] toast-gear commented on #944
[v0.24.0](https://github.com/actions-runner-controller/actions-runner-controller/releases/tag/v0.24.0) introduces full support for RunnerSets (backed by StatefulSets) and documentation for caching docker layers was [produced](
https://github.com/actions-runner-controller/actions-runner-controller#docker-image-layers-caching) as part of this feature. We can consider this done.

[2022-06-05 21:25] #944 closed

[2022-06-05 21:28] #519 closed

[2022-06-06 00:09] mumoshu commented on #1304
@lovesegfault Hey! Still curious, but did you actually see the same error, `Failed to create a session. The runner registration has been deleted from the server` in your runner logs when it happened? 🤔

[2022-06-06 00:17] mumoshu commented on #1304
@cspargo @lovesegfault Would you mind sharing the output from `kubectl get po -o yaml` on a crash-looping pod so that I can better understand what's going on?

The context is that ARC already has a logic to detect runner pods that are timed out while waiting for registration and it's somehow not working. Probably we'd need to consult `kubectl get po -o yaml` output and see what's missing in the co

[2022-06-06 09:01] raunyoliveira-hotmart commented on #1321
@mumoshu

I've updated to the latest version (0.24.0) using helm and I'm seeing errors related with pvcs:

[code]

Those pvcs are from an application unrelated with ARC, is this expected?

Thank you!

[2022-06-06 23:40] mumoshu commented on #1321
@cablespaghetti Ah, good catch! That must be the thing that isn't handled by my quick fix. Let me add one more fix so that it can use optimistic locking on HRA spec update to fully fix the race, and perhaps batching updates happened in several seconds so that it won't stress  your K8s API server a lot.

[2022-06-06 23:49] mumoshu commented on #1321
@raunyoliveira-hotmart That's one of the expected debug log messages so you shouldn't worry about it! (Note that our helm chart enables the debug logging by default

[2022-06-08 10:33] shaikatz opened #1511 "Controller looks like trying to delete PV not belongs to him"
### Controller Version

0.24.0

### Helm Chart Version

0.19.0

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your business is so crit

[2022-06-08 14:35] rjeczalik commented on #1511
This reproduces for me even if I set `scope.singleNamespace=true`, the pv-controller does not ignore cluster-scoped pv's. I think @shaikatz can confirm that in his case the `/pvc-66f7edd0-5a6c-4b4c-81e4-26d9fdf886c0` is also cluster-scoped.

[2022-06-08 16:34] VinGarcia commented on #1393
@kmlevy the PR I created was now merged maybe it fixes the issue you experienced here:

https://github.com/actions-runner-controller/actions-runner-controller/pull/1354

If it does we might proceed to close this ticket maybe

[2022-06-08 16:36] VinGarcia commented on #1352
@rushikeshkalyani the PR https://github.com/actions-runner-controller/actions-runner-controller/pull/1354 was merged so I will just close this ticket.

Thanks for the help and sorry for not including you on the PR, I made a mess with the mentions there.

[2022-06-08 16:36] #1352 closed

[2022-06-08 17:48] ionutzaharia commented on #1511
I also have the same issue, it's trying to delete a PVC that is from a non-related namespace.

[2022-06-09 01:28] mumoshu commented on #1511
Hey everyone. In short, it's not trying to delete any resource. It's just a debug message to let you know that ARC did recognized the PV and still waiting to decide whether it needs to handle the PV or not.

https://github.com/actions-runner-controller/actions-runner-controller/blob/a62882d243fd8a3cd7901f72b99beeb92cc4e629/controllers/sync_volumes.go#L151

[2022-06-09 01:32] mumoshu commented on #1511
I believe this isn't actually a bug like reported. However I'm still open to suggestions like... should we rephase the log message in a way so that it's less confusing, or hide it behind a more verbose log level so that it doesn't show up by default(btw, the default log level is DEBUG in ARC's official chart so that might be the reason why many folks are seeing it).

[2022-06-09 04:33] MattMencel opened #1515 "Runner Deployment pods in NotReady state after job completion"
### Controller Version

0.24.0

### Helm Chart Version

0.19.0

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers if your business is so crit

[2022-06-09 05:22] mumoshu commented on #1515
@MattMencel Thanks for reporting! Could you also share (1) your previous chart version before upgrading and (2) your helm  values.yaml file used for the helm release?
I'm now wondering if you skipped 0.23.x and that somehow resulted in dangling runnerreplicaset(s)? 🤔 I'm not certain, but I think runnerdeploymetns and runners seem to be working fine according to your logs so the only thing left is

[2022-06-09 06:14] mumoshu commented on #1515
@MattMencel How did you upgrade CRDs, btw?

[2022-06-09 07:23] #1057 closed

[2022-06-10 00:11] rjeczalik commented on #1511
@mumoshu Out of curiosity, why the pv reconciler even recognizes PV that do not belong to its namespace? (a case where the controller is configured with `scope.singleNamespace=true`)

[2022-06-10 00:26] mumoshu commented on #1511
@rjeczalik AFAIK, PVs are not namespaced. Perhaps I'm missing something and you might be successfully using PVs with namespaces?

[2022-06-10 00:49] rjeczalik commented on #1511
@mumoshu Right, you're correct. Thanks for the explanation 🤗

[2022-06-10 00:50] mumoshu commented on #1515
@MattMencel Thanks for reporting back! Still unsure what's going on- Would you mind sending me an output of `kubectl get po -oyaml` for one of NotReady runner pods? It should have `deletionTimestamp` set to be removed. If it isn't set for whatever reason, it might hang like that.

[2022-06-10 03:53] MattMencel commented on #1515
[code]

[2022-06-10 04:34] mumoshu commented on #1515
@MattMencel Thanks! It's super interesting that your pod doesn't have "deletionTimestamp" set 🤔

[2022-06-10 10:41] lukens commented on #1291
This sorted it for me too, but I had spent quite a while trying to debug this. Is it maybe worth putting a warning in the README that it'll only run one job then hang in `NotReady` is using a `Runner` rather than a `RunnerDeployment`?

[2022-06-10 11:42] nuteee commented on #1511
@mumoshu rephrasing the log message would be great as it currently suggests that it either gets removed by ARC, or I should manually remove those PVCs, while neither is true.

[2022-06-12 13:49] dani-newman commented on #1304
Same here.

[2022-06-12 14:41] toast-gear commented on #1374
Ref https://github.com/actions-runner-controller/actions-runner-controller/issues/1304

Just linking this with issue #1304 as they are related issues

[2022-06-13 02:13] #1376 closed

[2022-06-13 13:30] mumoshu commented on #1511
@nuteee Thanks for your feedback! Would it look better with #1526?

[2022-06-13 13:52] nuteee commented on #1511
@mumoshu much better, thank you!

[2022-06-13 18:02] klepiz opened #1527 "failed calling webhook "mutate.runnerdeployment.actions.summerwind.dev ... lscontext deadline exceeded"
### Controller Version

actions-runner-controller-0.19.0

### Helm Chart Version

0.24.0

### Deployment Method

Helm

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with any of contributors and maintainers i

[2022-06-13 23:27] mumoshu commented on #1527
@klepiz Hey! This shouldn't be a bug in ARC. `context deadline exceeded` in this context basically means that your K8s control plane was unable to access the K8s service that is serving the admission webhook, which implies your cluster has a connectivity issue between the control plane and the pods.

I'd suggest checking pod-to-pod connectivity and the control-plane-to-pod connectivity, then pod-t

[2022-06-13 23:55] klepiz commented on #1527
Im kind of new on k8s and not sure how to check `pod-to-pod connectivity and the control-plane-to-pod connectivity` and btw Im having something similar than this  https://github.com/actions-runner-controller/actions-runner-controller/issues/933#issuecomment-960337751 but I already try to delete the redundant for `mutatingwebhookconfiguration`  and `validatingwebhookconfiguration` but keep failing

[2022-06-14 00:06] mumoshu commented on #1527
It won't work without `mutatingwebhookconfiguration` and `validatingwebhookconfiguration` so I don't recommend removing them!
You can check pod IPs by running `kubectl get po -o syaml` and seeing the pod IP under the `status` fields. You can then exec into any of the pods or create new pod (that has `bash` or some other shell built into the container image) and run `kubectl exec -it $POD_NAME bash

[2022-06-14 00:14] klepiz commented on #1527
[code]

[2022-06-14 00:16] mumoshu commented on #1527
@klepiz You need to check if the K8s control-plane is able to access other pods or K8s services(' cluster IPs). So execing into ARC's controller-manager pod doesn't much sense to me. You'd instead find control-plane pods in the `kube-system` namespace.

[2022-06-14 00:20] klepiz commented on #1527
ah, well I have GL runners on that k8s cluster and works fine so it shouldn't be a communication issue

[2022-06-14 00:26] klepiz commented on #1527
also Im getting this
[code]

[2022-06-14 00:27] mumoshu commented on #1527
Do GitLab runners require working admission(mutating or validating) webhooks? There're only a few K8s features that require the K8s control-plane to directly access the cluster loads, like an admission webhook. So there might be chances that you can run GitLab runners fine while unable to run anything that depends on admission webhooks.

[2022-06-14 00:28] mumoshu commented on #1527
This seems to indicate that you removed the validating webhook configuration from your cluster?

[2022-06-14 00:29] klepiz commented on #1527
no, sorry I used the incorrect name of my validatingwebhookconfiguration

[2022-06-14 00:30] mumoshu commented on #1527
Could you also share logs from the ARC's controller-manager pod? Also, are you sure you're running ARC 0.24.0?

There're what you shared initially:

And it looks like you're conflating ARC version with chart version. So I'm afraid you completely missed correctly choosing version numbers for ARC and the chart.

[2022-06-14 00:31] klepiz commented on #1527
![Screen Shot 2022-06-13 at 18 30 54](https://user-images.githubusercontent.com/56735755/173469039-270bd175-fddd-45f3-891f-61641183b47b.png)

[2022-06-14 00:34] mumoshu commented on #1527
Ok version numbers seem good

[2022-06-14 00:34] klepiz commented on #1527
[code]

[2022-06-14 00:36] mumoshu commented on #1527
@klepiz Maybe your cert-manager isn't installed correctly? It should provide a valid TLS certificate to ARC. I've never used bitnami's cert-manager chart so I can't say for sure what's going on there.

Is it supposed to work the same as the official cert-manager manifests/chart in the first place? 🤔

[2022-06-14 00:37] klepiz commented on #1527
yeah, it should be :/ but Im going to try with that one and see if there is any difference

[2022-06-14 00:38] klepiz commented on #1527
did you know if there is an specific steps or configuration that I should use for that one?

[2022-06-14 00:43] mumoshu commented on #1527
Nope. It should just work on a standard K8s cluster if you followed https://github.com/actions-runner-controller/actions-runner-controller#installation

[2022-06-14 02:14] klepiz commented on #1527
following this: https://cert-manager.io/docs/installation/helm/#2-update-your-local-helm-chart-repository-cache
[code]

[2022-06-14 02:48] klepiz commented on #1527
i fixed that

 ^^ I fixed by running this
[code]

and then I just got the same exact issue
[code]

[2022-06-14 04:51] mumoshu commented on #1527
Check ARC's controller logs. Also, i'd recommend a clean install of ARC

[2022-06-14 14:44] danxmoran opened #1533 "[Meta] Difficult/impossible to create issues using bug template"
### Controller Version

N/A

### Helm Chart Version

N/A

### CertManager Version

N/A

### Deployment Method

Other

### cert-manager installation

N/A

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with an

[2022-06-14 14:52] danxmoran opened #1534 "`RunnerSet` terminates pods even when they are still running jobs"
(Apologies for not using the bug template, I ran into #1533. Will attempt to recreate it)

### Controller Version
0.24.0

### Helm Chart Version
0.19.0

### CertManager Version
1.4.1

### Deployment Method
Helm

### cert-manager installation
Deploying `cert-manager` Helm chart from https://charts.jetstack.io

### Checks
- [x] Not a question / user support case
- [x] Read release notes
- [x] ARC ve

[2022-06-14 14:55] danxmoran commented on #1534
Controller logs: [arc.log](https://github.com/actions-runner-controller/actions-runner-controller/files/8900895/arc.log)

[2022-06-14 14:59] danxmoran commented on #1534
`Dockerfile` for the custom runner image we use:
[code]

The base image it builds on top of is essentially `python:3.8`, but built on Ubuntu instead of Debian

[2022-06-15 00:52] mumoshu commented on #1534
@danxmoran Hey! Could you confirm that it happens only when you manually deleted the pod like you explained in the reproduction steps? Then, it's working as intended anyway.

Our entrypoint.sh and apparently `actions/runner`, don't handle SIGTERM for graceful termination. Instead, we rely on ARC's controllers to call the runner unregistration GitHub API to ensure it's stopped before the pod is bei

[2022-06-15 00:56] mumoshu commented on #1527
And you're still seeing the below error?

[code]

Then the only possibility is that your kube-apiserver is somehow unable to access the K8s service of ARC's admission webhook server. Please ensure that your kube-apiserver is able to access K8s services (and their backend pods running on data-plane nodes).

[2022-06-15 01:14] danxmoran commented on #1534
@mumoshu ah, I was manually deleting the pod as a quick test for the termination grace behavior - your explanation for why it doesn't work makes sense.

You mention that rolling updates are supposed to be tolerant of long-running jobs - I started down this path of investigation because we recently switched from RunnerDeployments to RunnerSets, and then started seeing pods get killed midway through

[2022-06-15 01:25] mumoshu commented on #1534
Yep, that's an unexpected behavior!

In that case, it would be great if you could also share your `entrypoint.sh` referred from your Dockerfile.

Recently I have encountered that the use of an outdated entrypoint.sh resulted in passing `--once` instead of `--ephemeral` to the ephemeral runner's `actions/runner` agent, resulting in the terminating actions/runner to grab another job and ARC deletes

[2022-06-15 02:20] mumoshu commented on #1304
@AchalaDias @dani-newman @lovesegfault What's your ARC version? I now remember that I've already fixed this in 0.24.0 by changing the default runner pod restartPolicy to Never (previously it was OnFailure so it ended up restarting forever and ARC waited until it finally comes up, which in this case never happens)

[2022-06-15 02:27] danxmoran commented on #1534
I see it in the CRD definition for `RunnerSet` [here](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/config/crd/bases/actions.summerwind.dev_runnersets.yaml#L4226). I was able to set it and can see it in `kubectl get runnerset <name> -o yaml` output, but it doesn't seem to pass through to the underlying `StatefulSet` resources.

[2022-06-15 02:33] mumoshu commented on #1534
@danxmoran Thanks! Gotcha, we must omit that field... RunnerSet manages one or more StatefulSets by itself so StatefulSet's updatePolicy doesn't make sense for RunnerSet anyway.

[2022-06-15 02:40] mumoshu commented on #1511
Closing as resolved. Please feel free to open another issue if necessary! Thanks

[2022-06-15 02:40] #1511 closed

[2022-06-15 02:44] danxmoran opened #1535 "Pods created by `RunnerSet` are terminated while still running jobs on a rolling update"
### Controller Version

0.24.0

### Helm Chart Version

0.19.0

### CertManager Version

1.4.1

### Deployment Method

Helm

### cert-manager installation

Deploying `cert-manager` Helm chart from https://charts.jetstack.io/

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-c

[2022-06-15 02:47] danxmoran commented on #1535
Controller logs: [arc.log](https://github.com/actions-runner-controller/actions-runner-controller/files/8905275/arc.log)

[2022-06-15 02:48] danxmoran commented on #1535
`Dockerfile` for the custom runner image we use:
[code]

The base image it builds on top of is essentially `python:3.8`, but built on Ubuntu instead of Debian

[2022-06-15 02:50] danxmoran commented on #1535
The `entrypoint.sh` used by the image above is pulled from `actions-runner-controller/actions-runner-controller`, specifically [this file](https://raw.githubusercontent.com/actions-runner-controller/actions-runner-controller/ac27df83017e4cca65c5a712a6745428c3aec32a/runner/entrypoint.sh).

[2022-06-15 02:50] danxmoran commented on #1534
Opened #1535 for the rolling update problem. Linked the `entrypoint.sh` there as well.

[2022-06-15 02:51] #1534 closed

[2022-06-15 03:15] mumoshu commented on #1535
A bunch of `Runner has just been unregistered.` logs indicate that runner pods are unregistered before being deleted. So there might be issues in other places 🤔
Could you share one of runner pod logs before it gets terminated?

[2022-06-15 08:09] shinji62 commented on #1321
Hi, not sure is related but my HRA spec is full of capacityReservations, I don't see any of them being clean even after the expirations time pass. I am using k8s 1.21 and ARC 0.24.0

[code]

[2022-06-15 08:18] mumoshu commented on #1321
@shinji62 We do remove expired capacity reservations in https://github.com/actions-runner-controller/actions-runner-controller/blob/master/controllers/horizontal_runner_autoscaler_webhook.go#L786 so the only reason an issue like yours can happen would be that you have some clock skew! (but probably not
It would be great if you could read ARC's log and see what's happening, as it should contain whe

[2022-06-15 08:18] mumoshu commented on #1321
// Almost certainly it isn't related to this issue though

[2022-06-15 09:26] toast-gear opened #1538 "Bug"
### Controller Version

test

### Helm Chart Version

test

### CertManager Version

test

### Deployment Method

Helm

### cert-manager installation

test

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with

[2022-06-15 09:26] #1538 closed

[2022-06-15 12:07] danxmoran commented on #1535
This is all that's logged:
[code]
Logs I see mentioning the Pod I was watching:
[code]

[2022-06-15 12:48] mikejoseph-ef commented on #1527
same here

AWS EKS: 1.22.0
**APP VERSION: 0.24.1**
**CHART: ARC-0.19.1**

tried `kubectl delete ValidatingWebhookConfiguration general-1-gh-runners-actions-runner-controller-validating-webhook-configuration`
got:

my security group settings for EKS:
[code]

[2022-06-15 14:02] klepiz commented on #1527
yeah, Im still getting that issue

[2022-06-15 14:36] Uriende commented on #1321
We have a similar problem to the one mentioned in this issue but I'm not sure it's due to the same cause.
I did see the race condition happen once or twice in the logs but another theory.

Assuming a 10 jobs start and call the webhook 10 times and it would slowly start 10 new runners
If a different 2 job would finish at about the same time that would reduce the hra by 2
So we'll probably end up wi

[2022-06-15 15:54] dani-newman commented on #1304
@mumoshu yup, that was the version issue. Thank you!

[2022-06-15 16:50] lovesegfault commented on #1304
I haven't been able to reproduce this in a while, I think it's safe to consider it fixed :)

[2022-06-15 23:26] anithyusha opened #1542 "Runner pods failing to get/post the registration token"
### Controller Version

v0.19.0

### Helm Chart Version

_No response_

### CertManager Version

1.3

### Deployment Method

Kustomize

### cert-manager installation

yes the cert manager is installed correctly, and We are not seeing any issues with cert manager in our cluster

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://

[2022-06-16 00:49] nitrocode opened #1543 "Logo please"
**Is your feature request related to a problem? Please describe.**
I want to do a presentation and show off that I'm using the actions-runner-controller (ARC)

**Describe the solution you'd like**
Logo please

**Describe alternatives you've considered**
Creating one but I have poor graphics skills

**Additional context**
N/A

[2022-06-16 19:09] FalconerTC opened #1545 "Autoscaling on `CountRunnersBusy`"
**Is your feature request related to a problem? Please describe.**
I currently use `PercentageRunnersBusy` for autoscaling and it's working decently well but when a pool gets large (30+ runners) it results in a lot of extra waste when using a `scaleUpThreshold` of 75%. I would ideally like to see a count based `scaleUpThreshold` so that I can have a policy like "Always have 2 runners ready to rece

[2022-06-17 01:43] mumoshu commented on #1321
@Uriende Hey! Thanks for reporting. It might be the same issue. I'm going to complete https://github.com/actions-runner-controller/actions-runner-controller/pull/1477 shortly (as described in https://github.com/actions-runner-controller/actions-runner-controller/issues/1321#issuecomment-1148039896). After that I'd appreciate it if could give it a shot by building ARC from that branch and trying to

[2022-06-17 05:17] shinji62 opened #1547 "HRA spec is full of capacityReservations"
Moving this comment to his own issue,

Hi,  not sure is related but my HRA spec is full of capacityReservations, I don't see any of them being clean even after the expirations time pass. I am using k8s 1.21 and ARC 0.24.0

[code]

_Originally posted by @shinji62 in https://github.com/actions-runner-controller/actions-runner-controller/issues/1321#issuecomment-1156138455_

[2022-06-17 05:38] shinji62 commented on #1547
Here the logs around this time, not sure what is happening exactly.

[log2.txt](https://github.com/actions-runner-controller/actions-runner-controller/files/8924801/log2.txt)

[2022-06-17 05:49] mumoshu commented on #1547
@shinji62 Hey! `Last Successful Scale Out Time:  2022-06-17T05:11:41Z` and your oldest capacity reservation with `Expiration Time:  2022-06-17T05:16:09Z` seem to indicate that It's working as intended.

You've configured scale up trigger duration to 5m according to `Duration:  5m` and that basically means it expires only after `5m` after the reservation was created. The reservations will be remove

[2022-06-17 07:26] shinji62 commented on #1547
Ok, so what is your recommendation ? decrease the sync period ?or the duration ?

[2022-06-17 07:47] mumoshu commented on #1547
@shinji62 I think that depends on your requirement. What's your real problem? Are you feeling like your runner pods are hanging around too long? In that case, you should use ARC's webhook-based autoscaling, rather than pull-based scaling, because the webhoko-based autoscaling can "cancel" previous capacity reservations on Actions workflow job complemention.

[2022-06-17 08:35] shinji62 commented on #1547
I think I use the webhook scaling based on check runs.

[2022-06-17 08:38] mumoshu commented on #1547
@shinji62 You'd better use `workflow_job`-based scaling. check_run based scaling is legacy and remaining there only for backward compatibility and we aren't going to enhance it as it is just redundant today as we have `workflow_job`.
Also, only `workflow_job` supports cancelling capacity reservation on scale down.

[2022-06-17 08:49] shinji62 commented on #1547
My only issue is I used runner-groups for almost everything and according to the docs he doesn't work with workflow_job ?

[2022-06-17 09:23] mumoshu commented on #1547
@shinji62 No? Probably it's a chance for you to contribute a fix for that documentation if you really saw that somewhere 😄

[2022-06-17 20:29] fafg opened #1550 "[bug] Using a custom image it initialize 2 containers"
### Controller Version

0.24.1

### Helm Chart Version

0.19.1

### CertManager Version

1.8

### Deployment Method

Helm

### cert-manager installation

I have set up cert-manager properly and from the official source.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-contro

[2022-06-17 21:31] fafg commented on #1550
Sorry guys, this is not a bug. It was a misunderstanding on my part. The RunnerDeployment has it's way of being written and I passed it through without well and deserved attention.

I solved using a new yaml deployment file like this:

[code]

[2022-06-17 21:31] #1550 closed

[2022-06-18 00:46] ColinHeathman opened #1551 "More runner and workflow metrics"
**Is your feature request related to a problem? Please describe.**

As an ARC operator, I want to be able to monitor and alert on the status of the runners I manage. It would be convenient if these metrics were bundled as a part of the ARC deployment instead of using another 3rd part adapter

A few things that would be interesting & actionable:

#### runner status & availability
- runner startup t

[2022-06-18 00:49] ColinHeathman commented on #1551
Is this within the scope of ARC? If so I am willing to work on the feature

[2022-06-18 08:30] mumoshu commented on #1551
@ColinHeathman Hey! Thanks for bringing this up.

Yes, if and only if ARC is going to be the only viable solution to the problem.

ARC doesn't currently track workflow runs so I wonder how ARC can provide `github_workflow_runtime_bucket` better than github-actions-exporter.

`github_workflow_status` seems relatively fine, because it looks like almost like a snapshot of workflow run statuses that A

[2022-06-19 00:14] edenreich commented on #1195
Hey any updates on that ? I still can't get it running on the latest version..

![image](https://user-images.githubusercontent.com/16985712/174460787-a854877a-dd33-40e2-b03c-d47247e82706.png)
![image](https://user-images.githubusercontent.com/16985712/174460807-8996d9ca-2be5-4919-a7ca-a3c3cb68aff5.png)

[2022-06-19 00:26] edenreich commented on #1195
How complex would it be to migrate from dumb-init to an init system ?
Did you try to use docker export to export the filesystem as a tar archive and rebuild the controller with buildx for arm7 ?

[2022-06-19 00:40] mumoshu commented on #1195
Updating ARC's runner Dockerfile to install and configure e.g. `tini` would be the way to go :)

[2022-06-19 00:41] mumoshu commented on #1195
@denisa It should work on M1 mac as AFAIK M1 is 64bit ARM

[2022-06-19 00:55] edenreich commented on #1195
So tini is like a wrapper around the manager process ?

Are you referring to [this one](https://github.com/krallin/tini) right ?

Installation looks fairly simple hope we can modify the Dockerfile to use it.

Looking forward.

[2022-06-19 03:55] mumoshu commented on #1195
@edenreich Yep that's the project I'm referring to.

I don't know all the details of tini and its differences vs dumb-init either. But, at least, you'd need to read https://github.com/Yelp/dumb-init#session-behavior and https://github.com/krallin/tini#process-group-killing and match the tini's behavior to dumb-init's so that we won't break anything.

It's no way an emulator if not I'm misreading w

[2022-06-19 11:04] edenreich commented on #1195
Looks interesting, so no performance overhead at runtime. I just thought it's doing what Rosetta is doing for apple M1 chips for compatibility with different CPU architectures.

Thanks for the clarification.

Proceeding to implementation details..
So I assume we need to add the statically linked version to the distroless final container image which is less than 1mb, add an entrypoint tini -- and c

[2022-06-19 11:54] edenreich commented on #1195
I tried to run it on ubuntu workspace(not on my raspberry pi 4), cross-compiling it with buildx using the following command:
[code]
And I get the following error:
[code]

So it fails even before the final container image :S is that an expected error ?

[2022-06-20 07:44] shreyasGit commented on #466
is  this issue resolved now? we are still getting this for self-hosted runners on Linux box?

[2022-06-20 10:44] DimitarHristov111 commented on #1266
Hello 👋

This a feature I am interested in as well and I was wondering if there is any estimation and plans for its addition?

Thanks,
Dimitar

[2022-06-20 11:26] mumoshu commented on #1266
@sethamclean @DimitarHristov111 Hey! Just curious, why don't you terminate TLS at ingress?

[2022-06-20 13:29] sethamclean commented on #1266
We do now because it's our only option. End to end TLS would be more secure since secrets are being transmitted in clear text from the point of termination to the web hook container.

[2022-06-21 01:55] tedchang77 commented on #792
We don't use docker inside our actions workflow. Is it possible to add a runner configuration where we can specify privileged: false?

[2022-06-21 08:18] DimitarHristov111 commented on #1266
Hey 👋  Our setup is slightly different, but we again do something similar. And we still hope to have it as an end-to-end encryption which is why we are interested in the feature.

[2022-06-21 08:28] mumoshu commented on #1266
Thanks! Interesting. So you tend to do/request the same for every application that exposes an HTTP server on its own? Or is ARC special?
Can it be an option for you to use a service mesh or sorts or a CNI plugin like Cilium that can provide you end-to-end between pods?

[2022-06-21 09:23] maruina commented on #1266
Hello @mumoshu
I work with @DimitarHristov111  so I can give you a little more context. We have some clusters where only ARC is running, so:
- we didn't want to add the service mesh as we feel it's an overkill
- we don't use Cilium as CNI and our CNI can't do TLS termination
- we're "just" using the AWS Load Balancer controller to configure the LB in front of the service. This works well for other

[2022-06-21 09:44] mumoshu commented on #1266
@maruina Thanks for clarifying! That makes sense. Either 1 or 2 sounds good.

I'd guess the option 2 is easier to contribute/review (Probably adding `sidecarContainers` and `volumes` under `githubWebhookServer` would work:

https://github.com/actions-runner-controller/actions-runner-controller/blob/667764e02734938e0d0745a3098e66d3e086f7b7/charts/actions-runner-controller/values.yaml#L175)

The opt

[2022-06-21 09:47] maruina commented on #1266
Thanks @mumoshu for your input.
I will have a chat with @DimitarHristov111 and then we will come back to you :)

[2022-06-21 13:23] DimitarHristov111 commented on #1266
Hello, we think we will go with the second option. It might be a bit more difficult, but it seems like the better solution. :)

I found the following guide https://github.com/actions-runner-controller/actions-runner-controller/blob/master/CONTRIBUTING.md for contributing to the project. Do you think there is anything else we should consider as well before doing the contribution?

[2022-06-21 21:19] cep21 commented on #1551
I am also interested in what alerting people use to make sure their self hosted github actions cluster is healthy.

[2022-06-22 00:24] mumoshu commented on #1266
@DimitarHristov111 Hey! I might not have covered how to contribute to the chart but hopefully, there are not many variables there.

Probably, all you need before finally submitting a pull request would be to (1) clone the repo (2) install the chart locally by running `helm upgrade --install -f values.yaml $RELEASE_NAME ./charts/actions-runner-controller` (3) modify the chart locally (4) rerun the

[2022-06-22 01:41] ColinHeathman commented on #1551
I think `github_workflow_status` would be unreliable for any pull-based autoscaling metric. I think that it would be necessary to put the logic into the `github-webhook-server` and make it a prerequisite for getting workflow metrics. `github-actions-exporter` would have to be rewritten to support webhooks, which is why I think it might make sense to be a part of ARC.

`github_runner_startup_bucket

[2022-06-22 16:41] mikejoseph-ef commented on #1527
np, should I make a PR with some troubleshooting docs about this error? I've noticed it is a reoccurring issue @mumoshu

[2022-06-22 22:02] Karen-Lepiz-Imprivata commented on #1527
yes please, it will be nice :)

[2022-06-23 00:08] mumoshu commented on #1527
@mikejoseph-ef Hey. I'd appreciate it very much if you could do so!

[2022-06-23 00:45] mumoshu commented on #1304
Thanks for confirming! I'm closing this as resolved. If anyone is encountering this in a future version of ARC, almost certainly it's another bug with the same surface. Please open a dedicated issue rather than commenting on this 🙏

[2022-06-23 00:45] #1304 closed

[2022-06-23 00:50] mumoshu commented on #1374
I realized that the linked issue #1304 had been already addressed in 0.24.0 as explained in https://github.com/actions-runner-controller/actions-runner-controller/issues/1304#issuecomment-1155903896. However, this issue seems like unrelated to it.

[2022-06-23 00:51] mumoshu commented on #1374
@alanbover Hey! Thanks for reporting. Your suggested change does make sense to me now. I'll address it before 0.25.0

[2022-06-23 02:12] #1423 closed

[2022-06-23 02:12] #1364 closed

[2022-06-23 04:26] rich-bain opened #1557 "Pod startup failing due to new startup.sh"
### Controller Version

0.24.1

### Helm Chart Version

0.19.1

### CertManager Version

1.8.1

### Deployment Method

Other

### cert-manager installation

- Installation process with Helm Via flux. Tested and working correctly with custom domain.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-con

[2022-06-23 06:31] shaikatz commented on #1557
Seeing the same behavior, the pod logs shows: `tee: 'standard output': Bad file descriptor`

[2022-06-23 06:54] ChrisBr commented on #1557
@rich-bain can you show which version you pinned to?

[2022-06-23 07:22] ChrisBr commented on #1557
Pinning the issue to

[code]

resolved the issue for us!

[2022-06-23 07:55] kyontan commented on #1557
We faced another error on new image `actions-runner-dind:v2.293.0-ubuntu-20.04`.
helm chart version: 0.19.1

The error log is one line:

environment: AWS EKS v1.22.9-eks-a64ea69 with Karpenter (containerd).

[code]

We've already reverted `actions-runner-dind` image version to `v2.293.0-ubuntu-20.04` and everything goes back well.

[2022-06-23 10:32] mattpopa commented on #1557
Getting the same issue, reverted to `2.293.0-ubuntu-20.04-933b0c7`

[2022-06-24 02:06] mumoshu commented on #1321
@genisd Congrats 🎉 Take your time!

[2022-06-25 02:14] #1387 closed

[2022-06-27 14:15] Uriende commented on #1321
Took longer than I though to get to it. But we're now running the branch. I'll report back how things are once it runs for a bit.

[2022-06-27 23:45] #687 closed

[2022-06-28 01:15] danxmoran commented on #1535
@mumoshu is there anything else I can do to help get to the bottom of this?

[2022-06-28 07:47] toast-gear opened #1574 "refactor: use go-github package for list runner group logic for GHES"
Sibling issue to https://github.com/actions-runner-controller/actions-runner-controller/issues/1402

Requires support to land in GHES before this can be done, I expect this to appear in GHES 3.6 https://docs.github.com/en/enterprise-server@latest/admin/release-notes

We will need to update the minimum GHES version to whatever version this parameter is in as part of the release.

EDIT the new `visi

[2022-06-28 11:44] iochagov opened #1575 "Pods stuck in Terminating state with `RunnerDeployment`"
### Controller Version

0.24.1

### Helm Chart Version

0.19.1

### CertManager Version

1.8.0

### Deployment Method

Helm

### cert-manager installation

- yes
- yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to c

[2022-06-28 11:45] iochagov commented on #1575
Controller Logs
[arc.log](https://github.com/actions-runner-controller/actions-runner-controller/files/9000659/arc.log)

[2022-06-29 01:15] mumoshu commented on #1374
I was rereading this today and realized that I might have noticed a misconception.

You mentioned this but actually what ARC sees is the response of ListRunners API, which includes only registered runners so the updated formula would be more like:

[code]

The key here is that we currently cache ListRunnersAPI responses for 60 seconds (as that's what GitHub returns for the Cache-Control header), s

[2022-06-29 04:41] GoldenMouse opened #1581 "Better behavior with Cluster Autoscaler"
**Is your feature request related to a problem? Please describe.**
I'm testing ARC with cluster autoscaler (on GKE).  I add the annotation `safe-to-evict:true` for the runners.
Occasionally cluster autoscaler reschedules the pod that is running a workflow so the workflow remains in limbo til it fails.
This happens very rarely but enough to warrant not using it.

**Describe the solution you'd like*

[2022-06-29 11:46] mumoshu commented on #1402
Closing this one as done!

[2022-06-29 11:46] #1402 closed

[2022-06-29 11:50] mumoshu commented on #1374
This should be fixed via #1579. If anyone could double-check if it's really fixed, it would be great if you could build ARC from our current master branch, or try 0.25.0 which will be released soon!

[2022-06-29 11:50] #1374 closed

[2022-06-30 03:42] splitice commented on #861
Can we also do `hostNetwork: true` on the runner pods while we are at it?

That should allow would allow for easier dind setups without messing with MTU. At-least for those who don't care about network seperation.

[2022-06-30 04:01] mumoshu commented on #861
@splitice Hey! Could you try RunnerSet, which should already have the support for hostNetwork customization as it's based on K8s StatefulSet?

[2022-06-30 11:58] #1196 closed

[2022-06-30 21:36] klepiz commented on #1542
Im getting the same issue with this settings: [When using the default runner, the runner pod starts up 2 containers: runner and DinD (Docker-in-Docker).  ](https://github.com/actions-runner-controller/actions-runner-controller#runner-with-dind)

[2022-06-30 22:01] anithyusha commented on #1542
Hi @klepiz I was able to resolve the issue. The root cause was with our settings on the load balancer end.

[2022-07-02 10:07] mytting opened #1597 "The containerMode I defined did not take effect，How to use containerMode=k8s？"
### Controller Version

master latest

### Helm Chart Version

master latest

### CertManager Version

1.8

### Deployment Method

Helm

### cert-manager installation

yes
yes
yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a go

[2022-07-02 10:09] mytting commented on #1597
@mumoshu @thboop Take a look here. Thanks

[2022-07-02 23:48] mumoshu commented on #1597
@mytting Hey. Probably your CRD is outdated. How did you upgrade CRDs? Helm doesn't upgrade CRDs.

[2022-07-03 00:36] mytting commented on #1597
![image](https://user-images.githubusercontent.com/50027289/177020104-ff58a052-f1b0-4693-8adb-33865209d16d.png)
I made sure I updated the CRD and controller, otherwise I would get an error from apply-f YAMl

[2022-07-03 00:45] mumoshu commented on #1597
@mytting Thanks. Unfortunately I couldn't reproduce it. It's working fine on my env- so perhaps something is still wrong on your setup.

Could you share the Deployment of ARC's controller-manager by running `kubectl get deploy -o yaml $ARC_CONTOLLERMANAGER_DEPLOY_NAME` ?

[2022-07-03 00:47] mytting commented on #1597
[code]

[2022-07-03 00:59] mumoshu commented on #1597
@mytting `summerwind/actions-runner-controller:latest` is the latest "released" version of ARC and that's not what you supposed to use when testing the unreleased edge version of ARC. Try `canary`.

[2022-07-03 01:00] mytting commented on #1597
Ok, I'll try. Thanks

[2022-07-03 01:05] mytting commented on #1597
This feature seems to be working, thank you

[2022-07-03 01:22] mytting commented on #1597
Unfortunately, there's a new problem,

runner.yaml
[code]
But the pod
[code]
Why is that?
[code]
@mumoshu

[2022-07-03 01:23] mytting commented on #1597
get pod -o yaml
[code]

[2022-07-03 01:28] mumoshu commented on #1597
@mytting The new container mode works by dynamically creating the `work` volume and mount for you, which is used to share work dir across the runner pod and the workflow job pods. So spec-wise, it's working as intended.
Reading the error message, it looks more like your CSI plugin isn't working correctly or it doesn't support whatever setting(s) needed to make it work. Perhaps it doesn't support e

[2022-07-03 01:31] mytting commented on #1597
@mumoshu Perhaps it doesn't support ephemeral volume claim templates

Should the normal behavior be arc Controller to create the PVC instead of using Volume Claim Templates?

[2022-07-03 01:32] mytting commented on #1597
Do you have a running practice that I can try?

[2022-07-03 01:36] mytting commented on #1597
I used runnerset to create runner, which was also not quite as expected,

The volumeClaimTemplate should be specified directly, not under volumes
@mumoshu
[code]

[2022-07-03 01:37] mumoshu commented on #1597
@mytting I don't think so at the moment. I'd say any CSI plugin should have out-of-box support for ephemeral volume claim template(even the local path provisioned that I use locally has the support for it) and spending my time on making ARC a bit more complex just for one specific cloud provider doesn't make much sense as we already have a long list of backlog!

I think you have 3 choices:

1. Hol

[2022-07-03 01:40] mumoshu commented on #1597
It's expected. Ephemeral volume claim templates and statefulset volume claim templates are two different concepts. One of the differences is that, for the former, K8s auto-delete the PVC once the pod got deleted, whereas the latter leaves PVCs today.

[2022-07-03 01:41] mytting commented on #1597
@mumoshu Using the workVolumeClaimTemplate for choreography is a bit less elegant than handing over power to CSI. Controller should consider all possibilities and as a provider should not rely on external plugins for some of its power.

Using the workVolumeClaimTemplate for choreography is a bit less elegant than handing over power to CSI. Controller should consider all possibilities and as a prov

[2022-07-03 01:42] mumoshu commented on #1597
Sorry, I don't get what you're saying. `workVolumeClaimTemplate` just delegates the PV management to https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes and it's a standard K8s feature?

[2022-07-03 01:43] mytting commented on #1597
I can change to another cloud provider at any time. The cost of changing to another cloud provider is not very high for me, but I still don't know which cloud provider can support it

[2022-07-03 01:47] mumoshu commented on #1597
@mytting As far as I can see, AWS's CSI plugin seems to support it https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/482. Perhaps it's just that the aliyun plugin is doing something not universal and that's breaking K8s' generic ephemeral volume?
My understanding is that any correctly implemented CSI plugin should be able to serve generic ephemeral volumes.

[2022-07-03 01:51] mytting commented on #1597
OK thank you very much

This feature may not be available on some of the lower versions of K8s and CSI, which may be a little unfriendly to some users

[2022-07-03 01:52] mytting commented on #1597
I still think the PVC is entrusted to the controller, so there is no dependence of K8S and CS I version

[2022-07-03 01:53] mumoshu commented on #1597
Good point! But it's beta since K8s 1.21 and I don't test ARC against older versions of ARC today so I'd generally recommend folks to upgrade K8s first.

[2022-07-03 01:56] mytting commented on #1597
In addition, this PVC is only for persistent data of this POD, and does not involve data exchange with other PODS? Is emptyDir sufficient?

[2022-07-03 01:56] mumoshu commented on #1597
We're sometimes asked to provide support for every legacy GitHub feature (like `actions/runner`'s `--once` flag which we recently dropped the support for) and legacy K8s versions and legacy ARC versions forever. But hopefully it's no doubt that we don't have such bandwidth to do so, as we are a small team of two with very little funding compared to the volume of our users.

[2022-07-03 01:57] mumoshu commented on #1597
`emptyDir` can't be shared across pods.

[2022-07-03 02:00] mytting commented on #1597
Thumbs up for you guys. You guys are awesome

[2022-07-03 02:05] mumoshu commented on #1597
@mytting Thanks for your understanding. Let me clarify that I do think most of your core opinions and feedback are valid hence my 3 suggestions https://github.com/actions-runner-controller/actions-runner-controller/issues/1597#issuecomment-1172990023.

It's just that we maintainers don't easily provide free development works to support relatively uncommon use-cases. It's a hard balance. But I beli

[2022-07-03 02:12] mumoshu commented on #1597
This thread turned out to be a great design discussion and a retrospective of how we maintain ARC rather than a bug report 😄 It would be great if you could close this as the very first issue has been resolved. Feel free to raise another discussion in GitHub Discussions or a feature request if necessary.

Also, I'm still wondering if your storage class is configured correctly in the first place. It

[2022-07-03 02:17] mytting commented on #1597
This is the CSI of Aliyun, which is indeed working normally at present. It should be a problem of ALIyun CSI. I am also seeking a third CSI to see if it can be solved

[2022-07-03 02:19] mytting commented on #1597
All of my problems have been solved or accounted for so far, thank you. I'll turn this off

[2022-07-03 15:45] NoamGoren commented on #631
Hi @frbk @mumoshu
I'm looking to implement the runner on fargate as well, anything I should be aware of? does the
`runnerForScaleFromToZero.ObjectMeta.Labels = nil` still needed?

[2022-07-03 21:56] mumoshu commented on #631
@NoamGoren Honestly, I have never tried it myself so I'm afraid I have nothing to share with you! What I can say, FWIW, is that ARC does not rely on registration-only runners anymore. So there may be a chance that it would work without any modifications now.

[2022-07-03 22:01] mumoshu commented on #1581
@GoldenMouse Thanks for raising this up!

This is the most interesting part to me. With today's ARC, a runner pod and its `runner` container should terminate gracefully as long as there's enough time to do so.
How long was your GitHub Actions workflow job got stuck due to this issue running? 1min, 20min, or hours?

[2022-07-04 06:56] mytting commented on #1597
@mumoshu Hi I changed k8S, runner can run normally, but containerMode= K8s does not take effect, CI is still created by docker

[2022-07-04 07:09] mumoshu commented on #1597
@mytting Hey. I'm very sorry to say something like this, but can you move to Discussions? At this point this doesn't seem like a bug report which we prioritize higher.

It worked for me so probably it's caused by your configuration?

I'm quite lost here. What does your workflow look like? Does it use `container` jobs or `container `steps, or both? How did you confirm what is running within a Docke

[2022-07-04 07:12] mytting commented on #1597
[code]
ci log
https://github.com/metaflowys/test-runner/actions/runs/2608250392

[2022-07-04 07:14] mytting commented on #1597
ok i  move to Discussions

[2022-07-04 07:14] #1597 closed

[2022-07-04 07:18] mumoshu commented on #1597
@mytting Thanks for sharing. If `actions/runner` was instructed to use the new container mode, it should say so in the `Set up job` step. I don't see it in the logs so almost certainly `actions/runner` is not trying to use the new container mode.
There can be many possibilities but here's a quick list

- You might be using an outdated runner image
- ARC or CRDs are outdated. Did you use `latest` o

[2022-07-04 07:23] mytting commented on #1597
@mumoshu  Discussions url ： https://github.com/actions-runner-controller/actions-runner-controller/discussions/1601

[2022-07-04 08:03] marcofranssen commented on #1502
What do you think? Would you accept a PR preparing some things? Still some action required on artifacthub.io by the maintainers though if I would prep a PR for you.

[2022-07-04 09:35] ekarlso opened #1602 "Runners that should not scale up scales up and never down again"
### Controller Version

0.24.1

### Helm Chart Version

0.19.1

### CertManager Version

1.7.1

### Deployment Method

Helm

### cert-manager installation

Helm based installation

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a go

[2022-07-04 11:10] mumoshu commented on #1602
@ekarlso Hey! Thanks for reporting.
I started correlating your logs and the configs to see what's going on, and realized that your HRA name doesn't match with the logs. In logs your HRA is `dp-testing` and it's `testing` in your manifest, that makes me wonder if you've brought up slightly different resource manifests than what resulted in the log output?

Could you either send me a full log from A

[2022-07-04 11:41] mumoshu commented on #1602
@ekarlso Thanks for updating the manifests.

After careful reading, I found you're still using `checkRun` as the scale trigger. It's legacy and I don't think it supports runner labels... by its definition. Check runs don't have a notion of runner labels because it's actually not a GitHub Actions concept. There's no runner in the context of check runs. It's a part of Checks API that is unrelated to

[2022-07-05 01:15] #1547 closed

[2022-07-05 01:27] mumoshu commented on #1547
While I was self-reviewing the clean-up logic of the capacity reservations, I might have found that it was not cleaning up expired reservations on each sync period(1m by default). Probably that's an issue.

To be clear, though, it should be cleaned up fine as long as you use `workflow_job` for autoscaling, as each capacity reservation is removed immediately after the autoscaler received a `workflo

[2022-07-05 02:25] mumoshu commented on #1533
@danxmoran Thanks for reporting! I believe this has been addressed via #1539. Please let me close as resolved but feel free to submit another issue if necessary.

[2022-07-05 02:25] #1533 closed

[2022-07-05 02:27] mumoshu commented on #1535
@danxmoran I think we have all the info in place. Thanks about that. I'm still wondering how this can happen, as `actions/runner` is supposed to block `SIGTERM` sent by Kubernetes until it finishes running the on-going workflow job. Clearly it isn't working like that, hence the issue, right? 🤔

[2022-07-05 12:36] ekarlso commented on #1602
Thanks! This solved it :)

[2022-07-05 12:36] #1602 closed

[2022-07-05 13:31] toast-gear opened #1607 "Rationalise supported webhook events to just `workflow_job` removing `check_run`, `pull_request` and `push` events"
Currently ARC supports the following webhook events:

1. workflow_job
2. check_run
3. pull_request
4. push

Events 2 - 4 were introduced before the `workflow_job` event was created by GitHub and added to ARC. The ARC maintainers believe that there is no really need at a technical level any event type other than `workflow_job` for the ARC project nor is there any community demand for any other even

[2022-07-05 20:44] ttruong-dexcom commented on #1581
It waited for 15m and times out (jobs usualy takes 2mins).
![image](https://user-images.githubusercontent.com/88852650/177413165-f6c97692-b506-4293-8703-0678091c3f84.png)

[2022-07-05 20:45] ttruong-dexcom commented on #1581
[code]

[2022-07-05 23:58] mumoshu commented on #1602
Related: https://github.com/actions-runner-controller/actions-runner-controller/issues/1607

[2022-07-07 06:54] siikanen commented on #1515
Hello! I can confirm this behaviour still exists on v0.25. I'm running on k3s v1.23.6+k3s1

Runner pods get scheduled and pick up jobs. They execute the job and exit with code 0. However they won't exit properly and are left at NotReady state. They must be manually deleted to be initialized again by the controller.

To me it seems like the pod consists of 2 containers - _runner_ and _docker_. The

[2022-07-07 09:39] siikanen commented on #1515
Hello @mumoshu! Thanks for the quick response. I do not mean the `Runner` should create new pod, rather it seems to me that the pod does not exit cleanly. It just seems weird to me that the _finished_ runner is left hanging on the node and has to be manually deleted (to be automatically initialized again). This pattern better matches to `Job` definitions which can have a auto-delete timer.

If thi

[2022-07-07 09:41] toast-gear commented on #1515
It is, the docs need updating and we haven't got around to it. We have deprecated the use of the `Runner` kind directly, it is to be considered an implementation detail the controller leverages. The end user should be deploying runners with either the `RunnerDeployment` abstraction or `RunnerSet` abstraction.

[2022-07-07 09:53] siikanen commented on #1515
Oh okay. This explains a lot, thank you!

[2022-07-07 15:21] toast-gear commented on #1321
@Uriende any updates for us?

[2022-07-08 02:07] fijimunkii commented on #1171
@zzzz465 nice PoC, that works for me!

[2022-07-10 02:15] #1413 closed

[2022-07-11 06:01] bigwheel opened #1621 "Bug: pod setup fails internally"
### Controller Version

0.23.0

### Helm Chart Version

0.18.0

### CertManager Version

1.8.0

### Deployment Method

ArgoCD

### cert-manager installation

I followed README installation guide and Argo CD install cert-manager.
Argo CD showed green and it is not changed.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://githu

[2022-07-11 06:17] bigwheel commented on #1621
I just change image label from latest to v2.294.0-ubuntu-20.04-e3deb0d and job succeed.

[code]

By this history https://github.com/actions-runner-controller/actions-runner-controller/commits/master/runner/actions-runner.dockerfile , https://github.com/actions-runner-controller/actions-runner-controller/commit/11cb9b78829f8640ceb3bcb677e5d608dc3299ea must have a problem around `update-status` .

[2022-07-11 07:56] mumoshu commented on #1621
@bigwheel Hey! Thanks for reporting and the detailed analysis of the problem.

Probably it's due to that [`actions-runner-dind.dockerfile`](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/runner/actions-runner-dind.dockerfile) lacks `COPY`s the `update-status` and `hooks` we added to `actions-runner.dockerfile` in #1268. We have two dockerfiles for non-dind and d

[2022-07-11 11:44] #1621 closed

[2022-07-11 13:02] shankarRaman opened #1625 "Issues when creating runners in vcluster"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

1.1.0

### Deployment Method

Helm

### cert-manager installation

Yes cert-manager installed through proper procedure

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discuss

[2022-07-11 14:43] Uriende commented on #1321
Forgot to update. So far no issues and it seems to have fixed our issues.

[2022-07-11 14:49] iochagov commented on #1575
As a consequence of this bug Runners page is spammed by unused Runners names:
![image](https://user-images.githubusercontent.com/85219963/178291259-068c56f6-72f2-4e72-b797-650e1f8c07eb.png)

This matters because we cannot collect metrics with such huge number Runners. Prometheus exporter asks API for a list of Runners and it returns a JSON array with ~10000 elements in it.

This is happening becau

[2022-07-11 14:54] toast-gear commented on #1575
`--once` was never fully implemented by GitHub nor supported, your logs indicate you're using the `--once` flag. We recentlyeven fully removed the ability to use it https://github.com/actions-runner-controller/actions-runner-controller/issues/1196. I would as a first step move over to the supported flag `--ephemeral`

[2022-07-11 16:50] bangnh1 opened #1626 "Docker caching is gone when cancelling CI"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

1.8.2

### Deployment Method

Helm

### cert-manager installation

helm repo update
helm install  \
  cert-manager jetstack/cert-manager \
  --namespace cert-manager \
  --create-namespace \
  --version v1.8.2

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [

[2022-07-11 17:02] iochagov commented on #1575
Thanks @toast-gear, switching on `ephemeral` and upgrading Runner image to `summerwind/actions-runner-dind:v2.294.0-ubuntu-20.04-f661249` helped to solve the issue.

[2022-07-12 00:54] mumoshu commented on #1626
@bangnh1 Hey! Thanks for reporting.
If I'm not misreading anything, it's working as intended. In a typical setup, you might need a few more workflow runs until there is "a big enough pool of PVs" so that every newly created runner statefulset/pod gets one of the existing (cache-populated) PV.
PV unbound and runner pod termination/recreation happen concurrently and asynchronously. ARC doesn't block

[2022-07-12 00:58] mumoshu commented on #1545
@FalconerTC Hey! Thanks for reporting. My impression was that your use-case can be still served by the webhook-based autoscaling.
How about giving your HRA `minReplicas: 2` and enable the webhook-based autoscaling? This way the webhook server adds an extra runner per each workflow_ job event "on top of the 2 min replicas", which basically translates to "Always have 2 runners ready to receive jobs"

[2022-07-12 01:03] mumoshu commented on #1625
@shankarRaman Hey! If you don't mind, can we move this to Discussions so that everyone interested in vcluster can participate?
We don't officially support vcluster yet and it should just work on any standard K8s cluster, which basically means this issue is vcluste-specific that ARC has nothing to do with.
Your controller logs says ARC is working fine without any errors.
Perhaps in a vcluster setup

[2022-07-12 01:17] mumoshu commented on #1621
This has been fixed via #1623 and #1624 and the new image is available via `actions-runner-dind:v2.294.0-ubuntu-20.04-98b17dc`.
Thanks a lot for reporting and fixing it @bigwheel and @gi0baro!

[2022-07-12 02:00] mumoshu commented on #1621
Thanks for confirming! Enjoy ☺️

[2022-07-12 02:20] bangnh1 commented on #1626
@mumoshu Thank you for responsing my report.
After the first successful CI, I executed to runner pod to make sure it has docker cache. Then, I run a new CI and cancel this CI.
I executed to new runner pod and docker caching is gone.
I only have 1 replica so I think controller has an issue with synchronization mechanism.

[2022-07-12 03:32] bangnh1 commented on #1626
It seems when I cancel a running CI, controller will create new volumes for new runner.
`
k -n actions-runner-system get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM                                                          STORAGECLASS      REASON   AGE
pvc-16f926fb-9ca0-47a4-88c7-c64638187c88   20Gi       RWO            Retain

[2022-07-12 04:48] mumoshu commented on #1626
@bangnh1 Hey! Thanks for your response. I think you described what I explained earlier. In your screen capture, we can see two `Available` PVs, right? Those will be reused by the next runner pod and the docker cache will be available then(assuming you ran your workflows to completion with those PVs. Don't test canceling it until you fully populate the PVs with docker cache).
If it "blocked" the ne

[2022-07-12 07:18] bangnh1 commented on #1626
@mumoshu I got it. Thank you for patiently explaining to me.

[2022-07-12 07:18] #1626 closed

[2022-07-12 07:32] mumoshu commented on #1626
@bangnh1 Thanks a lot for confirming!

Just curious, but have you already read https://github.com/actions-runner-controller/actions-runner-controller#custom-volume-mounts? My intention was to make the linked doc cover everything needed to get started with RunnerSet w/ volumeClaimTemplates. However, and apparently, it doesn't cover what I explained in this thread so your question is completely vali

[2022-07-12 09:12] genisd commented on #1321
So I'm going to close this.
Fixed in the 0.25 release

[2022-07-12 09:12] #1321 closed

[2022-07-12 09:21] mumoshu commented on #1321
@genisd Thanks for all your help and support!

[2022-07-12 10:59] genisd commented on #1581
I'm running with a 0 pdb to avoid unnecessary evitcs.
i.e.:
[code]

The runners surely wait to finish handling the job, but they will be given only so much time.
That however is configurable in kubernetes (`terminationGracePeriodSeconds`), one can configure how much time the pod gets to terminate by itself before kubernetes will force kill it.

I've ran workloads with `terminationGracePeriodSecond

[2022-07-12 11:37] #1412 closed

[2022-07-12 11:47] genisd commented on #1535
default: `terminationGracePeriodSeconds: 30` (in seconds) :trollface:
Not alot of time to finish a job :confused:

[2022-07-12 12:05] genisd commented on #1581
it looks like `terminationGracePeriodSeconds` can already be configured.
@GoldenMouse can you try setting this to about the longest running job that you have?
then the pod should get the chance to finish the job and terminate gracefully

[2022-07-12 12:19] genisd commented on #1535
I would suggest he have some folks who run into this issue to test it out.
I don't know how long the ARC would wait for a termination, if there's no kind of timeout or something on the ARC side of things.
But thinking about it, ARC probably doesn't realize or care since in this context it was not the party to initiate the termination.

I'll see if I can add it to the readme. It's my last 2 working

[2022-07-12 12:33] danxmoran commented on #1535
There was some previous discussion of `terminationGracePeriodSeconds` in https://github.com/actions-runner-controller/actions-runner-controller/issues/1534#issuecomment-1155858500, where @mumoshu said the problem is that the runner's entrypoint / the actual `runner` binary don't have any support for graceful handling of `SIGTERM`.

[2022-07-12 12:53] genisd commented on #1535
I just tried it myself. And at least in my setup the docker container immediately started shutting down.

[code]

So that would be an obstacle. Doesn't say anything about the runner itself

[2022-07-12 16:30] toast-gear opened #1635 "Support restricting `workflow_job` events by a repository whitelist"
Ref https://github.com/actions-runner-controller/actions-runner-controller/issues/1607

Add support for a repository whitelist like we have for the `check_run` event but for the `workflow_job` event so we can remove support for all events other than `workflow_job`

[2022-07-13 05:34] kunalgit1432 opened #1640 "Bug"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

1.8.2

### Deployment Method

Helm

### cert-manager installation

Step 1:-
helm repo add jetstack https://charts.jetstack.io

Step 2:- helm repo update

Step 3:- helm install \
  cert-manager jetstack/cert-manager \
  --namespace cert-manager \
  --create-namespace \
  --version v1.8.2 \
  --set installCRDs=t

[2022-07-13 05:57] mumoshu commented on #1640
Hey!

First, `kubectl logs actions.summerwind.dev/v1alpha1/exampe-runners` doesn't make sense and won't work. In Kubernetes, you can fetch logs for pods only. `actions.summerwind.dev/v1alpha1.Runner` isn't a pod but a Kubernetes custom resource. If you want to read logs from the runner, you'd need to run `kubectl logs` against a runner pod, after you finished setting up ARC.

Second,

This basical

[2022-07-13 05:59] mumoshu commented on #1640
This isn't a bug (or more strictly speaking, it looks much more like a configuration or usage issue, rather than a reproducible bug) and we're using Discussions for user support. Please let me move this to Discussions so that the community could help you get onboarded 🙏

[2022-07-13 06:07] mumoshu commented on #1535
@danxmoran Hey!

That's my theory from our observation and not yet the fact. Did you actually see `actions/runner` doesn't block SIGTERM when it's still running a job? It should be testable only when you have configured a quite large `terminationGracePeriodSeconds` value.

[2022-07-13 06:09] mumoshu commented on #1535
@genisd Good finding! We'd definitely need to prevent the docker container from terminating while the `runner` container is still running a workflow job. A possible way would be to add a `prestopHook` to the `docker` sidecar container, so that it runs `while sleep 1; do ....` until the `runner` container stops.

[2022-07-13 06:16] mumoshu commented on #1607
@raunyoliveira-hotmart Do you really need to restrict a `workflow_job` event trigger scaling only on a specific repository?

To be clear, a `repository` runner is by definition tied to a specific repository and I thought ARC is able to scale the repository-specific runners on a `workflow_job` event just fine without explicit additional filters, as ARC already reads the repository contained within

[2022-07-13 06:17] mumoshu commented on #1635
@toast-gear Hey! I'm quite confused. Why do you need it over HRA + RunnerDeployment of repository runners?

[2022-07-13 06:56] aylei opened #1642 "Stale RunnerReplicasets are not deleted after updating the spec of RunnerDeployment"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

v1.8.2

### Deployment Method

Helm

### cert-manager installation

Yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract

[2022-07-13 07:08] limchd commented on #1535
Seems like SIGTERM is either treated as a kill signal or converted to SIGINT:
https://github.com/actions/runner/search?q=SIGTERM

[2022-07-13 07:39] bangnh1 commented on #1626
@mumoshu
Yes, I read it. I think you should attach what you explained to me in that thread. It may help newbies.

[2022-07-13 09:10] mumoshu commented on #1642
@aylei Hey! Thanks for reporting.
Can we rephrase this as "Resetting rdeploy's replicas from non-zero to zero doesn't remove runnerreplicasets", as that seems like what you've done?
Or did you actually see this behavior even if you didn't reset the replicas to zero? (What if you omit `replicas` from the RunnerDeployment spec on first creation and on update, so that spec changes are made for fields

[2022-07-13 10:28] Diontsoumas opened #1643 "Controller bombed with mutate/validate webhook events"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

1.8.1

### Deployment Method

Helm

### cert-manager installation

We had already installed cert-manager separately from ARC through its official Helm chart.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-contr

[2022-07-13 10:58] mumoshu commented on #1643
@Diontsoumas Hey! Thanks for reporting.
Unfortunately, I couldn't reproduce this.

Can you clarify a bit more on the `1. Deploy the latest version through Helm chart.` part?
What's the exact command you run and your values.yaml?
What's your K8s version?

Also, at glance, I see a lot of mutating and validating webhook responses in your logs. They do happen every time any K8s client or ARC updates a

[2022-07-13 11:07] Diontsoumas commented on #1643
Thank you for the fast response @mumoshu! Kubernetes version is 1.21, on GKE. We use the Helm provider through Terraform:

``
resource "helm_release" "actions_runner_controller" {
  name             = "actions-runner-controller"
  repository       = "https://actions-runner-controller.github.io/actions-runner-controller"
  namespace        = system-actions-runner
  chart            = "actions-runne

[2022-07-13 11:08] mumoshu commented on #1643
Are those really controller versions?

Both of those seems to conflict with what you've written in the form 🤔

[2022-07-13 11:10] mumoshu commented on #1643
@Diontsoumas Are there other custom K8s controllers and operators in your cluster? One of the possible causes of issues like this one is that some other controller is continuously mutating runnerreplicasets for whatever reason I don't know.

[2022-07-13 11:13] mumoshu commented on #1643
@Diontsoumas Hey! Two questions if you don't mind. I'm really confused how issues like this can happen.

Assuming it's the chart version, does the chart of ver 0.20.1 work on the testing cluster? What's the difference between the testing and the production clusters?

[2022-07-13 12:16] Diontsoumas commented on #1643
No you are right, the controller logs point to the Helm version (I will edit my post to update the info). So to clarify things:

- We were testing Chart 0.18 -> controller `v0.23.0`
- Production now runs Chart 0.20.1 -> controller `v0.25.1`

**Test 1**: Multiple RunnerDeployments `ga-runner-deployment-default`, `ga-runner-deployment-quick` **without** HRD
Result: Controller logs look normal. No mu

[2022-07-13 12:44] Diontsoumas commented on #1643
Things look much more stable with controller v0.23.0. All 3 `RunnerDeployments` with their own `HorizontalRunnerAutoscalers` on the production cluster look fine in logs. Every minute or so, I see:

[code]

I run 2-3 pipelines to confirm that things are stable. Can this somehow be a side effect of [Webhook-based scaling is even more reliable](https://github.com/actions-runner-controller/actions-run

[2022-07-13 15:22] aylei commented on #1642
I omitted the `replicas` field of `RunnerDeployment` and actually it was the `HorizontalRunnerAutoscaler` that set the `replias` to 0 (since all webhook events were expired), but the stale `RunnerReplicaset` (which was created by old `RunnerDeployment` spec were not scaled-in nor deleted)

[2022-07-13 17:22] pbaracska opened #1646 "Unlimited number of runner pods"
### Controller Version

0.25.1

### Helm Chart Version

0.20.1

### CertManager Version

1.8.0

### Deployment Method

Helm

### cert-manager installation

Cert manager was installed from the official source.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discus

[2022-07-14 01:25] mumoshu commented on #1642
@aylei Thanks for clarifying! I guess this might be a bug since 0.25.0, although I'm still unsure which change resulted in it.
Have you used ARC before? Was a previous version of ARC running fine in your cluster?

[2022-07-14 02:14] #1497 closed

[2022-07-14 07:37] mumoshu commented on #1642
@aylei Hey! Could you share the full log from ARC's controller-manager? It would contain important information that is necessary to further drill it down to the cause.

[2022-07-14 08:51] mumoshu commented on #1642
A bit more context on this- the expected behavior in your scenario is that it firstly sets the desired replicas on older runerreplicasets to `0`. ARC starts removing runners and their runner pods for those older runnerreplicasets. Once the runners and runner pods get terminated, runnerreplicasets `CURRENT` replicas go down to `0`. Finally, the older runnerreplicasets are deleted hence disappear fr

[2022-07-14 09:24] zotrix commented on #1643
Same issue

[code]

In GKE with version: 1.22.8-gke.202
arc installed via helm from
[code]

[2022-07-14 10:06] zotrix commented on #1643
@mumoshu reproduced with update
[code]
{"level":"debug","ts":"2022-07-14T09:57:20Z","logger":"controller-runtime.webhook.webhooks","msg":"received request","webhook":"/mutate-actions-summerwind-dev-v1alpha1-runnerreplicaset","UID":"36dfb3c5-491c-477d-ad5e-0a35d4f543f4","kind":"actions.summerwind.dev/v1alpha1, Kind=RunnerReplicaSet","resource":{"group":"actions.summerwind.dev","version":"v1alpha1",

[2022-07-14 11:45] mumoshu commented on #1643
@Diontsoumas Thanks a lot for the update! I was able to reproduce your issue, and #1650 is the fix that worked for me.

[2022-07-14 11:46] Diontsoumas commented on #1643
@mumoshu we did some more digging around and we think it's the manager that causes this loophole.

According to the logs, it tries constantly to mutate and validate the `runnerreplicaset` crd. We can verify this if we describe the resource in question. See the value of the generation metadata below.

[code]

We think it's the manager that causes the loop, because if we update the `actions-runner-c

[2022-07-14 11:48] mumoshu commented on #1643
@Diontsoumas Your finding definitely looks like another data point that validates the issue and my fix 😄 Thanks for double-checking!

[2022-07-14 12:16] zotrix commented on #1643
@mumoshu  I try to reproduce in development env

thanks, this fix logging for me also

[2022-07-14 14:09] maigl commented on #861
.. hi @mumoshu, indeed, RunnerSet seems to allow to set dnsPolicy. Could you explain why it's possible on runnerset but not on runnerdeployment? Thx!

[2022-07-14 14:31] splitice commented on #861
@mumoshu

While I undestand that it can be done that way we are running individual runners with specific permissions scopes and resources. While single runnersets are possible, honestly I havent had time to look into them yet.

It was quicker for us just to bring down the docker in docker in docker mtu (yeah I know, but it's how the yocto bitbake builder works) for now.

[2022-07-14 18:45] peimanja commented on #1642
Having the same issue after upgrading the controller in one of our clusters. You can see desired replicas on older runnerreplicasets are also not set to 0. We manually deleted the old ones and will check if this happens again

[code]

[2022-07-14 23:59] FleetAdmiralButter opened #1652 "Ability to configure DIND bridge network"
**Is your feature request related to a problem? Please describe.**

The default Docker bridge network, 172.17.0.0/16, overlaps with our VPC network. This breaks network connectivity within the DIND container.

**Describe the solution you'd like**
Similar to the dockerMTU parameter, could there be a parameter that could be used to override the default Docker bridge network?

**Describe alternatives

[2022-07-15 00:19] KENNYSOFT commented on #1643
Thanks for the fix! This was why I reverted to chart 0.19.1 (app 0.24.1) but I've missed reporting.

[2022-07-15 00:53] mumoshu commented on #1646
@pbaracska Thanks for reporting!
I see a lot of `Failed to update runner	{"runnerpod": "self-hosted-runners/runner-deployment-gbu-iac-2x2dz-j4dkk", "error": "Timeout: request did not complete within requested timeout - context deadline exceeded"}` errors in your log.
It doesn't usually happen- Perhaps your cluster's apiserver is overloaded due to #1643 which exists in 0.25.0 and 0.25.1 but not in

[2022-07-15 00:58] #623 closed

[2022-07-15 09:57] pbaracska commented on #1646
We've started to use ARC with 0.25.0 version, haven't tested an earlier one. I will upgrade to 0.25.2 today and let you know if it fixed the issue.
Thank you

[2022-07-15 12:07] pbaracska commented on #1646
The upgrade didn't fix it, ARC keeps creating more and more runner pods.
[code]
Logs: https://gist.github.com/pbaracska/a144c4fd8311ffb037b4072a6cdbebeb

[2022-07-15 12:14] mumoshu commented on #1646
@pbaracska Thanks! Hmm, that's not what I observed from my own deployment on 0.25.2.
How did you upgrade ARC? Did you try clean-installing it?

[2022-07-15 12:16] mumoshu opened #1654 "Print the ARC version number on startup"
This would make it unnecessary for me to ask anyone how they upgraded ARC or which ARC version they are running when providing user support.

[2022-07-15 12:24] mumoshu commented on #1646
@pbaracska Could you share all the RunnerDeployment manifests? You seem to have 15 of them.
Also, what if you created only one or two of them?
The logs looks fine but it's red-herring that the connection between ARC and your K8s apiserver seems unreliable even though there isn't a log of requests going on.

[2022-07-15 12:26] pbaracska commented on #1646
Yes, it was a clean install. Deleted RunnerDeployments, ARC helm deployment and the crds too. Installed new ARC version with helm and then the RunnerDeployments

[2022-07-15 12:29] pbaracska commented on #1646
Also, what if you created only one or two of them?

RunnerDeployment manifests: https://gist.github.com/pbaracska/064e8f11207d329308c40402d217e636
I experienced the same when only one was created

[2022-07-15 12:39] mumoshu commented on #1646
@pbaracska Thanks! Hmm, no idea. Would you mind raising the log level by setting `logLevel: "-2"` (Don't forget quotes!) in your helm values.yaml, and share the ARC logs?

[2022-07-15 12:49] mumoshu commented on #1646
Could you share runner pod logs? What you shared in the `Runner Pod Logs` section seems controller logs.

[2022-07-15 12:50] mumoshu commented on #1646
Have you also tried 0.24.x? If it works with 0.24.x, it's more likely a regression or a bug introduced in 0.25.x. Otherwise, it might be your cluster issue or a kind of configuration error(like wrong github creds)

[2022-07-15 12:52] pbaracska commented on #1646
ARC logs: https://gist.github.com/pbaracska/242b72c65e2b4c74dd1b2f1b954ca4d8
Runner pod logs(some example): https://gist.github.com/pbaracska/53aa31c917752d091ba52e43f0bfbcab

Current number of pods:
[code]

[2022-07-15 12:54] pbaracska commented on #1646
I will try 0.24.x next to see if that helps. I don't see any issues with the cluster. Runners can connect to github, workflows are running fine on them so it can't be wrong creds.

[2022-07-15 13:04] pbaracska commented on #1646
Yes, I see it. Only 23 pods out of 60 has this annotations (I've already deleted the rest of them).

[2022-07-15 13:08] mumoshu commented on #1646
Thanks. Then It's more likely GitHub Actions API issue than ARC. ARC just calls the list-runners API and copy-paste the runner ID obtained from the API response to runner pod annotations. If it's somehow unable to see the runner IDs, annotations are not present and ARC has no way to know if those runners are registered or not, and therefore brings up more runners to replace potentially non-working

[2022-07-15 13:15] pbaracska commented on #1646
It would be great if you could run curl against the list-runners API https://docs.github.com/en/rest/actions/self-hosted-runners#list-self-hosted-runners-for-a-repository against your repository and see if they all have runner IDs populated for every runner created by ARC.
(If you could share all the pod yamls from kubectl get po -oyaml -n self-hosted-runners and the full HTTP response from the cu

[2022-07-15 13:22] mumoshu commented on #1646
@pbaracska Apparently you have a lot of `status: "offline"` runners in GitHub that ARC doesn't recognize.  Your curl output contains only offline runners and you might need to paginate it a lot to obtain the full runners list. Perhaps a lot of data preventing GitHub Actions API from reflecting the new runners in a timely manner?
If I were you, I would uninstall everything so that there will be no

[2022-07-15 13:23] pbaracska commented on #1646
I will try this and let you know if that helped. Thank you!

[2022-07-15 13:27] mumoshu commented on #1646
@pbaracska Thanks for your patience and effort! It's becoming a sort of a complex puzzle but I hope you will eventually make it 🙏  It's becoming 11pm in my time so I gotta go now, but I'll definitely check your updates tomorrow!

[2022-07-16 03:25] mumoshu commented on #1386
Until we have a concrete set of requirements for what we want from tracing, we might better hold on until the tracing framework is finalized and added to controller-runtime, so that we don't repeat the effort.
https://github.com/kubernetes-sigs/controller-runtime/issues/305

[2022-07-16 13:27] edenreich commented on #1195
I guess I'll need to upgrade my raspberry pi OS to 64bit, seems like they support it now. Before I do that, can someone please confirm that it works on arm64 ? Highly appreciated...

[2022-07-17 10:42] #1283 closed

[2022-07-17 10:43] #1643 closed

[2022-07-17 23:58] ajitkumarnayak1976 commented on #263
Hi,
While runner the runner deployment, pods are getting error'ed out with below message " policy 'disallow-privileged-containers' (Validation) rule 'privileged-containers' failed. validation error: Privileged mode is disallowed. The fields spec.containers[*].securityContext.privileged and spec.initContainers[*].securityContext.privileged must be unset or set to `false`. Rule privileged-containers

[2022-07-18 00:30] mumoshu commented on #263
@ajitkumarnayak1976 Hey. Set `privileged: false` or remove the offending policy. You seem to be using kyverno so you'd need to consult how kyverno works. It seems there's nothing specific to ARC in your issue.

[2022-07-18 13:53] mumoshu commented on #1646
@pbaracska Hey! Thanks for reporting back.

Could you check the runner status in the GitHub Actions API for every runner pod mentioned in the `Runner failed to register itself to GitHub in timely manner.` errors?

In the below log:

[code]

The `owner` field denotes the runner pod's ns/name. The Actions runner name is the same as the pod name, so `"owner":"self-hosted-runners/runner-deployment-gbu

[2022-07-18 14:04] pbaracska commented on #1646
The GitHub Actions API seems to be fine, it responds fast (even from a pod within the cluster).

Example logs:
[code]

Runners from the GA API:
[code]

Pods are starting up fast.

[2022-07-19 00:24] mumoshu commented on #1646
@pbaracska Congrats! Glad to hear you finally made it work 🎉

Out of curiosity, was it a variant of what's written in the below doc?

https://github.com/actions-runner-controller/actions-runner-controller/blob/master/TROUBLESHOOTING.md#internalerror-when-calling-webhook-context-deadline-exceeded

The referenced guide is for a case where you are on GKE and need to expose ARC's K8s admission(not Git

[2022-07-19 11:01] pbaracska commented on #1646
@mumoshu
It's a private GKE cluster, I've followed the troubleshooting guide to enable port 9443 but it seems that it wasn't enough. Do you know which other ports are being used? I've seen 8443 for the metrics service but it shouldn't cause this error I guess.
If you help what other ports should be tested I can perform it.

Thank you!

[2022-07-19 12:04] mumoshu commented on #1646
@pbaracska Thanks for confirming!

Did you block not only ingress but also egress traffic, by any chance? That's the only possible cause for my interpretation of your problem(apparently access to K8s API randomly times out) that I have currently in my mind.

[2022-07-19 12:23] mumoshu commented on #1652
@FleetAdmiralButter Hey! This does seem like a valid feature request.
Would you mind submitting a PR for that? Something that implemented in a way similar to dockerMTU would work(An ARC_ prefixed envvar passed to the runner pod's `docker` container, which invokes a conditional block of code that updates the docker `daemon.json` so that docker uses the specific bip and the CIDR?)

[2022-07-19 12:25] mumoshu commented on #1642
@peimanja Hey! Thanks for reporting.
Could you fill in the bug report, perhaps in a new issue, so that I might be one step closer to reproducing this? (I'm still unable to reproduce this myself. My runnerreplicasets just go away as soon as it becomes unnecessary.

[2022-07-19 12:29] mumoshu commented on #1642
@peimanja I'm especially interested in how your RunnerDeployment specs look like. But a full bug report would be even more awesome.

[2022-07-19 12:58] mumoshu commented on #1642
@peimanja @aylei We've fixed a bug related to runnerreplicaset in 0.25.2. I'm still unsure if it's relevant to this one, but it would be great if you could upgrade your ARC instances to v0.25.2 and see if it fixes the issue.

[2022-07-19 13:03] pbaracska commented on #1646
No, egress is enabled. Anyway, I will keep this firewall rule as it is now.

Thank you for the great support!

[2022-07-19 13:04] #1646 closed

[2022-07-19 19:15] ViktorLindgren95 commented on #1654
Just a simple const that we set manually each update that print at the start of init/main function call or is there an internal version handling that should be called instead?

This is low hanging enough for me to do 🤣

[2022-07-19 22:42] fernandonogueira opened #1660 "Runner pods keeps in loop after scaling by webhook: Listening to jobs -> Access denied error -> Terminates"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

_No response_

### Deployment Method

Helm

### cert-manager installation

yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to c

[2022-07-19 22:45] peimanja commented on #1642
@mumoshu So today I've upgraded our other cluster using `0.25.2` and everything including `runnerreplicaset` were handled correctly. Looks like you somehow fixed the issue :)

[2022-07-20 05:17] mumoshu commented on #1660
@fernandonogueira Hey!

This error comes from https://github.com/actions/runner, which is not part of ARC.
As it did say `√ Connected to GitHub`, I'm sure that ARC correctly registered the runner and passed the runner registration token to the runner, hence `actions/runner` was able to register itself successfully. Everything after that happens in GitHub Actions and `actions/runner`, which ARC has

[2022-07-20 08:44] raunyoliveira-hotmart commented on #1607
hey @mumoshu, thanks for answering!

just to make sure I understood correct, instead of having the `HorizontalRunnerAutoscaler` being restrict by specific repositories:

[code]

I should configure an HRA and a RunnerDeployment in the following way:

[code]

and on the `RunnerDeployment` I filter by the repository:

[code]

is that correct?

thank you!

[2022-07-20 08:52] mumoshu commented on #1607
Yep, you're absolutely correct! Also note that you should try `workflowJob` first and it should serve all the use-cases supported by GitHub Actions, as `workflow_job` is the event that is triggered by GitHub Actions in response to various other github events(like `check_run`)

[2022-07-20 11:12] raunyoliveira-hotmart commented on #1607
so I don't have any use case for webhook events other than `workflowJob`

thanks again @mumoshu and @toast-gear!

[2022-07-20 15:24] toast-gear commented on #1635
No community use case for this as far as we are aware https://github.com/actions-runner-controller/actions-runner-controller/issues/1607#issuecomment-1190144259

[2022-07-20 15:24] #1635 closed

[2022-07-21 20:25] fernandonogueira commented on #1660
Hey, @mumoshu !

Thanks for the quick reply.
Ok, then. :(

Are the needed GitHub App permissions described in the documentation up-to-date?
This error made me think if I missed something.

But the other runner deployments are working fine.

Thanks! \0

[2022-07-23 02:45] cep21 commented on #1551
Not stale

[2022-07-24 22:35] mumoshu commented on #1551
@cep21 What's the criteria for alerting folks of unhealthy runners? This feature request still seems to lack the exact use-case it should support?

[2022-07-24 23:38] cep21 commented on #1551
My use case:

I work in infrastructure.  My team is responsible for the health and availability of the self hosted runners.  I would like to proactively know if something is broken, rather than wait for teams to tell me the system is broken.  Devops and infrastructure teams often use metrics for this kind of workflow, where they create alerts on these metrics.  Here are a few metrics that will hel

[2022-07-24 23:56] mumoshu commented on #1551
@cep21 I hear you, but it looks like all of those metrics can be implemented outside of ARC by leveraging GitHub Actions API and `workflow_job` webhook events emitted by GitHub 🤔 Have you already surveyed other solutions like https://github.com/Spendesk/github-actions-exporter?
I can also recommend reading https://www.cbui.dev/github-actions-self-hosted-runner-observability-and-monitoring/

[2022-07-25 00:00] mumoshu commented on #1551
Is anyone working on this? If not, we should better close this as stale and encourage other folks to start a new project as a place for collaborations around metrics and monitoring. ARC should provide metrics about its own resources, not metrics across all the Actions related resources owned by GitHub.

[2022-07-25 02:13] #1476 closed

[2022-07-25 05:51] aylei commented on #1642
`v0.25.1`
[code]

`v0.25.2`
[code]

@mumoshu I also verified `v0.25.2` in my environment and the orphaned `runnerreplicaset` are properly cleaned in the new version. So I think this issue has been addressed, thanks!

[2022-07-25 05:51] #1642 closed

[2022-07-25 07:57] mumoshu commented on #1642
@peimanja @aylei Thanks for your confirmation! Linking #1651 as the fix for this issue, which is included since v0.25.2.

[2022-07-25 07:59] mumoshu commented on #1660
@fernandonogueira Hey! Thanks for confirming. To be extra sure, HRA doesn't chime in into the runner registration and configuration process at all, so the existence and the availability of HRA would never affect the functionality of runners. If it has been fixed on GitHub side somehow, you might now be able to make HRA working without changing your config?

[2022-07-25 08:13] mumoshu commented on #1386
But adding some trace "logs" to some important code paths of ARC would still make sense, regardless of whether we adopt OpenTelemetry tracing. If anyone has any request to add a specific trace log to certain code path in ARC, please raise a feature request for that with your use-case. Thanks 🙏

[2022-07-25 18:00] Moser-ss commented on #1551
I can give an example of one possible metric and a use case:
Metric:
The state of the runners created by ARC
- Number of active, idle, and offline runners by label

And I think this is something that ARC already is checking when it is using the metric `PercentageRunnersBusy ` in the `Pull Driven Scaling` and could make sense to have  ARC , because ARC is creating the .runners

The use cases:

1. T

[2022-07-26 11:05] UrosCvijan commented on #534
Hi @mumoshu did you find any conlusion on this, cause I am having the same thing. Started testing autoscaling with webhook on github enterprise, get the same message, don't have in the log finding organization runner..

`2022-07-26T10:52:06Z    DEBUG   controllers.webhookbasedautoscaler      Found 0 HRAs by key     {"key": "engineering/ReleaseTesting"}
2022-07-26T10:52:06Z    DEBUG   controllers.w

[2022-07-26 11:20] toast-gear commented on #534
Scale target not found. If this is unexpected, ensure that there is exactly one repository-wide or organizational runner deployment that **matches this webhook event**  {"event": "check_run"

[code]

[2022-07-26 11:59] UrosCvijan commented on #534
Hmmm,
I understood from this example that I just need to leave it empty there:

https://github.com/actions-runner-controller/actions-runner-controller#example-1-scale-on-each-workflow_job-event

And he will pick up anything that comes in

[2022-07-26 12:19] toast-gear commented on #534
It will pick up the configured event i.e. the child key of the `githubEvent:` key e.g.:

Look for the workflow_job event:
[code]

Look for the check_run event:
[code]

Look for the pull_request event:
[code]

We are removing all event type other than workflow_job so you should only send the `workflow_job` event and configure for that trigger (which you've done already), see https://github.com/acti

[2022-07-26 12:27] UrosCvijan commented on #534
So did i set it up correctly for the workflow_job event? I just took the example from the docs and try to replicate but for some reason it does not work. Is there something that I need to change for HRA to do the scaling of runners?

[2022-07-26 12:32] toast-gear commented on #534
Your HRA looks correct, the controller logs suggest it's receiving `check_run` events:

 2022-07-26T10:52:06Z DEBUG controllers.webhookbasedautoscaler Scale target not found. If this is unexpected, ensure that there is exactly one repository-wide or organizational runner deployment that matches this webhook event {"event": "check_run", "hookID": "326", "delivery": "fd99f650-0cd0-11ed-8638-58a05548

[2022-07-26 14:44] UrosCvijan commented on #534
Ok, you were correct, i tried check_run event and it worked so went back to the webhook, didn't include workflow jobs event to be picked up. But now I have this other problem or that is behavior that is normal?

Basically as soon as the jobs finished all runners were killed (pods), and all runners are now in offline mode.  I understood that they should stay online for the scaleDownDelaySecondsAfte

[2022-07-26 14:50] toast-gear commented on #534
Use the `workflow_job` webhook event only, all other webhook events are deprecated and are going to get removed soon from ARC entirely. We are going to update the docs to reflect this so people stop using them soon.

Sounds odd but I would first move over to the `workflow_job` event. If you are still having odd behaviour raise a new issue with the full details of deployment, yaml, logs etc

[2022-07-26 14:52] UrosCvijan commented on #534
Yeah, yeah, i moved to workflow_job event and still I have 5 runners that are in offline mode.. I will wait some more to see, but they got removed as soon as the jobs completed and are in offline mode.. I will run again the same test workflow to see if It will create new 5 runners and then leave them offline as well after its finished.  If it does i will go with new issue with all the details..

[2022-07-26 20:14] ajitkumarnayak1976 opened #1669 "filesystem ownership and permissions for runner user inside containers"
I am using Terraform and am my terraform creating folder and downloading the required package and then executing the infra set up module. But i am finding that it does not have required permissions and ownership for runners inside the containers. Also, can we set up certificates into runners/containers - Kubernetes so that can validate and execute the terraform apply.

[2022-07-27 07:36] UrosCvijan commented on #534
There was some weird behavior yesterday, so i will delete everything today and if i find some time bring all from zero so i have a clean slate and then can tell all the steps. But yesterday for example, after all runners were killed (as soon as they finished their jobs) they were offline, and still are, but like 5 minutes later new 4 runners were spun up and there was no action called, no webhook,

[2022-07-27 07:40] mumoshu commented on #1669
@ajitkumarnayak1976 Hey! This sounds like more about Terraform than `actions-runner-controller` but anyway- the `runner` use should have enough rw permissions for everything under the runner workdir. Perhaps you should move the terraform workdir to the runner workdir?
If you could give us complete reproduction steps, exact error messages emitted by terraform, or corresponding `ls -la` output that

[2022-07-27 07:56] mumoshu commented on #534
ARC tries its best to call the "Remove Runner" GitHub Actions API on every runner being shut down so that there will (ideally) be no runners hang "offline". If it failed to do so or GitHub Actions failed to handle the API call at all, you might end up with dangling "offline" runners that you have to clean up manually. I guess, though, it's very rare 🤔

What were the desired replicas of your Runner

[2022-07-28 01:48] extravio opened #1673 "GITHUB_TOKEN env variable from SecretKeyRef not working"
### Controller Version

0.20.2

### Helm Chart Version

0.25.2

### CertManager Version

_No response_

### Deployment Method

Other

### cert-manager installation

Installed as per the documentation.
Tried with both
certManagerEnabled: false
and
certManagerEnabled: true

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github

[2022-07-30 08:15] mumoshu commented on #1673
@extravio Hey! It seems like you somehow misconfigured your secret CSI driver, which resulted in the missing secret. Could you double-check the config of your CSI driver/provider and also make sure it works in a regular pod?
To be clear, ARC doesn't do anything special to support/un-support [secrets store CSI driver](https://secrets-store-csi-driver.sigs.k8s.io/). It should just work, as ARC has n

[2022-07-31 02:41] mumoshu commented on #1288
#1644 by @some-natalie gives us rootless-docker-powered runners!

As @toast-gear has pointed out earlier in this thread though, it isn't going to remove `privileged: true` for runner containers.

However, it does allow us to provide another layer of security that makes it difficult for random actions job steps to affect the host as (1) the user that runs dockerd and the self-hosted runner agent is

[2022-08-01 23:18] oreonl opened #1684 "Multi-tenancy secret values are not working because of base64 decoding"
### Controller Version

79a494b2aaf11fcc95008dbdb54afb0efa664cd6

### Helm Chart Version

0.20.2

### CertManager Version

1.8.0

### Deployment Method

ArgoCD

### cert-manager installation

Installed using cert-manager helm chart from https://charts.jetstack.io

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/act

[2022-08-02 05:01] extravio opened #1685 "Webhook Secret not working"
### Controller Version

0.20.2

### Helm Chart Version

0.25.2

### CertManager Version

-

### Deployment Method

Helm

### cert-manager installation

yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract with

[2022-08-02 08:58] UrosCvijan commented on #534
Ok, sorry about me not being back on this, I was put to do other things :) So first thing I should mention that I am doing all of this on cluster which is older version 1.20.11.
I think I found out why the runners were left offline (I had my own image that was created from your image, where we added some packages) so now I am using the regular latest actions-runner image and I don't have runners s

[2022-08-03 02:45] #1288 closed

[2022-08-03 03:25] extravio commented on #1685
I just had to rebuild my cluster and it's now working.
Not sure why redeploying the Helm chart wouldn't pick up the webhook token though.
Closing the issue

[2022-08-03 03:25] #1685 closed

[2022-08-04 10:16] KTamas opened #1695 "Bug: Runners using local NVMe storage don't clean up after themselves — possible solutions?"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9.1

### Deployment Method

Helm

### cert-manager installation

It's all good

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to

[2022-08-04 10:20] KTamas commented on #1695
We deploy with helmfile, so here is the config for that as well, just in case:

[code]

[2022-08-05 01:26] mumoshu commented on #1695
@KTamas Hey!

As it's just a volume and volumeMount pair, I think it's more than natural for K8s and ARC to NOT clean up the volume in this case. What the config says is that "use this host path as a volume" and it doesn't mean "clean this up after pod termination" in K8s, right?

Probably you would better try [K8s dynamic volume provisioning](https://kubernetes.io/docs/concepts/storage/dynamic-pr

[2022-08-05 01:32] mumoshu commented on #1695
Also see https://github.com/actions-runner-controller/actions-runner-controller/discussions/1605. It's almost about how to correctly use the vanilla K8s feature. So my take is this isn't a bug.

[2022-08-05 01:34] mumoshu commented on #1684
This has been fixed via #1683. Thanks for reporting and fixing it @oreonl!

[2022-08-05 01:34] #1684 closed

[2022-08-05 01:35] mumoshu commented on #1695
Please let me move this to Discussions as that's the place for Q&A (It's unfortunate that this project is not funded enough to let me allow answering every question, but that does not justify using Issues for Q&A!

[2022-08-05 06:43] marcofranssen commented on #1502
@mumoshu any thougths?

[2022-08-05 10:29] worawatwi commented on #1527
For my case, I have to create firewall rule to allow communication from control plane to nodes as I use private kubernetes node.

[2022-08-06 11:32] 0xF4D3C0D3 commented on #1527
I had the exactly same issue with this issue, and after above deletions, it works! Thanks a lot
It would be much better if we understand why this happens and patch this for no human intervention like above : )

[2022-08-08 01:16] mumoshu commented on #1527
@0xF4D3C0D3 Hey! The issue happens when you had conflicting/dangling ARC-related resources from its previous installation. Note that at least one validating and mutating webhook configuration are needed for ARC to function correctly.

[2022-08-08 01:16] mumoshu commented on #1527
Closing as documented via https://github.com/actions-runner-controller/actions-runner-controller/pull/1558

[2022-08-08 01:16] #1527 closed

[2022-08-08 05:42] sabhika opened #1702 "Runnerautoscaling Failure - Message - "Failed to list workflow runs" GET https://api.github.com/repos/org-name/repo-name/actions/runs?per_page=100&status=queued: 404 Not Found []""
### Discussed in https://github.com/actions-runner-controller/actions-runner-controller/discussions/1701

<div type='discussions-op-text'>

<sup>Originally posted by **sabhika** August  8, 2022</sup>
Hi Team,

Version used :

Action-runner-controller - chart action-runner-controller-0.20.2
cert-manager- cert-manager-v1.9.1

Am setting up autoscaling at organization level using pull-driven scaling

[2022-08-08 06:48] mumoshu commented on #1702
@sabhika Sorry, but we don't use Issues for Q&A and user support! Forgive me to close this as you already have a corresponding discussion.
404 on GitHub API call error means you're using wrong token or Github App credentials.
You do have configured `controller-runner` correctly in the RunnerDeployment spec so I can't see why it doesn't add labesl to the github actions runners. My guess is you're j

[2022-08-08 06:48] #1702 closed

[2022-08-08 07:31] sabhika commented on #1702
@mumoshu  I understand you closed the issue. Can you please check the discussion space. I have updated it with latest Github app credentials and still seeing same issue. Label is also not getting added.

[2022-08-09 10:52] mstevanic opened #1705 "Expose additional runnerDeployment metrics"
**Is your feature request related to a problem? Please describe.**
For horizontalRunnerAutoscaler there are specs and status metrics exposed (min and max replicas and desired replicas), but for runnerDeployment there is only desired replicas, and no ready, updated and available.

**Describe the solution you'd like**
prometheus metrics endpoint should expose all the status data for the runnerDeploy

[2022-08-10 14:29] Jalmeida1994 opened #1706 "Multitenancy: RunnerDeployment not using githubAPICredentialsFrom secret"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9

### Deployment Method

ArgoCD

### cert-manager installation

We followed the documentation and it's working correctly.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/d

[2022-08-11 09:53] maheshkhade commented on #1144
To solve this Instead of `kind: Runner` I used `kind: RunnerDeployment`

[2022-08-12 05:39] mumoshu commented on #1706
@Jalmeida1994 Perhaps our chart is a bit head of the controller release? ARC supports `githubAPICredentialsFrom` since 0.26.0 and it has not been released yet!

[2022-08-12 06:32] Jalmeida1994 commented on #1706
Oh no! I didn't even noticed it ahah. Yeah like I said, stupidity from me.

Thanks for the support!

[2022-08-12 06:33] #1706 closed

[2022-08-12 06:53] mumoshu commented on #1706
@Jalmeida1994 Thanks for confirming! We publish the `canary` image tag for testing the edge version of ARC build/published for each commit to our main branch. Probably you can use it along with the latest chart to test the multinantecy out https://github.com/actions-runner-controller/actions-runner-controller/pull/1371#issuecomment-1210057401

[2022-08-12 07:26] Jalmeida1994 commented on #1706
Sure I'll do that! Thank you so much!

Oh why didn't I open my eyes earlier ahah, it clearly states controller v0.26 (I don't know why I had v0.25 on my mind).
Oh well, until the next dumb error that I get stuck on ahah.

Again, thanks for the feedback and awesome project!

[2022-08-12 09:40] Jalmeida1994 opened #1714 "Multitenancy: New RunnerDeployment not using "githubEnterpriseServerURL" value"
### Controller Version

canary

### Helm Chart Version

0.20.2 (main branch)

### CertManager Version

1.9

### Deployment Method

Helm

### cert-manager installation

Followed every procedure.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It migh

[2022-08-12 10:25] mumoshu commented on #1714
@Jalmeida1994 Ahhh, good catch! Thanks a lot for reporting.

This does seem like a bug due to that we don't currently fallback to the enterprise URL passed to ARC at https://github.com/actions-runner-controller/actions-runner-controller/blob/dc29e31bcc363898e7977a2867a11dea6530278b/controllers/multi_githubclient.go#L196-L199

The `secretDataToGitHubClientConfig` function assumes the enterprise url

[2022-08-12 12:56] Jalmeida1994 commented on #1714
Sure, I'll try and take a look!

First time deep diving the controller code, so sorry in advance, for delay, dumb questions and such.

[2022-08-13 05:47] gjkim42 commented on #702
https://github.com/gjkim42/actions-runner-cleaner

made my own cleaner to workaround this issue.

[2022-08-13 12:22] toast-gear opened #1716 "Update Required PAT Permissions"
When testing some PRs I noticed `manage_runners:org` is now a scope, we probably only need that instead of `admin:org (Full control)` but someone needs to test it.

[2022-08-13 15:40] debugger24 opened #1717 "Adding Additional Autoscaling Metrics to Prometheus"
**Is your feature request related to a problem? Please describe.**

I am using `horizontalrunnerautoscaler`, current it exports only min, max and desired count. I also want to track other metrics like replicas_desired_before, replicas_desired, num_runners, num_runners_registered, num_runners_busy, num_terminating_busy in case of PercentageRunnersBusy and similarly other metrics in webhook based au

[2022-08-13 15:43] debugger24 commented on #1717
Would be happy to work on this.

[2022-08-14 00:08] mumoshu commented on #1717
Hey 👋
This does sound like a nice addition to ARC! I'd appreciate it if you could submit a pull request for this ☺️

[2022-08-14 04:04] #1343 closed

[2022-08-14 12:22] edenreich commented on #1195
FYI: I've upgraded my raspberry pi's OS to arm64 and everything seems to work, thanks for the advice - I guess running it on arm 32 bit OS is not a big priority - so consider me silent...Thanks again!

[2022-08-16 02:57] nitrocode commented on #1543
Unstale

[2022-08-16 11:11] Jalmeida1994 commented on #1714
I don't know if I should post this on the **Discussions** tab but as it's so close to this I'll start it here:

I noticed that the controller still needs the `controller-manager` secret with GitHub authentication when deploying it. My idea was to only deploy the controller on a system namespace and then use other namespaces to deploy organization runners. As of now I need to add the secret with a

[2022-08-16 11:14] debugger24 commented on #1716
I can give it a try.

[2022-08-16 11:19] mumoshu commented on #1714
@Jalmeida1994 Hey! Thanks for the fix- It's going to be merged soon.

Regarding the controller-manager seret req, yes, it's currently intended. The explanation on why can be found in the second paragraph of the PR description for https://github.com/actions-runner-controller/actions-runner-controller/pull/1371. TL;DR; There's a feature called "runner groups visibility", which needs to call GitHub A

[2022-08-16 11:20] #1714 closed

[2022-08-16 11:56] debugger24 commented on #1716
Didn't work. Maybe its something they are working on but not fully ready yet.

[code]

[Docs also says it needs `admin:org`](https://docs.github.com/en/rest/actions/self-hosted-runners#create-a-registration-token-for-an-organization
)

PAT scope while testing

`admin:org, admin:org_hook, admin:public_key, admin:repo_hook, notifications, repo, workflow`

[2022-08-16 12:11] mumoshu commented on #1714
@Jalmeida1994 Oops, this has been closed due to the #1725 merge. Let me clearly say that I'm interested in your opinion. If you think it is worth a feature request, I'd appreciate it if you could submit one!

Honestly, I've never managed/operated GHES so I'm willing to hear opinions and feedbacks from a real GHES user like you.

[2022-08-16 15:23] Jalmeida1994 commented on #1714
Ahahah no problem, I completely understood!

Hmm yeah it makes sense seeing that way. You're right, it's better to stay this way. It is never good when we overengineer a solution. The workaround is fairly simple: we just created a dummy authentication method for the default controller deployment secret.

Thank you so much for listening and again for the awesome project. Keep it up. I'll try to tes

[2022-08-16 17:15] bmbferreira opened #1726 "Bug"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9.0

### Deployment Method

Helm

### cert-manager installation

- yes
- yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to c

[2022-08-16 20:18] #1717 closed

[2022-08-17 01:19] mumoshu commented on #1726
@bmbferreira Hey! This does look like a bug. But we do need controller logs to deduce what's causing it. ARC does have a logic that ensures the runner to be removed from GitHub whenever a K8s CRD Runner resource is deleted. We use K8s finalizer to ensure that.

When a node shutdown happens, the pod might eventually fail due to missing containers and the node that it tend to have scheduled, but the

[2022-08-17 08:12] toast-gear commented on #1716
Lame! OK cheers for testing @debugger24, I'll close this for now then.

[2022-08-17 08:12] #1716 closed

[2022-08-17 11:52] jbuettnerbild commented on #1726
I have the same problem. here are my settings and logs from the controller for one example.

**Controller Version**
latest (summerwind/actions-runner-controller@sha256:92faf7e9f7f09a6240cdb5eb82eaf448852bdddf2fb77d0a5669fd8e5062b97b)
**Helm Chart Version**
0.20.2
**CertManager Version**
1.0.4
**Deployment Method**
Helm (fluxcd)

`ops-action-runner-controller-actions-runner-controller-78467m5n mana

[2022-08-17 12:12] mumoshu commented on #1726
@jbuettnerbild Thanks for sharing!

Hmm, did your K8s control-plane automatically removed the pod that was running on a disappeared node, without waiting for the pod finalizer to be removed?

I thought the K8s contract is that nothing can be normally deleted without all the finalizers are removed from the said resource by respective owners of finalizers. I don't understand how that can happen yet

[2022-08-17 13:52] jbuettnerbild commented on #1726
I thing i found the reason for this example. We use Spot Instances. And the aws node termination handler.
The node where the runner was running would terminated by AWS (instance-terminated-no-capacity).
My guess is that the node termination handler couldn't evacuate the runner in time.

For this i must find a solution but i found also another example where the node is still in use and the runner g

[2022-08-17 13:59] mumoshu commented on #1726
Thanks!

[2022-08-17 22:17] bmbferreira commented on #1726
Hello again! So, ~24 hours have passed, developers pushed code, deployed, cluster had a lot of activity and I can see more offline runners leaked on `https://github.com/organizations/MyOrg/settings/actions/runners`. For example, this runner `bear-4vfzj-tskmh` that shows on the list as offline, if I search for it on the controller logs, this is what I get:
[code]

I can also confirm that this pod i

[2022-08-18 04:31] fernandonogueira commented on #1660
Hey!!! :))

Update:
I found this today in the readme:

```Important!!! If you opt to configure autoscaling, ensure you remove the replicas: attribute in the RunnerDeployment / RunnerSet kinds that are configured for autoscaling```

That was the root cause of this. :)
Thank you, guys! 🙇🏼

[2022-08-18 07:21] jbuettnerbild commented on #1726
@bmbferreira take a look at https://github.blog/changelog/2022-08-03-github-actions-remove-offline-self-hosted-runners/

[2022-08-18 07:45] Diontsoumas commented on #1726
Nice hack, but still 14 days is a bit too much 🥲

[2022-08-18 08:05] bmbferreira commented on #1726
oh wow! Thanks for sharing that @jbuettnerbild! I had no idea and it seems really recent! I think the thousands of offline runners I had a few days ago that accumulated for months were not covered by this recent change 😅
Well, if ephemeral runners will just stay there for one day as they say, it saves me from running a script to clean it up every day 🤷‍♂️

[2022-08-18 08:16] mumoshu commented on #1726
Thanks for sharing!
In a standard scenario though- ARC should not miss unregistering runners hence there should be no dangling offline runners (Although it might take a few minutes until a runner to disappear from GitHub). if it doesn't work, probably something in your cluster is preventing ARC from doing proper clean-up.

[2022-08-18 10:54] ctr26 commented on #1652
I think this is happening to me too.

[2022-08-18 11:29] mumoshu commented on #1652
@ctr26 Hey! Thanks for chiming in- please feel free to submit a pull request 😄
ARC's runner pod's `docker` sidecar container uses this script to dynamically generate the docker `daemon.json`. You might be able to enhance it to configure the bridge network.

https://github.com/actions-runner-controller/actions-runner-controller/blob/36e95dad477e72cd98c1414817d56697bffd5d4e/runner/startup.sh#L27-L36

[2022-08-18 12:26] ctr26 commented on #1652
I tried to get around this by using `containerMode: kubernetes` but that doesn't seem to work with secrets?

[2022-08-18 12:38] aacecandev opened #1730 "Cannot pass nodeSelector, tolarations and resources in containerMode: kubernetes"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9.1

### Deployment Method

Helm

### cert-manager installation

Cert-manager is installed using [helmfile](https://github.com/helmfile/helmfile)

[code]

Contents of values.yaml

[code]

Contents of helmfile.yaml

[code]

Then install it executing

`helmfile apply`

### Checks

- [X] This isn't a question o

[2022-08-18 12:59] mumoshu commented on #1730
@aacecandev Hey! Are you saying that the job pod created when you're using the kubernetes container mode in addition to the runner pod is missing those fields? Can I take it as the runner pod have all the expected fields but the job pod is not?

[2022-08-18 13:34] alpiquero commented on #1730
Hi @mumoshu. I'm working with @aacecandev and can confirm that is exactly what is happening.

[2022-08-18 13:36] ctr26 commented on #1652
[code]

This doesn't actually change the MTU for me

[2022-08-18 13:52] blopezpi commented on #1730
Hi @mumoshu, the workflow pod doesn't have these values. The pod provided by the runnerdeployment is executing with the fields configured as expected, but the workflow pod that the hook launches doesn't have the same fields, we need to execute the workflow pod with these particular fields to schedule the pod in a GPU node.

[2022-08-18 15:45] aacecandev commented on #1730
That's right @mumoshu, the above response describes exactly the buggy behavior. We think that the problem could be located in the [runnerdeployment_controller](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/controllers/runnerdeployment_controller.go) not receiving those fields correctly, but we are not totally sure since we've been busy rolling back to from k8s

[2022-08-18 20:37] MattMencel commented on #1515
@mumoshu I'm going to close this issue. I've been unable to determine the cause and have created a workaround.

- Issue only occurs on 2 of 7 clusters
- Clusters have been upgraded to a current 1.23 version
- Completely uninstalled ARC, including the CRDs and the mutating/validating webhooks, and deleted the namespace.
- Installed the latest version of ARC.
- Also tested RunnerSets instead of Runn

[2022-08-18 20:37] #1515 closed

[2022-08-19 11:45] jlees-Gss commented on #1652
As a work around we turned off docker in the RunnerDeployment since we ran into the same problem.
We were even looking to bake our own runner image with different daemon.json.
 `dockerEnabled: false`
 You do have a long start time while it searches the side car (roughly 5 mins), that's the downside

Good feature request though

[2022-08-19 11:51] ctr26 commented on #1652
I ended up disabling docker too, which causes its own problems but it's fine

[2022-08-19 12:19] mumoshu commented on #1652
@ctr26 Currently, `dockerMTU` isn't enough for setting it all up. You might also need https://github.com/actions-runner-controller/actions-runner-controller/pull/1201.

Which secret are you referring, K8s secret or GitHub Actions secret? I thought it works with both though.

[2022-08-19 12:21] ctr26 commented on #1652
GitHub actions secrets were failing, I'll check again though

[2022-08-19 12:21] mumoshu commented on #1652
@jlees-Gss Thanks. But where do that 5 minutes come from? 🤔

I thought `dockerEnabled: false` would just disable the whole docker sidecar along with the check to see the dockerd is up and running. If it really delays the runner startup for 5 minutes just for `dockerEnabled: false`, it might be a bug in ARC.

[2022-08-19 12:23] mumoshu commented on #1652
@ctr26 Thanks. Interesting! It would be great if you could share related logs or errors. If it's coming from workflow jobs, it might be an issue in `actions/runner`.

[2022-08-19 13:03] toast-gear commented on #1652
can you try with the dind image please

[2022-08-19 13:05] ctr26 commented on #1652
That was a typo above, I did try it with the DIND image and the correct volume mounts, the MTU even changed but I still had the same problem.

[2022-08-19 14:33] mumoshu commented on #1652
@ctr26 I believe you still need https://github.com/actions-runner-controller/actions-runner-controller/pull/1201 to propagate the MTU change to all the actions and service containers created by `actions/runner`.

[2022-08-19 17:41] jt-sh opened #1733 "Kustomize Webhook Server Notworking"
### Controller Version

v0.25.2

### Helm Chart Version

_No response_

### CertManager Version

v1.9.1

### Deployment Method

Kustomize

### cert-manager installation

- Installed via their official documentation. Runners work fine when using polling HRA.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-r

[2022-08-20 01:05] mumoshu commented on #1733
@jt-sh Hey! Could you check the webhook delivery history on GitHub Web UI? Your webhook server logs says it didn't receive any webhook events from GitHub, which can happen when e.g. you have not correctly exposed the webhook server to the internet and/or you provided a wrong URL for the webhook on GitHub UI.

[2022-08-21 00:57] jlees-Gss commented on #1652
So according to the log it first has to timeout looking for the daemon.

`2022-08-21 00:43:39.752  DEBUG --- Docker enabled runner detected and Docker daemon wait is enabled
2022-08-21 00:43:39.753  DEBUG --- Waiting until Docker is available or the timeout is reached
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
Cannot connect to the Docker daem

[2022-08-21 02:51] mumoshu commented on #1652
@jlees-Gss Thanks! Another solution to your problem is to "unset" `dockerdWithinRunnerContainer: true` and change the `image` to a non-dind variant, because those both basically forces the runner to start the dind daemon anyway. (You don't need dind and that's why you set `dockerEnabled: false` in the first place, right?

[2022-08-22 02:13] #1171 closed

[2022-08-22 06:12] yuanying commented on #893
I found that `DOCKER_CONTEXT: default` environment variable resolves this issue too.
We can add this env to `RunnerDeployment.spec.template.spec.env`

[2022-08-22 06:32] swathida-byte opened #1737 "Enterprise runners"
What are permissions that are required to create personal access token for enterprise level runners
currently I have these permissions set
I'm getting this error
[code]

We are using github.infra.***.com should make any changes regarding API things??

<img width="1033" alt="Screenshot 2022-08-22 at 11 56 05 AM" src="https://user-images.githubusercontent.com/97519234/185853233-0f9e567b-b29d-4daf-bd

[2022-08-22 06:33] mumoshu commented on #893
@yuanying Hey! Thanks a lot for sharing.
Still curious, but what does your workflow definition look like?

Does it look like the below?

[code]

Then the key takeaway here might be that the default docker context is somehow invisible to the setup-buildx-action and therefore we have to explicitly specify it via either `DOCKER_CONTEXT` or the `endpoint` option? 🤔

[2022-08-22 06:42] mumoshu commented on #1737
@swathida-byte Hey. `403 API rate limit of 60 still exceeded` seems to say that your request has been successfully authenticated but your quota is somehow super low(only 60 per 24h?! crazy!!).
What's github.infra.***.com? Is is any isolated or regulated variant of GitHub?

[2022-08-22 07:20] swathida-byte commented on #1737
Github.infra.**.com is the enterprise server ,url looks something like this https://github.infra.***.com/ instead https://github.com/

[2022-08-22 07:46] mumoshu commented on #1737
@swathida-byte Ah, gotcha. It's your internal GHES instance, right?
I think you need to consult one of the admins of your GHES instant within your company, or your GitHub Enterprise support, to see what's happening and how to increase the API rate limit.
In other words, this doesn't look like an issue in ARC.

[2022-08-22 08:34] swathida-byte commented on #1737
If API limit rate is increased then it works right?Nothing to do with permissions?

[2022-08-22 08:37] mumoshu commented on #1737
@swathida-byte Yeah- seems so to me. The error message doesn't mention any permission error.

[2022-08-22 09:19] mumoshu commented on #1737
It does not seem like an ARC issue.

[2022-08-22 09:22] mumoshu commented on #1737
@swathida-byte Sorry to say, but can we move this to Discussions? We explicitly say in https://github.com/actions-runner-controller/actions-runner-controller/issues/new/choose that we'd use Discussions for questions and user support. Making an exception makes Issues overloaded by a ton of questions and hide possible real bug reports which we need to handle in high priority 🙏

[2022-08-22 09:25] swathida-byte commented on #1737
sure

[2022-08-22 13:42] rdemorais commented on #1730
looking forward to a have nodeSelector on RunnerSet as well, so I can assign pods to my runners nodes.

[2022-08-22 14:15] toast-gear commented on #1716
When this scope is working I am expecting to see it referenced as the scope required under https://docs.github.com/en/rest/actions/self-hosted-runners#create-a-registration-token-for-an-organization

[2022-08-22 14:46] jt-sh commented on #1733
@mumoshu, So it looks like it's hitting it fine, I did not check the response before. I'm getting a `no horizontalrunnerautoscaler to scale for this github event`

[2022-08-22 14:51] toast-gear commented on #1733
are you sure you've configured a `workflow_job` event webhook? Can you take a screenshot of your configured webhook?

[2022-08-22 14:55] jt-sh commented on #1733
![image](https://user-images.githubusercontent.com/104384961/185951914-c8ea2e5b-0a02-4032-8df3-396e4e754dd5.png)

POST header:
![image](https://user-images.githubusercontent.com/104384961/185952320-36e3b2c5-375a-4cf4-8235-30a182977873.png)

[2022-08-22 15:01] toast-gear commented on #1733
Is this configured webhook shared between multiple applications? For ARC you only need `Workflow Jobs`, you will get many `no horizontalrunnerautoscaler to scale for this github event` logs if you are sending multiple events to ARC making understanding what is and isn't happening much harder

[2022-08-22 15:11] jt-sh commented on #1733
This webhook is setup on the repo not the org so it can be fine grain, just disabbled all triggers but `workflow jobs` and am getting the same error. 🤔

Is it the following line that lets the controller know it has an HRA for that event type? It's as if it's not registering this.
[code]

[2022-08-22 16:05] jlees-Gss commented on #1652
@mumoshu Thanks for the advice
We didn't like the compromises so we built our own daemon.json configmap to inject

We then verified by kubectl exec -it into the pod and was able to use dockerd ps

We're still in the process of verifying our dockerfile workflows are working as should bee
Will confirm ASAP

I'll share the code just now

Create configmap of new daemon.json
[code]

Attach configmap to

[2022-08-24 00:01] igordrnobrega opened #1746 "Ingress resource missing when using Pulumi provider"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

_No response_

### Deployment Method

Other

### cert-manager installation

N/A

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to

[2022-08-24 00:09] mumoshu commented on #1746
@igordrnobrega Hey! This looks like an issue in Pulumi based on your situation and information you provided. Could you confirm?

If you're still unsure, what if you used `helm` to render the chart? Does it still miss the ingress resource in the output?

[2022-08-24 01:55] #1490 closed

[2022-08-24 02:26] mumoshu commented on #1733
@jt-sh If you get `no horizontalrunnerautoscaler to scale for this github event` in the response body of a webhook, ARC should have logged messages like `Scale target not found. If this is unexpected, ensure that there is exactly one repository-wide or organizational runner deployment that matches this webhook event`.
Could you check your ARC webhook server's logs once again and share the whole lo

[2022-08-24 02:28] mumoshu commented on #1733
Also- you won't need the check for `Pushes` at least. It might result in sending unnecessary events to ARC, and ARC might respond with `no horizontalrunnerautoscaler to scale for this github event` for push events.

I believe ARC would respond to other `workflow_job` events just fine in a normal circumstance though.

[2022-08-24 02:34] mumoshu commented on #1654
This has been resolved via #1659.
Thank you so much for your contribution @ViktorLindgren95!!

[2022-08-24 02:34] #1654 closed

[2022-08-24 02:35] mumoshu commented on #1161
This has also been addressed by #1659.
Thanks for your contribution @ViktorLindgren95!

[2022-08-24 02:35] #1161 closed

[2022-08-24 14:23] igordrnobrega commented on #1746
@mumoshu let me try using helm command.

[2022-08-25 02:14] #1545 closed

[2022-08-25 05:27] shinji62 commented on #1705
@mumoshu Same request here, I saw this PR being merge https://github.com/actions-runner-controller/actions-runner-controller/pull/1720, which is what we want but one things which is a bit of an issues, the requirement for the 3.6 which is fresh new, and updating GHES in big company take some time..So any chance this can be cherry pick on 0.25.2 (before the 3.6 requirement)

[2022-08-25 05:35] mumoshu commented on #1705
@shinji62 Hey! I hear you, but unfortunately, we won't be adding new features to the stable version of ARC because that will further consume our already limited human resource. That said, I think it's not super hard to cherry-pick some changes into the stable version of ARC by yourself and pushing the container image, as we do provide handy make targets and our release automation github actions wo

[2022-08-25 22:04] igordrnobrega commented on #1746
@mumoshu I just confirmed, and is indeed a problem with Pulumi Kubernetes provider.
I opened an issue there; thanks for your patience.

I explained the issue in https://github.com/pulumi/pulumi-kubernetes/issues/2153

[2022-08-25 22:04] #1746 closed

[2022-08-25 22:05] ajitkumarnayak1976 commented on #158
There are 2 ways to achieve Horizontal Autoclavability on Ephemeral Runner.

**Pull Driven Scaling** - The Scale in and out is based on Metrics attribute. The Metrics could be of TotalNumberOfQueuedAndInProgressWorkflowRuns or PercentageRunnersBusy
**Webbook Driven Scaling** - The webbook server receives GitHub Webbook events and scales [RunnerDeployments](https://github.com/actions-runner-control

[2022-08-26 00:55] mumoshu commented on #1726
@jbuettnerbild Hey! Thanks for the update.
If the 24h automated ephemeral runner cleanup doesn't work, I think it's due to something going wrong on the GitHub side.
Could you open a support ticket to GitHub so that they can check their backend to see what's happening?

[2022-08-26 02:28] mumoshu commented on #1581
Possibly related: https://github.com/actions-runner-controller/actions-runner-controller/issues/1535

[2022-08-26 04:00] mumoshu commented on #1581
So the possible cause of this might be that our runner pod finalizer doesn't prevent SIGTERM on `actions/runner` and `dind` running within respective containers of a runner pod.
If CA or any other operator tried to terminated the pod before the node shutdown/cluster scale-in, it will terminate the important processes anyway before the runner finishes it's job.
To address it, we might need another

[2022-08-26 09:07] ognjenVlad commented on #694
@mumoshu  We are still having this issue, it does not have to be long running job just compute intensive, like builds. Looks like ARC is killing the runners when they are in the middle of the job. We are using stateful runners version v2.294.0 and contoller chart is on latest version 0.20.2. Happens two or more times per day and it's not because of the OOM killed, since runners have no limits and

[2022-08-26 09:53] mumoshu commented on #694
@ognjenVlad I think it might be due to https://github.com/actions-runner-controller/actions-runner-controller/issues/1581#issuecomment-1228025441, or https://github.com/actions-runner-controller/actions-runner-controller/issues/1535.
If it happens only for RunnerSet, perhaps it's happening when you triggered an update to RunnerSet while one or more of runner pods are running jobs.
Could you confir

[2022-08-26 10:09] ognjenVlad commented on #694
@mumoshu  Thanks you fast reply.

We are not triggering any updates, it happens just while build jobs are running. And we do not have HPA set up, just stateful set with 3 pods. And safe-to-evict is not set so autoscaler is not rescheduling the pods. Pod is just killed and created immediately.

These are the logs I can see at that time:
`ERROR	actions-runner-controller.runnerpod	Failed to update ru

[2022-08-26 10:32] mumoshu commented on #694
@ognjenVlad Hey! Thanks for sharing.
The last two messages indicate that the runner pods did have successfully exited with the status code 0, which should be returned only when `actions/runner` finished the job correctly.
ARC does delete runner pods once they exited with code 0.
So, this is more likely that there might be any bug in `actions/runner`, if your observation is correct.

[2022-08-26 10:47] ognjenVlad commented on #694
@mumoshu Okay, I will try to debug it more and open issue on runner repo. Thanks!

[2022-08-26 14:13] skysbsb opened #1754 "Bug"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

v1.3.1

### Deployment Method

Helm

### cert-manager installation

Yes

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to contract

[2022-08-26 14:21] toast-gear commented on #1754
A few things:

1. if you are backing RunnerDeployments / RunnerSets with HRAs you shouldn't set hte `replicas:` attribute as documented in the docs https://github.com/actions-runner-controller/actions-runner-controller#autoscaling, remove this from your RunnerDeployments
2. you're misunderstanding the logic ARC uses once it receives a `status=cancelled` webhook, ARC won't remove a runner until Git

[2022-08-26 15:44] skysbsb commented on #1754
tks for the tip regarding `replicas:`. I just removed it.

[2022-08-26 15:46] skysbsb commented on #1754
regarding the canceling of the job, so, you think this is nothing related to ARC itself but github being slow?

[2022-08-26 17:22] skysbsb commented on #1754
It seems that Github doesn't send the cancel event at all to the webhook when we click on the "Cancel run" button. It only cancels the next job.

![image](https://user-images.githubusercontent.com/37450297/186958383-62700814-a0d1-4e02-9063-2104e27164ee.png)
![image](https://user-images.githubusercontent.com/37450297/186958619-e8098fa8-d897-4bcf-9692-944b6db699a0.png)

[2022-08-26 18:47] jt-sh commented on #1733
These are the only logs I have on the ARC webhook server:

[code]

[2022-08-26 21:56] ColinHeathman commented on #1551
I'm planning on making a PR to enable a new prometheus server on the `githubwebhookserver` runtime, and expose these metrics:

[code]

Currently we are most interested in monitoring queue times. We have an elastic cluster, and custom startup logic that takes time so queue time is something we have had problems with in the past, and we need a solution to monitor this.

[2022-08-26 22:32] mumoshu commented on #1733
@jt-sh Thanks! Then almost certainly you have not exposed the webhook server's endpoint to the internet and/or you haven't set the URL to the ARC's webhook server in any of your GitHub repository/organization/app settings.

We've recently removed `TotalNumberOfQueuedAndInProgressWorkflowRuns` from the documentation because it has a various gotchas(like you can't mix GH hosted and self-hosted runne

[2022-08-26 22:33] mumoshu commented on #1733
@jt-sh You don't need to close this I think, but it would be nicer if we could convert this into a Discussion, which we mainly use for user support and any communication until it boils down to a 100% bug.

[2022-08-27 12:29] corneil opened #1760 "Expose Idle/Busy state of runners"
**Is your feature request related to a problem? Please describe.**
I need to run many permutations of acceptance tests and the autoscaling takes to long to come online.
I know exactly how many runners I need. So I want to be able to change the number of runners requested based on how many I need and how many is idle.

**Describe the solution you'd like**
kubectl get runners should include busy/idl

[2022-08-28 01:30] mumoshu commented on #1760
@corneil Hey! We've recently merged #1268 which seems to do exactly what you want.
Could you confirm?

[2022-08-28 02:22] mumoshu commented on #1760
BTW, I'm trying to automate exactly this by enhancing https://github.com/actions-runner-controller/actions-runner-controller/blob/master/test/e2e/e2e_test.go.
I'd appreciate it if you could give it a shot and contribute anything 😄

[2022-08-29 01:48] mumoshu commented on #1551
@ColinHeathman Hey! Thanks for your help. Nit but I think the prefix should be `github_workflow_job_` rather than just `github_workflow_` as actually "workflow jobs" get scheduled onto and run by self-hosted runners, rather than "workflows".

The ideas of four metrics sound good!

Just my two cents- Implementing three histogram metrics can be a bit tricky, as you might need to track all the status

[2022-08-29 18:47] erypolovina opened #1762 "RUNNER_TOKEN is not set for RunnerSet on 0.25.2"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

N/A

### Deployment Method

Helm

### cert-manager installation

I am not using cert-manager.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a

[2022-08-29 22:04] rxa313 commented on #1305
@mumoshu I just wanted to inform that this was not fixed in 0.24.1 or 0.25.2 -- in both cases I tried to upgrade from 0.21.1 to 0.25.2 after updating all crds and even wiping out my entire cluster of crds and uninstalling everything and installing from scratch to make sure.

I finally was able to stop my stateful set from constantly restarting after running:
`kubectl label ns actions-runner-system

[2022-08-29 23:17] mumoshu commented on #1305
@rxa313 Thanks for reporting! Yes, neither ARC nor the chart labels the namespace automatically so I believe this is where we need to update the documentation (of perhaps our chart, next to the description for the `watchNamespace` and `singleNamespace`

[2022-08-30 09:58] rs1986x opened #1763 "Bug"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9.2

### Deployment Method

Helm

### cert-manager installation

Followed the documentation to a T, also installed cert-manager from official helm chart

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controll

[2022-08-30 15:30] dac73 commented on #1762
@toast-gear should that be a fix?
because I have the same error, and NS is labeled correctly:
[code]

[2022-08-30 15:34] toast-gear commented on #1762
interesting, what do your `MutatingWebhookConfig` kinds look like? Can you do a `get` and provide the yaml?

[2022-08-30 15:43] dac73 commented on #1762
Hah, I don't have it 🤔
Helm is deployed via terraform and not showing diff. I will get back here if redeployment fixes the issue. Oh well, at least I know in which direction to search now. Thanks.

[2022-08-30 18:04] #1660 closed

[2022-08-30 18:26] corneil commented on #1760
This looks like it will provide what I need.
If I launch a job that is going to require a certain number of runners and I can determine the number of idle runners I can easily update the replicas or minReplicas to ensure a certain number is available as quickly as possible.

[2022-08-30 19:08] bm1216 opened #1764 "Multi-tenancy doesn't work with Github Apps with no explicit Enterprise URL defined."
### Controller Version

623c84f

### Helm Chart Version

0.20.2

### CertManager Version

1.2.0

### Deployment Method

Helm

### cert-manager installation

We have installed cert-manager from an official helm chart. Anyhow, certificates aren't really the issue here.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com

[2022-08-30 19:19] bm1216 commented on #1764
I understand that the `Multi-tenancy` feature isn't officially released yet. However, we really like the feature and are looking forward to using it ASAP. Following this comment - https://github.com/actions-runner-controller/actions-runner-controller/pull/1371#issuecomment-1210057401, I tried to use the latest image and ran into this issue. Any help would be appreciated. I'm thinking there might b

[2022-08-30 19:34] bm1216 commented on #1763
Hey, this might be the solution to your question -
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits

[2022-08-30 20:28] Diontsoumas commented on #1763
@rs1986x if you try `kubectl describe` on the unscheduled pod, does it have a request or just the limit?

[2022-08-30 23:54] mumoshu commented on #1760
@corneil Hey! Thanks for confirming. Just to be sure, are you talking about a potential feature request to enhance RunnerDeployment so that `kubectl get runnerdeployment` shows idle replicas number next to the desired and available replicas?

[2022-08-30 23:56] mumoshu commented on #1760
Or, you're just stating that https://github.com/actions-runner-controller/actions-runner-controller/pull/1268 would just resolve all your issues so you'll be testing https://github.com/actions-runner-controller/actions-runner-controller/pull/1268 and closing this issue once it works?

[2022-08-31 01:42] mumoshu commented on #1764
@bm1216 Hey! Thanks for testing.
Could you try restarting ARC by recreating all the ARC pods (not runner pods) after ensuring your secret contains a set of valid credentials?
I think our multi-tenancy support caches the github auth config for the lifetime of the respective resource (hra, runnerdeploy, runnerset, etc) so if you had a wrong creds in the secret first and never restarted ARC after fix

[2022-08-31 01:43] mumoshu commented on #1764
I've read through the current implementation and was unable to spot any suspicious code.
It should just work with the correct credentials.. and that's why I'm wondering if this might be caused by an issue like I explained above.

[2022-08-31 01:44] mumoshu commented on #1764
JFYI https://github.com/actions-runner-controller/actions-runner-controller/blob/623c84fa529b9dad4d6522759d5f730f2374b967/controllers/multi_githubclient.go#L278-L312 is where we create the github client from data provided via GithubAPICredentialsRef.

[2022-08-31 06:03] rs1986x commented on #1763
You guys are right, totally my mistake, i did forget to set requests. I'm going to close the ticket and thank you for the quick answer thank you so much

[2022-08-31 06:03] #1763 closed

[2022-08-31 09:28] bm1216 commented on #1764
@mumoshu Thanks for responding! Really appreciate that you looked at this so swiftly.

I have uninstalled and reinstalled the helm chart but am seeing the same issue. I'll try to get to the bottom of it but it's worrying that the issue doesn't crop up using the default cilent by the `controller-manager` secret.

Thanks again, @mumoshu.

[2022-08-31 12:19] bm1216 commented on #1764
I've isolated the issue to this bit of code:

https://github.com/actions-runner-controller/actions-runner-controller/blob/623c84fa529b9dad4d6522759d5f730f2374b967/controllers/multi_githubclient.go#L201-L205

which was added as a part of https://github.com/actions-runner-controller/actions-runner-controller/pull/1725.
This adds an enterprise URL to the github client which can't seem to be opted out

[2022-08-31 13:03] bm1216 commented on #1764
I had a look at that PR and I see where it's coming from. However, the `github` package does a few things depending on whether you have a enterpriseURL defined that's causing issues for us.

https://github.com/actions-runner-controller/actions-runner-controller/blob/623c84fa529b9dad4d6522759d5f730f2374b967/github/github.go#L80-L85

https://github.com/actions-runner-controller/actions-runner-contro

[2022-08-31 13:06] bm1216 commented on #1764
Tagging @Jalmeida1994 since they primarily worked on the issue being discussed here.
Apologies for the sudden barrage of information.

[2022-08-31 13:20] Jalmeida1994 commented on #1764
Hey @bm1216 and @mumoshu how are you?

Ah I think I understand the issue then! We check if the runner deployments have an EnterpriseURL and if they haven't they get the one in the main controller. What happens when the main controller hasn't got any? Well it tries to get something that doesn't exist and tries to use it as the GitHub URL right? And then 💥

I think this is it right? Really sorry abo

[2022-08-31 13:21] bm1216 commented on #1764
Hi @Jalmeida1994, thanks for looking at it :).

and yes, I think you've described the issue perfectly.

[2022-08-31 13:24] Jalmeida1994 commented on #1764
Probably a simple if to check if the main controller's Enterprise URL isn't nil should fix this right?

[2022-08-31 13:25] bm1216 commented on #1764
Hi @Jalmeida1994, thanks for looking at this :). I appreciate it.

You've described the issue correctly to my understanding. And that check should work.

[2022-08-31 14:36] enricojonas commented on #1726
Facing the same issue. I also tried updating the runner agent to above version (2.296.0) but it didn't fix it. Running against Github Enterprise Server v3.5.4.

[2022-08-31 14:43] bmbferreira commented on #1726
Currently it is "working" for us. I mean "working" because runners are still "leaked" but they are de-listed from github after ~24 hours. Either way for the ones having these issue, I leave these two suggestions:
1 - have some kind of monitoring that checks periodically using github api the amount of offline runners still there (if the list is too big, that will be an issue because controller will

[2022-08-31 15:18] bm1216 commented on #1764
Not sure exactly that would work. Since `c.githubClient.GithubBaseURL` would never be empty since it gets populated by NewClient().

https://github.com/actions-runner-controller/actions-runner-controller/blob/623c84fa529b9dad4d6522759d5f730f2374b967/github/github.go#L140-L145

[2022-08-31 15:20] bm1216 commented on #1764
I think this would be better discussed in its own PR.

[2022-08-31 16:22] ttruong-dexcom commented on #1581
@mumoshu That's awesome. Sorry for the late response. I've handed our Runners project off to another team. I'll relay it to them so they can try it out.

[2022-08-31 18:25] jt-sh commented on #1733
@mumoshu I was able to get the `webhook server is running` message when hitting my ingress and also was getting a Green check mark and 200 back on the github webhook logs. I would think that both of those would confirm that the webhook ingress was setup correctly. But I could be mistaken.

Oh interesting, we are only running self hosted runners with a few custom images. Will support for this be re

[2022-08-31 19:05] apanzerj opened #1766 "Missing spec"
https://github.com/actions-runner-controller/actions-runner-controller/blob/623c84fa529b9dad4d6522759d5f730f2374b967/charts/actions-runner-controller/crds/actions.summerwind.dev_horizontalrunnerautoscalers.yaml#L171

If you look in the spec for `pull_request` there is `branches` and allows an array. We don't have that for pushes but the docs say you can do that...

Should I make a PR for this?

[2022-08-31 19:06] apanzerj commented on #1766
(I also don't know how to use Kubebuilder so if tweaking the yml directly is not desired, then let me know...

[2022-08-31 20:07] Jalmeida1994 commented on #1764
Ahh you're right! Good catch. Need to check the issue with more time.

[2022-09-01 11:22] toast-gear commented on #1766
Nope, we're removing support for all webhook events other than `workflow_job` https://github.com/actions-runner-controller/actions-runner-controller/issues/1607

[2022-09-01 15:46] apanzerj commented on #1766
👍

[2022-09-01 15:46] #1766 closed

[2022-09-01 20:31] bquenin opened #1768 "`service` containers not working on runners with `containerMode: kubernetes`"
### Controller Version

0.25.2

### Helm Chart Version

0.20.2

### CertManager Version

1.9.1

### Deployment Method

Helm

### cert-manager installation

Yes I've followed https://github.com/actions-runner-controller/actions-runner-controller#installation and installed cert-manager from the official source https://cert-manager.io/docs/installation/helm/

### Checks

- [X] This isn't a question o

[2022-09-02 05:23] jerry153fish commented on #631
hi @mumoshu the fargate is still not supporting the `privileged containers`, is way around to make the docker in docker work? If disable the docker, then the use cases are very limited.

[2022-09-02 08:07] malachiobadeyi opened #1770 "Change log format to Json and add workflow.runID and workflow.Id to logs"
**Is your feature request related to a problem? Please describe.**
We have 100+ teams using the actions runner controller to provision runners and run pipelines.  Occasionally a runner will not start or start very slowly.  We have found that trying to identify issues and analyse the logs is very time-consuming.

**Describe the solution you'd like**
We use ELK to search,  analyse and visualise our

[2022-09-02 11:46] Tarasovych commented on #1341
Still an issue on summerwind/actions-runner:v2.291.1-ubuntu-20.04. But latest push to summerwind/actions-runner:v2.291.1-ubuntu-20.04 was after this issue was resolved.

[2022-09-02 14:47] bm1216 commented on #1764
I'm currently in the middle of working on this - I think the best way to do it would be to add an `IsEnterprise` bool to the GitHub client struct. It solves both problems.

[2022-09-07 12:20] corneil commented on #1760
@mumoshu If the Idle status is exposed we can determine how much we need to scale the cluster pre-emptively.
Which release contains this?

[2022-09-07 23:12] dputnamfr commented on #1652
@jlees-Gss I feel like you've got a really close workaround here.  I'm in a similar boat, although docker doesn't seem to be live inside my runner container.

Would you be willing to share the whole yaml?  I'm in the same boat you are injecting daemon.json via configmap, and I'm ending up with the repeated message `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker d

[2022-09-07 23:22] dputnamfr commented on #1652
It appears to be possible to use the `dockerVolumeMounts` option along with a custom configmap as defined by @jlees-Gss  above to override the daemon.json in the dind pod, meaning you don't have to jam the docker daemon into the runner.

This works (on AWS) for me without needing to disable waiting for docker or utilizing `dockerdWithinRunnerContainer`

[code]

[2022-09-08 07:22] tommymalmqvist opened #1786 "Add support for ImagePullSecrets in custom image"
**Is your feature request related to a problem? Please describe.**

When using a custom image in my RunnerDeployment I'm not able to use my private repos since there is no support for ImagePullSecret in the CRD

**Describe the solution you'd like**

I want to use a private repo where I have my custom runner image. My image needs terraform, terragrunt and helm installed as well as some custom terra

[2022-09-08 07:44] #1786 closed

[2022-09-08 07:44] tommymalmqvist commented on #1786
Found ImagePullSecret from a colleague

[2022-09-08 13:10] AradZilberberg opened #1788 "Github Webhooks EOF"
### Controller Version

0.20.2

### Helm Chart Version

0.25.2

### CertManager Version

v1.9.1

### Deployment Method

Helm

### cert-manager installation

yes
yes

### Checks

- [x] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might also be a good idea to cont

[2022-09-08 18:31] doncorsean opened #1789 "Webhook server fails to parse webhook and returns 500's"
### Controller Version

0.20.2

### Helm Chart Version

0.25.2

### CertManager Version

v1.8.0

### Deployment Method

ArgoCD

### cert-manager installation

yes issue is not cert manager

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/actions-runner-controller/actions-runner-controller/discussions). It might als

[2022-09-08 20:54] #1789 closed

[2022-09-08 20:55] doncorsean commented on #1789
We were using wrong webhook, workflow run vs workflow jobs

[2022-09-08 22:48] davidsielert commented on #1135
Can you please clarify this ? I've tried putting a .env file at / and /runner to no avail .

[2022-09-09 04:13] zbenamram opened #1793 "Multitenancy: githubAPICredentialsFrom not set on Runner"
### Controller Version

e233f7ad6adb2894a6cc2d951f2016e41586334b

### Helm Chart Version

_No response_

### CertManager Version

_No response_

### Deployment Method

Other

### cert-manager installation

I have followed the installation steps and successfully installed cert manager

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](h

[2022-09-09 04:53] mumoshu commented on #1793
@zbenamram Hey! Thanks for reporting. It works for me so probably the cause might be somewhere in your setup- for example, do you use GHES or GitHub Cloud? Which kind of creds do you use, GitHub App or PAT? Also see #1781 which fixes an issue found in the multi tenancy feature.

[2022-09-09 05:08] zbenamram commented on #1793
with respect to #1781 - the URL that the controller is attempting to retrieve a registration token is correct based on the controller logs shared above.

I am using a GitHub app - but thats set within a kube secret that is successfully set on the RunnerDeployment, RunnerReplicaSet resources but not on the Runner resource.

Would you mind confirming that `githubAPICredentialsFrom` is successfully s

[2022-09-09 05:10] mumoshu commented on #1793
@zbenamram Runner specs are derived from RunnerDeployment specs so it's unnatural that you don't see the field being set on runners only. Could you check if you did upgrade the Runner CRD to have the definition for the new field?

[2022-09-09 05:24] zbenamram commented on #1793
@mumoshu - that was it - i missed updating that CRD. Thanks so much for your assistance. Looking forward to the next release!

[2022-09-09 05:24] #1793 closed

[2022-09-09 09:40] #1764 closed

[2022-09-10 03:25] #1574 closed

[2022-09-10 04:18] mumoshu commented on #1760
0.26.0 is going to be the first version of ARC that contains #1268.

[2022-09-12 21:12] SiddarthaKura opened #1797 "Trivy reports a high severity vulnerability CVE-2018-8292"
We are using self hosted action runners and kata containers are our main dependencies, so after upgrading to newer versions of packages also, i am facing this vulnerability.

Currently we are using Ubuntu 20.04 (Bionic),  By upgrading to Ubuntu 22.04 (Jammy) will this be fixed permanently, need your inputs.

[2022-09-12 23:58] mumoshu commented on #1797
@SiddarthaKura Hey! The CVE seems to be about .NET Core https://nvd.nist.gov/vuln/detail/CVE-2018-8292. The only thing in actions-runner that depends on .NET would be `actions/runner`. Are you basically saying that some versions of `actions/runner` are affected by the CVE?
If so, why does upgrading to Ubuntu 22.04 resolve that? 🤔 I'm quite lost.

[2022-09-13 00:02] SiddarthaKura commented on #1797
Yes Yusuke, how do we resolve them? any mitigation steps

[2022-09-13 00:02] mumoshu commented on #1788
@AradZilberberg Hey! Could you try running `curl` against the URL and see if it returns 200 OK? If not, you might have misconfigured something in-between.

Also,

Never use `push` triggers. You'd only need `workflow_job` these days.

[2022-09-13 00:03] mumoshu commented on #1797
@SiddarthaKura Maybe file an issue in https://github.com/actions/runner if you thin `actions/runner` is affected by CVE? 🤔

[2022-09-14 03:26] rpall08 opened #1800 "Critical and high CVE Vulnerabilities in actions-runner image"
### Controller Version

summerwind/actions-runner-controller:latest

### Helm Chart Version

v3.9.0

### CertManager Version

_No response_

### Deployment Method

Helm

### cert-manager installation

Did use self signed cert for actions-controller deployment.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/action

[2022-09-14 06:13] mumoshu commented on #1800
@rpall08 Hey! We don't install `go` in our actions runner image. Any idea about exactly which file in the runner image is affected?

[2022-09-14 13:20] rpall08 commented on #1800
@mumoshu, from Twislock scan report found below info.
**Type:** App
**Names:**go
**Path:** /usr/local/bin/docker
**Version:** 1.16.12

[2022-09-14 13:23] duhow opened #1802 "Support scale subresource to scale Runners with kubectl"
**Is your feature request related to a problem? Please describe.**
According to https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#subresources :

**Describe the solution you'd like**
Being able to scale RunnerDeployments, RunnerStatefulSets and/or RunnerReplicaSets with **kubectl**:
[code]

**Additional context**
https://github.com/actions-runner-cont

[2022-09-14 18:14] rxa313 opened #1804 "Runner Container Spinning Up Faster than Docker Daemon can be Ready."
ARC version: `v0.24.1`
Chart version: `0.18.0`

Note: Using `RunnerSet` configuration.

I'm noticing an issue with some runners after they restart post execution. These runners are ephemeral and I've seen, sporadically, (it doesn't happen every time a runner is started), that sometimes the `Runner` container is getting spun up before `docker daemon` is ready. When this is happening if a job ends u

[2022-09-14 19:20] DerekTBrown commented on #466
Are there ways that `actions-runner-controller` or `actions-runner` could more gracefully handle the OOM-killed case? Could we somehow report OOM kills to the GitHub UI? Could we run a separate OOM killer inside the workers to kill the workflow before it exceeds memory limits?

[2022-09-15 01:08] mumoshu commented on #466
@DerekTBrown Hey. I think that's fundamentally impossible. Even if we were able to hook into the host's system log to know about which process got OOM killed, we have no easy way to correlate it with a process within a container in a pod and even worse, GitHub Actions doesn't provide an API to "externally" set a workflow job status.

However, I thought you could still see a job times out after 10

[2022-09-15 01:13] mumoshu commented on #1797
@SiddarthaKura Does Trivy tell you exactly which file in the runner image is affected? If so, could you share it so that we can perhaps figure out how to fix it?

[2022-09-15 10:14] swathida-byte opened #1806 "pods in offline state and webhook scaling is not happening"
<img width="1336" alt="Screenshot 2022-09-15 at 3 42 25 PM" src="https://user-images.githubusercontent.com/97519234/190378404-3af7bef4-449e-4d73-90a8-bcdd5e66d15e.png">

[2022-09-15 10:15] swathida-byte commented on #1806
scaler yaml file
[code]

[2022-09-15 10:15] swathida-byte commented on #1806
deployment yaml file
[code]

[2022-09-15 10:16] swathida-byte commented on #1806
I'm using v.26.0 version

[2022-09-15 10:32] #1806 closed, assigned to nobody

[2022-09-15 14:11] #1800 closed

[2022-09-16 12:40] nitrocode commented on #1543
Unstale

[2022-09-16 21:41] marcofranssen commented on #1502
Is this project still active? Anyone here who can give a response on how to move this forward?

[2022-09-17 10:44] mumoshu commented on #1502
@marcofranssen Hey! This project is definitely active. But this project is driven by individual contributors like me who aren't paid enough for responding every issue and question- forgive me for not meeting your expection but it would be great if you could be patient.
Honestly speaking, the reason I put this at lower priority is that I just couldn't figure out the benefit of doing this.
We alread

[2022-09-17 13:40] marcofranssen commented on #1502
@mumoshu this is about making the helm chart discoverable. Artifcathub.io is not a registry. It is an index. The image will still be downloaded from the registry where you publish it and the helm chart is just indexed in artifacthub to be downloaded from where-ever you publish it.

[2022-09-17 14:15] mumoshu commented on #1502
@marcofranssen Thanks for clarifying! Just to be extra clear, what do you mean by "discoverable" exactly? Are you basically saying that it might be more common to look for the chart you want to use in artifacthub.io first, rather than reading the README to find out e.g. `https://actions-runner-controller.github.io/actions-runner-controller` which is our current helm chart repo?

[2022-09-17 14:23] marcofranssen commented on #1502
Whenever I search for helm charts I go first to artifacthub.io. Based on that I might be searching the repo to deep dive into the details of a chart.

[2022-09-19 03:28] rpall08 opened #1811 "How can I make the mutatingwebhook work on AKS?"
### Controller Version

summerwind/actions-runner-controller:latest

### Helm Chart Version

v3.9.0

### CertManager Version

_No response_

### Deployment Method

Helm

### cert-manager installation

Did use self signed cert for actions-controller deployment.

### Checks

- [X] This isn't a question or user support case (For Q&A and community support, go to [Discussions](https://github.com/action

[2022-09-19 03:39] mumoshu commented on #1811
@rpall08 Hey! Please don't delete the mutatingwebhookconfig. It's required to inject runner tokens to runner pods.

[2022-09-19 03:42] mumoshu commented on #1811
@rpall08 From what I can see from the information, I think this it the correct title for this issue, as I don't think you've actually found any bug in ARC.
In many managed K8s, you need a special configuration specific to your cloud to let the managed K8s control plane to access your pods(which are backing your mutatingwebhook). Try usinghostNetwork or whatever like you'd need for GKE.

[2022-09-19 03:44] mumoshu commented on #1811
We can't provide general support for every K8s cluster in the wild, but we do have a comprehensive guide for troubleshooting issues like yours. Could you read https://github.com/actions-runner-controller/actions-runner-controller/blob/master/TROUBLESHOOTING.md#internalerror-when-calling-webhook-context-deadline-exceeded, Azure AKS doc, and try to fix it/

[2022-09-19 03:49] mumoshu commented on #1811
@rpall08 Can we move this to Discussion, as this looks like a Q&A rather than a bug report?

[2022-09-19 04:05] rpall08 commented on #1811
@mumoshu , sure please move it to Q&A.

Deleting mutation worked on Dev environment(it’s mentioned in triage steps) and then trying to deploy on prod environment, followed same steps as Dev on Prod and facing the issue of runner getting created in default namespace though namespace specified in helm command and keeps terminating.

[2022-09-19 04:29] mumoshu commented on #1811
@rpall08 Maybe it needs to be clarified more, but the removal of mutatingwebhookconfigs are valid only when you still had dupliclate installations of ARC in your cluster and it resulted in duplicated mutatingwebhookconfigs. It only needs one per ARC installation.

[2022-09-19 05:04] mumoshu commented on #1811
@rpall08 This documentations looks relevant to your issue https://learn.microsoft.com/en-us/azure/aks/faq#can-i-use-admission-controller-webhooks-on-aks
How can you configure your firewall settings for AKS control-plane egress? The AKS control-plane needs egress access to the pods running within your cluster for mutatingwebhooks.

[2022-09-19 13:18] rpall08 commented on #1811
@mumoshu , Did you find anything from logs, why runner pod trying to created in default namespace rather specified namespace?

[2022-09-19 16:56] #1797 closed

[2022-09-19 21:35] mumoshu commented on #1797
@SiddarthaKura How did you resolve your issue? Did my answer help?

[2022-09-19 21:45] mumoshu commented on #1811
@rpall08 Probably you have a dangling RunnerDeployment named `myOrganization-runner` in the `default` namespace.

[2022-09-20 00:12] mumoshu commented on #1502
@marcofranssen Thanks a lot for the detailed explanation! I'm convinced. This is absolutely a good idea.

I read the guide but am still unsure how I can actually "add" our helm chart repository to ArtifactHub.

The guide says:

But there's no mention of how you could add the repository 🤔

[2022-09-20 00:17] mumoshu commented on #1502
Okay, I figured it out. Sign up on ArtifactHub, go to "Control Panel", and you'll see the button to add a repository to ArtifactHub. There's also a mechanism to show me as the verified publisher of the chart so I'll try add some metadata to the chart for that.

[2022-09-20 06:45] marcofranssen commented on #1502
Awesome. This is going to make this project even more popular.

[2022-09-20 08:13] swathida-byte opened #1817 "how do i remove the runners which are in offline state in one shot at enterprise level"

[2022-09-20 09:07] toast-gear commented on #1811
additional to all this, setting the `replicas:` attribute when you are backing your RunnerDeployment with a HRA isn't helping https://github.com/actions-runner-controller/actions-runner-controller#autoscaling

[2022-09-21 08:36] #1502 closed

[2022-09-21 09:37] AradZilberberg commented on #1788
Found the issue I configured the external load balancer wrong.
Thanks for the help.

[2022-09-21 09:37] #1788 closed

[2022-09-21 12:15] vmdude commented on #822
@toast-gear As PR has been merged, this issue can be close IMHO.

[2022-09-21 12:16] #822 closed

[2022-09-21 16:38] kim0 opened #1825 "PVC and STS should get stable names"
### Checks

- [X] I've already read https://github.com/actions-runner-controller/actions-runner-controller/blob/master/TROUBLESHOOTING.md and I'm sure my issue is not covered in the troubleshooting guide.

### Controller Version

0.21

### Helm Chart Version

_No response_

### CertManager Version

_No response_

### Deployment Method

Helm

### cert-manager installation

Yes

### Checks

- [X] Th

[2022-09-22 06:55] corneil commented on #1760
I'm now running ARC 0.26.0 and I don't see anything different from previous versions when using `kubectl get runnerdeployments` The pod status.phase also just shows Running only even when some are definetly idle

[2022-09-22 07:10] mumoshu commented on #1760
Hey. Please see the new `runner.statusUpdateHook.enabled` helm chart value and the new ARC flag named `--runner-status-update-hook` to enable it. It's currently an optional feature because enabling it results in giving ARC and runners more permissions on your cluster.