[2022-03-16 13:54] Meroje commented on #1223
Also, I guess the lack of namespace selector explains why we didn't see logs from the mutating webhook

[2022-03-16 19:53] casanova-21 commented on #1067
@mumoshu Hey! 👋  Yeah, so consider the scenario where I'm a large enterprise with hundreds or even thousands of orgs in my GHES platform. We certainly preach "less orgs is better" here, but we definitely have companies with huge numbers of orgs as the developers have been given carte blanche to create them at will. So now we've seen the demo of ARC and decide we want to adopt it to replace our Jen

[2022-03-17 00:10] mumoshu commented on #1223
Thank you for confirming!
The configuration looks good.
Would you mind rechecking once you fixed the namespaceSelector in the webhook configs?

I had a lightbulb in my brain when I was about to sleep- So it might be due to that your duplicating mutatingwebhooks across namespaces have never worked.

Which custom resource are you using to deploy runners, RunnerSet or RunnerDeployment?
As I see `"run

[2022-03-17 01:12] #1205 closed

[2022-03-17 06:45] stefangluszek opened #1235 "Runner not removed from GitHub"
**Describe the bug**
One of the auto scaling runners was stuck in the offline state.

**Checks**

- [ ] My actions-runner-controller version (v0.x.y) does support the feature
- [ ] I'm using an unreleased version of the controller I built from HEAD of the default branch

**To Reproduce**
Steps to reproduce the behavior:
Unfortunately I can't reproduce it, it just happened in the wild. But here are

[2022-03-17 06:58] mumoshu commented on #1235
@stefangluszek This is inevitable in a case that a runner pod was gone while running a job(hence it's status remains `busy`).  In that case, until GitHub Actions somehow detects the situation and revert the runner status to `offline`, ARC can't forcefully remove it, and therefore ARC skips unregistering the runner from Actions and continue deleting the pod.

We've recently improved ARC's reliabili

[2022-03-17 07:10] stefangluszek commented on #1235
Thanks @mumoshu, I will upgrade and let you know if this still happens.
I am not sure about the un-registration of the offline runners, we had some in offline mode since June 2021 and they didn't get removed until today.

[2022-03-17 07:13] mumoshu commented on #1235
@stefangluszek Good to know! Thanks for sharing ☺️

[2022-03-17 14:01] roshvin opened #1238 "runners are not scaling up as per job count"
**Describe the bug**
i am trigger 100 workflow job
i can see 100 runners created.
after some time 50 job will be pending to run
but that moment i can only see 5 to 10 runners avaialbe. and the workflow run will slow down and use only available runners.
am i missing something in the configuration.

[code]

[code]

[code]

[2022-03-17 15:15] siyuan0322 opened #1239 "The webhook driven deployment part in README seems out of date."
**Describe the bug**
Hi everyone, I'm trying to autoscaling my CI runners, and I was following the README. In the README, the helm command to install webhook driven deployment is
[code]
But it seems the [Service](https://github.com/actions-runner-controller/actions-runner-controller/blob/c06a806d759f0a83b8b5b03942dd9dc42b521f7e/charts/actions-runner-controller/values.yaml#L206) type in `values.yam

[2022-03-17 15:51] lolletsoc opened #1240 "Webhook server is throwing 'error while finding visible runner groups'"
**Describe the bug**
[code]
The webhook server seems to be trying to hit a GitHub Enterprise only API (https://docs.github.com/en/rest/reference/actions#list-self-hosted-runner-groups-for-an-organization)

I've not configured for Enterprise - at least I don't think I have.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy webhook server using either PAT or GitHub App

**Expected behavio

[2022-03-17 19:57] toast-gear commented on #1240
What does your yaml look like?

[2022-03-17 19:59] toast-gear commented on #1238
Upgrade to v0.22.0, there were signficant changes to how scaling works in the latest release

[2022-03-18 01:12] mumoshu commented on #1240
I think ARC's current behavior implies that you must not pass GitHub credentials to githubhookserver in case you aren't using runner groups at all.
https://github.com/actions-runner-controller/actions-runner-controller/blob/c06a806d759f0a83b8b5b03942dd9dc42b521f7e/controllers/horizontal_runner_autoscaler_webhook.go#L496-L516

[2022-03-18 04:39] roshvin commented on #1238
Hi @toast-gear  we have already upgraded to v0.22.0

[code]

is there any change in runnerdeployment or HRA to tune as per the latest version.

[2022-03-18 04:55] mumoshu commented on #1238
@roshvin Is your `scaleUpTriggers[].duration` enough for your use-case?

[2022-03-18 05:45] roshvin commented on #1238
Hi @mumoshu  , thanks for your quick replay . could you pls suggest a number , i couldn't find much on the documentation.
This runner is at our enterprise level and we may get lots of workflow jobs .

[2022-03-18 05:59] mumoshu commented on #1238
@roshvin What's the longest duration between (1)the time the first job is enqueued and (2)the time the last job completes running? That should be the safest scaleTrigger duration.

[2022-03-18 06:38] roshvin commented on #1238
Hi @mumoshu  , it will be like 2 Hrs when i test in INT  . but  in PROD since its enterprise level there is no last job ,  jobs will be keep on coming.
we have 20K users and 50K repos .
what would be your suggestion .

[2022-03-18 06:40] mumoshu commented on #1238
In my understanding, that's okay and unrelated to how long it should be.
Just set the longest duration between (1) and (2) for the longest workflow job that are intended to run on your runners tied to your HRA.

[2022-03-18 07:05] shettarvinay commented on #1220
@mumoshu : Hey good morning. I observe that `go 1.17.7` vulnerability is fixed and longer found on latest tag now but the `jwt-go `is still existing.

[2022-03-18 07:09] shettarvinay commented on #1221
@mumoshu : We are presently connecting with our docker image scan tool owner to check if the results found are false positive, as `go` is not directly found on the runner and runner-dind images.

Also, we scanned the same images (runner and runner-dind) with `docker scan image_name`, for which results were logged to `https://app.snyk.io/` and turns out that , it doesn't report `go` vulnerabilities

[2022-03-18 12:16] lolletsoc commented on #1240
Ah, thank you, that's really helpful! I will investigate a bit further and let you know.

[2022-03-21 05:16] roshvin commented on #1238
Hi @mumoshu  , thanks for the info . could you suggest you are referring to below value.
[code]

also could you let us know  what below parameter do.

` scaleDownDelaySecondsAfterScaleOut: 5`

[2022-03-21 15:47] yourmoonlight opened #1253 "what does it mean "user repositories not supported"?"
**Describe the bug**
A clear and concise description of what the bug is.

I had finished the webhook configuration，but when I tried to push，I got the following DEBUG message

`2022-03-21T15:40:28Z	DEBUG	controllers.webhookbasedautoscaler	user repositories not supported	{"event": "push", "hookID": "349188636", "delivery": "3b6da0c4-a92d-11ec-9628-7beee63ddb82", "owner": "yourmoonlight"}`

**Environ

[2022-03-21 16:01] yourmoonlight opened #1254 "Just want to ask, if ARC's webhook scaling can scale to zero work nodes?"
Since our CI node's instanceType is large and expensive,
So just wonder if we use webhook scaling feature，is it possible to reduce the expensive cost by scaling down to zero worker nodes during the idle time。

[2022-03-21 21:38] sbrinkerhoff opened #1255 "Installing > 0.20.4 with kubectl"
**Describe the bug**
When attempting to install >0.20.4 with kubectl, the crd is too large to apply.  Did 21.0+ stop supporting installing using kubectl directly? (https://github.com/actions-runner-controller/actions-runner-controller#installation)

**To Reproduce**

- `kubectl apply -f https://github.com/actions-runner-controller/actions-runner-controller/releases/download/v0.22.0/actions-runner-

[2022-03-21 21:40] sbrinkerhoff commented on #1255
Similar to:

- https://github.com/actions-runner-controller/actions-runner-controller/issues/1157

[2022-03-21 21:50] sbrinkerhoff commented on #1255
Resolved with:
[code]

[2022-03-21 21:50] #1255 closed

[2022-03-21 22:01] sbrinkerhoff opened #1256 "Upgrading from 0.20.3 to 0.22.0 failing"
**Describe the bug**
Attempting to upgrade from 0.20.2 to 0.22.0 failing.

**Checks**

**To Reproduce**

- Remove existing controller (`kubectl delete -f https://github.com/actions-runner-controller/actions-runner-controller/releases/download/v0.20.3/actions-runner-controller.yaml`)
- Install 0.22.0 (`kubectl apply -f https://github.com/actions-runner-controller/actions-runner-controller/releases/

[2022-03-21 22:06] sbrinkerhoff commented on #1253
Are you attempting to connect a runner to a user repository? (as apposed to an org/repo)?

[2022-03-21 22:23] sbrinkerhoff commented on #1256
From https://github.com/actions-runner-controller/actions-runner-controller/issues/1157#issuecomment-1055421900.

[code]

Then install..

[code]

[2022-03-22 00:20] inventionlabsSydney commented on #336
This change seems to now block actions from writing to that directory:
Container creates in the docker sidecar:
[code]

Then when the action is running:

[code]

This is because the container running the action is running as a unprivileged used:
[code]

As such, I believe this change has now broken other implementations, can we not customise this?

[2022-03-22 00:37] mumoshu commented on #336
@inventionlabsSydney Thanks for reporting!

Just wondering, but who creates the directory `__t` in this case?

[2022-03-22 01:33] yourmoonlight commented on #1253
yes, it does not support user repo?

[2022-03-22 01:47] mumoshu commented on #1253
It's just a DEBUG-level log message that shouldn't harm the functionality of the webhook-based autoscaler
https://github.com/actions-runner-controller/actions-runner-controller/blob/f28cecffe9731926309bdd5e6f1419a8fd87dcf1/controllers/horizontal_runner_autoscaler_webhook.go#L474

[2022-03-22 01:51] yourmoonlight commented on #1253
2022-03-21T15:40:28Z	DEBUG	controllers.webhookbasedautoscaler	Scale target not found. If this is unexpected, ensure that there is exactly one repository-wide or organizational runner deployment that matches this webhook event	{"event": "push", "hookID": "349188636", "delivery": "3b6da0c4-a92d-11ec-9628-7beee63ddb82"}

this is the log after that

[2022-03-22 01:54] mumoshu commented on #1253
@yourmoonlight That's an error unrelated to the debug message and points out that you should have a configuration mistake

[2022-03-22 04:02] mumoshu commented on #1253
@yourmoonlight Do you have any repository to share all your HRA and RunnerDeployment that I can see?
Perhaps you're trying to use an organizational runners for an useraccount(it won't work), or you just don't have RunnerDeployment pointed tot your repository.

[2022-03-22 11:06] MarioUhrik opened #1258 "Missing conversionReviewVersions field in config/crd/patches/webhook_in_runners.yaml"
**Describe the bug**
When `config/crd/patches/webhook_in_runners.yaml` is used and `kubectl apply/create` is attempted on the generated Runner CRD, it fails due to missing required field `conversionReviewVersions`.

[code]

**Checks**

- [x] My actions-runner-controller version (v0.x.y) does support the feature
- [ ] I'm using an unreleased version of the controller I built from HEAD of the defaul

[2022-03-22 12:06] genisd commented on #1238
It should, but sadly in case of an organizational runner there is no endpoint on githubs side as to how many jobs are pending(outstanding) on an organizational level to base the scaling on.

So it tries to scalup on webhook and scaledown once complete on same webhook.
It kind of works but it's far from perfect.

Your testing scenario is probably the arch enemy of current webhook scaling method and

[2022-03-22 12:43] lolletsoc commented on #1240
In case anyone else comes across this, do not provide any credentials, just the `GITHUB_WEBHOOK_SECRET_TOKEN`

For example
[code]

[2022-03-22 12:43] #1240 closed

[2022-03-22 12:54] roshvin commented on #1238
@genisd thanks for you replay . i will try with 1 - 3 min job.
but our runner is not at Org level , Our runners are at Enterprise level and shared with Org

[2022-03-22 18:33] #1207 closed

[2022-03-22 20:41] sbrinkerhoff opened #1261 "Latest Runner Image Issues (summerwind/actions-runner@sha256:...4e48fc)"
**Describe the bug**

About an hour ago I started getting odd actions executions ... Installing applications (awscli, etc) with pip are no longer on the path as they were about two hours ago.

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/323561/159571941-3f5be6f2-08c6-41db-8839-c5599a840205.png">

**Container Hashes**

Container that has issues with Python/PIP insta

[2022-03-22 23:18] mumoshu commented on #1261
@sbrinkerhoff Hey! Thanks for reporting. Yes, I also suspect this is coming from 2cb04dd but not sure why- we didn't touch anything about PATH 🤔

Do you have any idea where commands installed via pip, like `dynamodump`, are located at? Is it the case that previous versions of the runner image had that path in `$PATH` and currently it's doesn't for some reasons? 🤔

[2022-03-22 23:31] BeyondEvil commented on #1261
I have a similar issue.

All of a sudden `/home/runner/.local/bin` is missing from `$PATH`, and our builds started failing 4 hours, which correlates exactly with the time `summerwind/action-runner` was updated.

I pulled the image locally and checked, and it's there. So something is weird.

Tomorrow I'll replace the `latest` tag with the previous one (the one published 8 days ago) to see the issue

[2022-03-22 23:51] BeyondEvil commented on #1261
99% sure that the issue is with the actions-runner image.

The simples possible job, and `/home/runner/.local/bin` is missing from `$PATH`

![Screenshot 2022-03-23 at 00 49 24](https://user-images.githubusercontent.com/15611634/159595245-6dcd6a17-f0be-4675-903c-4c50b6446e66.png)

![Screenshot 2022-03-23 at 00 49 06](https://user-images.githubusercontent.com/15611634/159595254-561e94a2-3ba4-4861-95

[2022-03-23 00:04] kichik commented on #1165
For anyone else seeing the same issue, this is the missing command:

[code]

When using Helm, you can use `--set authSecret.github_app_id=xxx --set authSecret.github_app_installation_id=yyy --set authSecret.github_app_private_key=zzz`.

When using GitHub PAT, use `--set authSecret.github_token=xxx`.

The relevant part of the documentation comes right after the commands to install the chart.

https

[2022-03-23 00:06] mumoshu commented on #1261
Thanks!

We previously `exec`ed into `runsvc.sh`:

https://github.com/actions-runner-controller/actions-runner-controller/blob/366f8927d8bd0cf0d53125cfc543cdc810846f21/runner/entrypoint.sh#L181

And it had this block of code to set `PATH` from the content of the `.path` file.
https://github.com/actions-runner-controller/actions-runner-controller/blob/366f8927d8bd0cf0d53125cfc543cdc810846f21/runner

[2022-03-23 00:09] mumoshu commented on #1165
@kichik Thanks for reporting! Would you mind contributing the doc update?

[2022-03-23 00:27] BeyondEvil commented on #1261
So, it's confirmed now I think. With what you said @mumoshu and the fact that when I replaced `latest` with `v2.289.1-ubuntu-20.04-4cbbcd6`, the `$PATH` is correct again:

![Screenshot 2022-03-23 at 01 20 54](https://user-images.githubusercontent.com/15611634/159597936-f6a62d1f-6ac6-4898-a2bb-5130dd7cc226.png)

So, I might be wrong here, but based on [this](https://github.com/actions-runner-contro

[2022-03-23 00:40] mumoshu commented on #1261
@BeyondEvil Thanks for your confirmation. I run a few commands in the runner and verified that it might be due to our use of `mapfile` and `env` to compose the env passed to `run.sh`. We seem to have hidden the PATH loaded by bash with PATH defined in `/etc/environment`. The latter lacks `/home/runer/.local/bin` so that the problem occurs.

[code]

Still unsure how `bash` alone able to locate `/ho

[2022-03-23 00:47] BeyondEvil commented on #1261
I would wager a guess that it's in `$PATH` _before_ running `entrypoint.sh`, because it's set in the Docker file [here](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/runner/Dockerfile#L116) and then the mapfile/env stuff overwrites it.

So you can either replicate the runsvc.sh, or simply do what's done in the dockerfile: `PATH="${PATH}:${HOME}/.local/bin"`

Re

[2022-03-23 01:13] jgreat commented on #1253
I ran into this too when trying to connect the autoscaler to a user/repo.  Looks like line 475 would end up returning nil and triggering the misleading `Scale target not found` message.

https://github.com/actions-runner-controller/actions-runner-controller/blob/f28cecffe9731926309bdd5e6f1419a8fd87dcf1/controllers/horizontal_runner_autoscaler_webhook.go#L475

Can I ask why a the HRA webhook doesn'

[2022-03-23 01:16] mumoshu commented on #1261
@BeyondEvil Ah thanks a lot! That explains the issue.

It might be like this; Since our recent introduction of the `mapfile` thing we forgot to tidy the `ENV PATH="${PATH}:${HOME}/.local/bin"` config in our Dockerfile.

It resulted in we unintentionally relied solely on the `.path` loader logic embedded in our legacy `runsvc.sh` to make pip-installed bins to work.

https://github.com/actions-runne

[2022-03-23 01:24] mumoshu commented on #1253
@jgreat The log was added in https://github.com/actions-runner-controller/actions-runner-controller/commit/4ebec3820810e9d72032118870d44b23c1a47cc2 and it basically says that everything after line "478" that is intended to support runner groups(which are enterprise features not available to user repos).

User repositories are indeed supported by ARC. If you configured your RunnerDeplomeny for a us

[2022-03-23 01:28] #1261 closed

[2022-03-23 01:29] mumoshu commented on #1261
@BeyondEvil @sbrinkerhoff Would you mind giving it a shot once the new runner image has been automatically built and published after #1263 gets merged? Thanks!

[2022-03-23 01:42] jgreat commented on #1253
Thanks for clarifying. I've read and re-read the documentation and I seem to be stuck with the webhook autoscaler.  I don't understand why the webhook server can't seem to find the HRA.

I get this in the webhook server logs:

[code]

My RunnerDeployment and HRA:
[code]

I've deployed the latest controller helm chart (0.17.0). I'm using the GitHub app authentication and configured the app webhook.

[2022-03-23 01:44] jgreat commented on #1253
I do have the helm chart set to watch a single namespace.

[code]

[2022-03-23 01:50] mumoshu commented on #1253
@jgreat Would you mind sharing your workflow definitions? I'm especially interested in what you have in `on` sections.

[2022-03-23 01:52] mumoshu commented on #1253
@jgreat Also, your log says your webhook endpoint is configured to receive `check_run` events, but your HRA seems to be configured to only accept `workflow_job` events. Which event are you going to use as the scale trigger?

[2022-03-23 08:47] BeyondEvil commented on #1261
Hey @mumoshu Sorry for ghosting, was way past my bedtime. :(

Anyway, it seems like it's working again (at least latest). Great work!

[2022-03-23 13:18] larstiq opened #1265 "RunnerSet not using persistent storage after v0.20.2 -> v0.22.0 upgrade"
**Describe the bug**

When we were using v0.20.2 with `ephemeral: false` RunnerSets we had docker laying caching working.  After upgrading to `v0.22.0` and dropping the `ephemeral: false` because my understanding from https://github.com/actions-runner-controller/actions-runner-controller/pull/1211/ was that this was not needed, there is no longer any persistent storage for the RunnerSets.

Adding

[2022-03-23 13:35] toast-gear commented on #1265
I think there has been a misunderstanding of how this works.

https://github.com/actions-runner-controller/actions-runner-controller/pull/1211 just changed the flag we are pass by default to a runner which is `ephemeral: true` (the default) from the legacy `--once` flag to the new (not that new now) GitHub supported `--ephemeral` flag. This is seperate and not related to the `ephemeral:` attribute

[2022-03-23 13:57] yourmoonlight commented on #1253
Thanks bro, I get it, now HRA works well

[2022-03-23 15:52] sethamclean opened #1266 "Allow TLS configuration for githubwebhookserver"
**Is your feature request related to a problem? Please describe.**
I would like to configure end to end TLS for the githubwebhookserver.

**Describe the solution you'd like**
I would like to have the githubwebhookserver listen for tls connections when configured with a host and certificate bundle secret name.

**Describe alternatives you've considered**
The only alternative I'm aware of is to term

[2022-03-23 18:48] jgreat commented on #1253
@mumoshu Thanks for looking at my config.   I think I figured out my mistake.  I had "Workflow run" webhook events enabled instead of "Workflow job".

Some things that I got confused on:

- Debug is enabled on the webhook server by default.
- The debug message to escape from the runner groups block.  Maybe that could be updated for clarity.  The message make you think it doesn't support User repos

[2022-03-23 23:01] mumoshu commented on #1265
@larstiq Probably toast-gear has answered everything you'd need to know, but anyway treat me as another data point;

`ephemeral: true|false` and `--ephemeral` are two different things. If you do want to keep your volumes reused across workflow jobs, do keep using static/persistent runners by setting `ephemeral: false`.

JFYI, in the context of ARC, `--once` and `--ephemeral` are the two different

[2022-03-23 23:03] mumoshu commented on #1261
@BeyondEvil Don't worry, your own life is the most important thing. And thanks for confirming! Glad to hear it's fixed ☺️

[2022-03-24 06:07] larstiq commented on #1265
Right, I was afraid of that.

I swore I had seen storage stick after pod restarts, but couldn't confirm so there was a chance I was remembering the wrong thing, alas.

Good, that description is exactly what I want.   Can you confirm the Pod naming `persistent-runner-857b4-0` is the determinism that is expected?

Fair enough, the GKE auto-provisioned persistent disks sometimes look like magic but t

[2022-03-24 07:04] larstiq commented on #1265
@mumoshu hmm, your answer on

seems to contradict @toast-gear's answer on

What I want is
1) persistent storage for caching (docker layers, mainly, so in the docker container)
2) clean runner environments after each build, seemingly easiest by just restarting the runner, what I hoped to get with `ephemeral: true`.

I've now added in the volumeClaimTemplates like so:

[code]

And that works to get

[2022-03-24 07:16] larstiq commented on #1265
When adding `ephemeral: false` back in I can confirm that there are only 2 `StatefulSets` (`persistent-runner-wmhrb` and `persistent-runner-bj6jm`), the `Pods` stay up and the docker caching works, at the cost of the `runner` being polluted over time.

Btw, is there a Slack/irc/chat channel somewhere I could ask these questions instead of filing a Github issue?

[2022-03-24 07:35] mumoshu commented on #1265
@larstiq So what @toast-gear has explained seems to be the pre-0.22.0 behavior.

Since 0.22.0, ARC creates a brand-new statefulset per a runner pod.

It was to make workflows job runs more reliable. Pre-0.22.0, there was race condition between GitHub Actions and ARC- a runner of the same name coming up after an ephemeral runner completion, ARC thinks the runner is not ready yet so terminate it wit

[2022-03-24 07:57] larstiq commented on #1265
Right, I see how the race condition is avoided, it's just not what I expect from a StatefulSet.

The normal mechanisms for that depend on the stable identifier, which we're now explicitly not using by generating a new StatefulSet per job.  Staring at https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-identity I don't see any way to replace that and I fear I'd have to actual

[2022-03-24 08:28] Mokto commented on #1256
Same here but as I'm a helm + argocd user I'm not sure how to solve it.

[2022-03-24 09:19] splitice opened #1269 "run as root drops capabiltiies"
**Describe the bug**

Trying to convert from a docker runner to kubernetes runner a priveledge job fails that previously worked.

[code]

I've set
[code]

To get this I'm using a loop device (mounting a image) for test purposes.

Does anyone have any ideas?

Perhaps `privileged` (which is not supported)? or are capabilities being dropped?

[2022-03-24 14:19] larstiq commented on #1265
Maybe related, maybe not: although the reclaim policy of the PVs is `Delete`, they're still sticking around long after the `ephemeral: true` StatefulSet's are gone:

[code]

Could be something to do with how GKE provisions the PVs, but since I haven't seen that with other StatefulSets before my first suspicion would be with the `RunnerSet`.

[2022-03-25 02:15] splitice commented on #1269
lack of privileged was the problem, I can see in the runner creation code that unless you run dind it won't be set.

[2022-03-25 08:21] jimmyh85 opened #1272 "Experiences with installing ARC into multiple clusters"
Has anyone installed the ARC into multiple clusters already? I wonder especially, if I we would have to configure a webhookserver into each cluster when using webhook driven autoscaling?

A solution with a central webhookserver which communicates with the runner controllers would probably be preferred, but I think that does not work currently.

Thank you

[2022-03-25 12:03] lolletsoc opened #1273 "Runners stuck in Terminated/Terminating state using v0.22"
**Describe the bug**
We upgraded to `0.22` and we saw that runners were getting stuck in both the _Terminating_ and _Terminated_ state. Some of these were stuck for over 3 days. We rolled back to `0.21.1` and the problem was immediately resolved. It seems that some sort of finalizer was getting stuck.

**Expected behavior**
Runners should not get stuck in either Terminating/Terminated states.

**E

[2022-03-25 23:47] mauriciodou opened #1275 "The SSL connection could not be established"
**Describe the bug**
After installing a RunnerDeployment logs show:
[code]
and it falls into CrashLoopBackoff.

Yaml:
[code]

**Environment (please complete the following information):**
 - Controller Version: v0.22.0
 - Deployment Method: helm
 - Helm Chart Version : 0.17.0

[2022-03-27 01:24] mumoshu commented on #1275
@mauriciodou Hey. This kind of issue usually has nothing to do with ARC.

- Do you have any proxy in the middle of the runner and GitHub API?
- Does it have the internet access?
- Are you in a regulated environment that arbitrary outbound access it not permitted without explicit approval?

Also, have you already tried unsetting `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER`? Doesn't it break the c

[2022-03-27 01:57] mumoshu commented on #1273
@lolletsoc Hey! Not really sure what's exactly happening with all the logs from ARC controllers your K8s manifest YAML files, but my guess is, this can be the same one as @ekarlso has recently encountered. It's fixed in #1264.

Does your cluster have another mutating webhook that injects a container that ARC doesn't know about, to every runner pod?

In @ekarlso's case, it was a mutating webhook th

[2022-03-27 10:52] #1223 closed

[2022-03-27 12:51] toast-gear opened #1278 "Get Renovate to bump all RUNNER_VERSION references when bumping the version"
We declare the runner version in a few spots but only bump the pipeline reference currently. It would be great if our Renovate setup could patch all references when raising a runner version bump, current locations:

* https://github.com/actions-runner-controller/actions-runner-controller/blob/master/.github/workflows/runners.yml#L18
* https://github.com/actions-runner-controller/actions-runner-con

[2022-03-28 04:03] mumoshu commented on #1269
@splitice Can I take this as a request to add option to enable `privileged` regardless of it needs dind or not?

[2022-03-28 05:18] splitice commented on #1269
Yes! That would do it.

Thank you.

[2022-03-28 18:21] swathida-byte opened #1279 "webhook-driven scaling not working as expected"
using this YAML file for creating webhook driven scaling. Runners are not scaling up, the helm chart version being used is v0.20.2

---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: webhook-pull-scaler
  namespace: re-github-actions
spec:
  scaleTargetRef:
    name: single-deployment
  minReplicas: 1
  maxReplicas: 10
    # Uncomment the below in ca

[2022-03-28 19:03] shivamag00 commented on #1273
It seems that v0.22.0 has some bug. I faced #1144 with v0.22.0 but not with v0.21.0 (and works fine)

[2022-03-28 20:52] nicholasgibson2 commented on #1144
@shivamag00 I'm seeing the same behavior with v0.22.0, reverting to v0.21.0 fixes mine as well. With v0.22.0 it usually resolves itself after ~5 minutes. @mumoshu should we open a new issue for this?

[2022-03-28 22:46] mumoshu commented on #1144
@nicholasgibson2 Yeah! Please. A full context (your configuration, logs from runners and ARC controller-manager, etc) would be appreciated. Otherwise I cant debug issues like this. Thanks in advance for your cooperation!

[2022-03-28 22:48] mumoshu commented on #1273
@shivamag00 Hey! Just curious, but how your issue relates to this issue? Or are you just trying to use this issue as an umbrella issue for every issue found in 0.22.0? 🤔 Then, I'd appreciate it if you could open a dedicated issue so that it's easier to diagnose for me.

[2022-03-28 22:49] mumoshu commented on #1279
@swathida-byte Hey! Would you mind sharing logs from ARC controller-manager and githubwebhookserver? Your config looks good and we haven't made any breaking change in the config spec so this is very likely due to your installation of ARC isn't working correctly.

[2022-03-29 04:21] #1254 closed

[2022-03-29 04:39] mumoshu commented on #1254
You should be able to. Try cluster-autoscaler or karpenter(AWS). But that's out of the scope of ARC itself.

[2022-03-29 05:45] swathida-byte commented on #1279
controller-manager logs:
2022-03-29T05:25:13.646Z	DEBUG	actions-runner-controller.horizontalrunnerautoscaler	Calculated desired replicas of 1	{"horizontalrunnerautoscaler": "re-github-actions/webhook-pull-scaler", "suggested": 1, "reserved": 0, "min": 1, "max": 10}
2022-03-29T05:25:13.662Z	DEBUG	actions-runner-controller.horizontalrunnerautoscaler	Calculated desired replicas of 1	{"horizontalrunne

[2022-03-29 06:27] cspargo commented on #1144
i'm also seeing this. I've sometimes seen it take over 10 minutes for the NotReady pods to exit.

When it's in NotReady state (which happens almost every time a job completes), the "runner" container has exited cleanly, but docker container is still running.

[2022-03-29 06:40] mumoshu commented on #1144
@cspargo Thanks! A full context (your configuration, logs from runners and ARC controller-manager, etc), in a dedicated issue, would be appreciated 🙏 Because almost certainly it's a different issue than this one. (ARC's internal has changed considerably since then and NotReady is just the surface of the issue with hundreds of possible causes

[2022-03-29 06:42] mumoshu commented on #1279
@swathida-byte I see no webhook events received by the webhookbasedautoscaler. How are you exposing ARC's githubwebhookserver to GitHub?

[2022-03-29 08:42] swathida-byte commented on #1279
ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: ""
        paths:
          - path: /
            pathType: ImplementationSpecific

added this part in values.yaml file
so when I add this in yaml life not able to create runners getting internal error occured
these are the logs from runner

An Intern

[2022-03-29 09:00] mumoshu commented on #1279
@swathida-byte Creating an ingress resource doesn't automatically set up your external loadbalancer or DNS that is required for GitHub to contact your webhok server. You'd also need to update your GitHub App or repo/org webhook setting so that GitHub sends webhook events to the URL you've specified there.

Also, that runner log indicates your runner might have difficulty accessing GitHub Actions A

[2022-03-29 09:04] mumoshu commented on #1279
@swathida-byte You might have better experience asking your colleague (if any) because I have no knowledge on your internal infrastructure and access to your repo/org settings. AFAICS, it doesn't seem like your issues are coming from ARC.

[2022-03-29 09:28] shankarRaman opened #1281 "Error creating RunnerDeployment"
**Describe the bug**
When trying to create RunnerDeployment object, we are encountering the following error
[code]
All the resources have been running for the last 1 year without issues. The CA cert is valid and the CA Bundle value matches the secret used.
**Checks**

- [X] My actions-runner-controller version (v0.x.y) does support the feature
- [ ] I'm using an unreleased version of the controlle

[2022-03-29 09:35] toast-gear commented on #1281
Is this your actual controller version? https://github.com/actions-runner-controller/actions-runner-controller/releases/tag/v0.3.0

[2022-03-29 09:58] shankarRaman commented on #1281
Okay,  just curious to know what could have caused the issue.

[2022-03-29 10:16] #1281 closed

[2022-03-29 10:43] toast-gear commented on #1239
this is entirely environmental, there isn't a "best way" to expose the wbhook server

[2022-03-29 10:43] #1239 closed

[2022-03-29 10:46] toast-gear opened #1282 "Support arbitrarily setting `privileged: true` for runner container"
Taken from https://github.com/actions-runner-controller/actions-runner-controller/issues/1269

There might be some edge cases where being able to run a privileged pod even with docker disabled is desired.

[2022-03-29 10:46] toast-gear commented on #1269
See linked enhancement

[2022-03-29 10:46] #1269 closed

[2022-03-29 12:01] toast-gear commented on #1256
https://github.com/kubernetes/kubernetes/issues/82292 upstream issue, we are probably going to need to remove the description fields to cut down on the size. We probably also need to look into externalising the api docs a tthe same time https://github.com/actions-runner-controller/actions-runner-controller/issues/1014

[2022-03-29 12:08] toast-gear opened #1283 "Remove `extensions/v1beta1`, `networking.k8s.io/v1beta1` and `policy/v1beta1` support"
Not sure when, just making this now so we don't forget down the road. We could keep these forever but it results in issues being raised for old systems, we want to cut down on that so at some point we should move to v1 APIs exclusively.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122
https://kubernetes.io/releases/

- `extensions/v1beta1` and `networking.k8s.io/v1be

[2022-03-29 12:14] splitice commented on #1282
Fyi a big one is building VM images or anything in qemu.

[2022-03-29 15:39] srvmsr opened #1284 "webhook based autoscaling not working"
**Describe the bug**
I was facing issue with gitwebhook based autoscaling , so i even updated to latest helm templates.

**To Reproduce**
Steps to reproduce the behavior:
Runnerdeployment
[code]
HRA
[code]
A job config

[code]
on webhook server logs i am getting below
<html>
<body>

2022-03-29T15:35:34Z DEBUG controllers.webhookbasedautoscaler Found 0 HRAs by key {"key": "corporate-data-analytics/

[2022-03-29 18:00] srvmsr commented on #1284
Ah I just figured out it was not running because I was only sending push events on webhook , once configured to send check_run & workflow_job , issue resolved :)

[2022-03-29 18:00] #1284 closed

[2022-03-29 18:17] chinmaya-n commented on #1265
@larstiq I think the problem with your PVs not getting deleted automatically is because, they are still `Bound` to their respective PVCs. Check if the PVCs are getting removed after the pods get recreated or not.

Also, I'm in the same boat as you. I expected RunnerSet to behave like the standard StatefulSet. I really wish that race condition was solved differently to have a persistent  PVC for ea

[2022-03-29 19:59] toast-gear commented on #1284
Could I ask why you're sending both check_run and workflow_job events? What is your use case for using both at the same time?

[2022-03-29 20:50] mumoshu commented on #1256
@Mokto Can you try replace=true sync option https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#replace-resource-instead-of-applying-changes

[2022-03-29 22:35] mumoshu commented on #1265
Me too. But my conclusion is it's fundamentally impossible without enhancements on GitHub Actions side in the current style.

There might be a possibility if we reimplement the whole StatefulSet-like mechanism with the ability to reuse PVs across pods while the same pod indices never reused. It would cost a lot of development efforts though.

[2022-03-29 22:40] mumoshu commented on #1281
@shankarRaman This makes me wonder if your `cert-manager` deployment is working correctly. If `cert-manager` recently stopped working correctly in your environment, it might explain your issue 🤔  Would you mind checking logs of `cert-manager` pods that might be found in `cert-manager` namespace?

[2022-03-30 06:27] Mokto commented on #1256
Works, thanks!

[2022-03-30 08:54] toast-gear opened #1286 "Resolve the PVC / PV build up when using RunnerSets in ephemeral mode"
Ref https://github.com/actions-runner-controller/actions-runner-controller/issues/1265

[2022-03-30 09:14] toast-gear commented on #911
We're going to close this as this is fairly long running, various fixes added and it's now hard to track how fixed this is. Re-raise on the latest code if there is more work to be done on this issue.

[2022-03-30 09:14] #911 closed

[2022-03-30 13:24] willejs opened #1288 "Running docker in docker as a privileged container enables you to mount kubernetes node host filesystem and gain root access."
**Describe the bug**

Currently when you deploy the controller, it runs a docker in docker container as privileged inside the actions controller pod. This enables anyone who has access to execute commands in github actions (in pull requests for example) to mount the nodes root filesystem and read/write to the underlying hosts filesystem. You could then force push (if not disabled) to the branch an

[2022-03-30 19:56] nicholasgibson2 opened #1291 "pod in NotReady state for several minutes after job completes (v0.21.0 -> v0.22.0 upgrade)"
After a job completes the runner container exits cleanly, but the pod stays in `READY: 1/2 STATUS: NotReady` for 10-20 minutes. During this time the runner does not show up in GitHub runners list. This issue does not happen with version v0.21.0

**Checks**

- [X] My actions-runner-controller version (v0.22.0) does support the feature
- [ ] I'm using an unreleased version of the controller I built

[2022-03-30 19:59] nicholasgibson2 commented on #1144
@mumoshu sorry for the delay, here's the new issue: https://github.com/actions-runner-controller/actions-runner-controller/issues/1291 let me know if you need any more info or want me to test anything on my end.

p.s. my coworkers and I are loving this project!

[2022-03-30 23:34] mumoshu commented on #1291
This is normal, as you use ephemeral runner and an ephemeral runner exists with 0 once it completed running the first job(you can see that from the pod status for the first container in the runner pod)

This seems a bit unusual, because it should clean up pods of completed runners earlier.

It's an expected behavior because the runner appears to GitHub only while it's registered to GitHub. An ephe

[2022-03-30 23:57] mumoshu commented on #1288
Kata v2 is another option https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-run-docker-with-kata.md. In kata, `privileged` means the pod's containers run in the lightweight VM are privileged so I'd say it's much safer than the standard pod container being `privileged`.

I wish it's possible 😄
It would be great if anyone could try integrating https://github.com/msyea/g

[2022-03-31 03:27] cspargo commented on #1291
I had the same issue, but I had to rollback to the previous version before I could collect a lot of information.

I wonder if the controller `sync-period` option could have anything to do with the delay? It appears to default to 10 minutes.

I recall that between the time the runner container ended, and the time that the pod got deleted, nothing was logged for the runner. I did record the below sn

[2022-03-31 04:02] mumoshu commented on #1291
@cspargo Ah good catch! The default `sync-period` can be the source of the issue. I've been using very short sync-period in my local test envs these days(like 10 seconds or so) because it doesn't result in spamming GitHub API calls anymore.

@nicholasgibson2 Can you confirm that NotReady runner pods eventually disappear and they disappear earlier if you shorten sync-period?

[2022-03-31 04:03] shichengripple001 opened #1293 "can we please support "podManagementPolicy""
**Is your feature request related to a problem? Please describe.**

I am using runnerset, and you know when statefulset scale up, it will add pod 1 by 1 after first pod is ready, so it is too slow when scale up, we need to support this field for runnerset, and actually why can't we support all the fields available for statefulset

**Describe the solution you'd like**

support podManagementPolicy f

[2022-03-31 04:10] mumoshu commented on #1293
Which version of ARC are you using?

[2022-03-31 06:02] shichengripple001 commented on #1293
controller version is v0.20.3

[2022-03-31 06:28] mumoshu commented on #1293
@shichengripple001 Thanks. Then, please try v0.22.1. Since v0.22.0 ARC should create all the new StatefulSet and their pods at once, which might make podManagementPolicy unnecessary for your case.

[2022-03-31 06:30] shichengripple001 commented on #1293
cool. i will try that

[2022-03-31 08:55] toast-gear opened #1294 "Change the --sync-period default from 10m to 1m"
Now that we are caching API calls https://github.com/actions-runner-controller/actions-runner-controller/pull/1210 we should change the sync period default from 10m to 1m as this is a better balance between performance and the "out of the box" risk of unintentional rate limited

[2022-03-31 10:02] s4nji opened #1295 "Pod stuck on CrashLoopBackOff state if runner registration happens after token is expired"
**Describe the bug**
If runner registration happens after runner registration token is expired, it fails repeatedly, enters `CrashLoopBackOff` state for indefinite period, and never gets removed or updated by the controller.

**To Reproduce**
Currently we see this happening due to the time between pod creation and the runner registration exceeding the [3 minute](https://github.com/actions-runner-c

[2022-03-31 13:22] shankarRaman commented on #1281
@mumoshu `cert-manager` has been running without issues for over 50  days. Logs don't show any  red flags.

[2022-03-31 16:25] nehalkpatel commented on #1295
I'm not entirely sure what the cause is. Perhaps it is an issue with the token expiring and the runner no longer being able to authenticate.

I've reverted to controller version 0.17.0  and things seem a bit more stable (though k8s did complain about deprecated APIs `v1beta1 --> v1`) when replacing the config.

[2022-03-31 17:00] nicholasgibson2 commented on #1291
@mumoshu I confirmed the delay is directly affected by `sync-period`. After testing with several different durations the delay is consistently taking 2x whatever the duration is set as, as if it misses the first sync interval for whatever reason.

It's interesting that there is no delay at all in v0.21.0 regardless of `sync-period`. Any ideas on what change between v0.21.0 -> v0.22.0 would have ca

[2022-03-31 18:50] toast-gear commented on #1291
@nicholasgibson2 this isn't the fix but debug purposes could perform the same experiments with the single container runner setup (docker within the runner) and report back the results please? https://github.com/actions-runner-controller/actions-runner-controller#runner-with-dind

[2022-03-31 20:53] nicholasgibson2 commented on #1291
@toast-gear pods with `dockerdWithinRunnerContainer: true` don't have the delay! I tested a couple times enabling and disabling this flag and the results are consistent. `scaleDownDelaySecondsAfterScaleOut` is the default value (10 minutes I believe).

[2022-03-31 23:31] mumoshu commented on #1281
@shankarRaman Thanks! Then this might be a bug in either cert-manager or the framework ARC's using `controller-runtime`, that is unable to obtain the CA cert for unknown reason. `certificate signed by unknown authority` in your log says that ARC controller-manager was somehow given wrong CA cert.

[2022-03-31 23:54] mumoshu commented on #1291
Thanks, everyone!

I think this is basically a regression in runner replicaset and runner controllers.

In 0.21.x runner controller had been notified for every update in the runner pod spec and status changes so regardless of the sync period it was able to tear down the completed pod as notified.

Since 0.22.x, it’s runner replicarset controller’s responsibility to sync runner pods behind the runn

[2022-04-01 00:01] mumoshu commented on #1295
I think this might be a bug in the runner-replicaset controller that should be responsible for recreating the runner and runner pod as the token approaches the expiration date.

In 0.21.x, it has been the responsibility of the runner controller. Once the runner controller detected a runner token is close enough to the expiration it had been recreating the runner pod with the same name with the upd

[2022-04-01 00:44] mumoshu commented on #1295
@nehalkpatel Just to be extra clear, did downgrading to 0.17.0 completely resolved this specific issue?

[2022-04-01 00:52] mumoshu commented on #1295
My current theory is that it has been broken since its start but the runner controller's ability to restart runner pods on token expirations was silently fixing it so we had never noticed this.

Since 0.22.0 it doesn't automatically restart a runner pod. Assuming a runner can be kept running forever without issues once it's successfully registered, we don't need to change ARC to update the control

[2022-04-01 06:24] toast-gear commented on #1295
@nehalkpatel

[code]

suggests that the runner software itself doesn't handle this scenario and should be fixed on their end too so the pod can  be gracefully terminated rather than crashing. Would you mind raising an issue in [actions/runner](https://github.com/actions/runner) and referencing this issue?

[2022-04-01 07:18] mumoshu commented on #1295
@s4nji To be extra sure- Can you try to reproduce the issue with older versions of ARC(like 0.21.x)?

[2022-04-01 07:19] mumoshu commented on #1295
@s4nji Also- how does the pod log look like for the pod in CrashLoopback in your case?

[2022-04-01 07:23] toast-gear commented on #1295
@s4nji can you share what your runner container logs show too?

[2022-04-01 07:34] s4nji commented on #1295
@mumoshu
I will try to see how ARC behaves with expired registration token on 0.21.x locally

<details><summary>
CrashLoopBackOff pod logs:
</summary>

[code]

</details>

[2022-04-01 08:12] toast-gear commented on #1295
yeh so it looks like they aren't handling the scenario in the runner software so at least part of the fix involves github making some changes on their end to handle the exception, please raise an issue in acitons/runner for that, feel free to reference this issue in it @s4nji 🙏

[2022-04-01 10:49] s4nji commented on #1295
@mumoshu
It does not seem to happen in ARC `0.21.1` — after a pod fails to start due to expired registration token (identical logs with my previous messafge), the pod is removed, I see `RegistrationTokenUpdated` event firing on the runner resource, the registration token gets updated with a valid one, and a new pod gets created with valid registration token, and all is fine.

@toast-gear
Looks lik

[2022-04-01 15:12] d-wierdsma opened #1297 "Multiple Replicas can't run on single node in AKS"
**Describe the bug**
When trying to run more than one replica of actions runner controllers on single-node AKS deployed using helm only one replica is stable and other gets into a CrashLoopBackOff state

[code]

deployment.yaml
[code]

I believe this might be similar to https://github.com/actions-runner-controller/actions-runner-controller/issues/1065 where externalstmp uses `mv` instead of `cp -r

[2022-04-01 18:42] laurentsimon opened #1298 "Feature: add scorecard to your project"
I ran the [OpenSSF's scorecard](https://github.com/ossf/scorecard) on this project and found that branch protection and code reviews are not enforced.

I chatted with @josepalafox and he suggested I create this issue to start a discussion.

Given the popularity of this project and its sensitivity (access to build pipeline, etc), it would be beneficial to install scorecard as suggested in the [work

[2022-04-01 18:44] laurentsimon commented on #1298
/cc @isarkis

[2022-04-03 19:54] #1111 closed

[2022-04-03 20:35] Carus11 commented on #1222
you can pass an arg to run your own dind image which is what we do,

[code]
we have been using the plain upstream dind images so far, they dont have as many cve's as you list, but they still have cve-2021-29923 and cve-2022-27191

[2022-04-03 20:58] BeyondEvil commented on #1297
I'm seeing (a variant) of this issue. With the difference that we have a two-node AWS EKS cluster.

I've never seen it before, but it started happening while experimenting with a webhook-base HRA.

[2022-04-04 00:51] mumoshu commented on #1297
@d-wierdsma Could you share logs related to `example-runner-deployment`, by perhaps running `kubectl logs` on ARC's controller-manager and piping it to `grep example-runner-deployment`?
Also, `kubectl get po -o yaml` on the runner pods trapped into CrashLoopBackOff would be helpful.

This should happen only when your runner pod had somehow restarted and hence `config.sh` was rerun with the same RU

[2022-04-04 09:04] toast-gear commented on #1273
@lolletsoc if you can try bumping to v0.22.2 we think that will resolve this issue, I'm going to close it on the assumption it does, re-open if it doens't with details, logs etc

[2022-04-04 10:26] lolletsoc commented on #1273
Hey @toast-gear,

We will deploy this tomorrow morning and report back!

[2022-04-04 17:53] d-wierdsma commented on #1297
Hey @mumoshu it looks like it's just started working now... Sorry for the unnecessary ticket, I'll report back here with the logs if this issue comes up again

[2022-04-04 17:53] #1297 closed

[2022-04-05 01:26] IVData commented on #1146
What was the issue here? I'm having a similar problem where my runner pods' network connections are broken.

[2022-04-05 01:42] shichengripple001 commented on #1293
i am using following command to deploy, but it still deploy v0.20.3, how do i upgrade to v0.22.1?
helm upgrade --install --namespace xxxx --create-namespace --wait actions-runner-controller actions-runner-controller/actions-runner-controller -f values.yaml

[2022-04-05 01:49] shichengripple001 opened #1302 "deploying multiple controller in different namespaces, webhook not found"
**Describe the bug**
A clear and concise description of what the bug is.
I have deploy action runner controller in a non default namespace and created a runnerset
the statefulset is still looking for the webhook in actions-runner-system namespace
Warning  FailedCreate  50s (x15 over 2m12s)  statefulset-controller  create Pod org-xxxx-integration-dind-0 in StatefulSet org-xxxx-integration-dind fail

[2022-04-05 01:56] mumoshu commented on #1302
@shichengripple001 Hey! Your issue lacks all the important details that are needed to diagnose it (especially the Environment section) so I can't say for sure but your issue seem like the one fixed by https://github.com/actions-runner-controller/actions-runner-controller/pull/1237. Please try a newer chart version!

[2022-04-05 01:56] #1302 closed

[2022-04-05 02:01] mumoshu commented on #1146
@IVData I'd say, generally it's an MTU or a firewall issue! But almost certainly you need to figure it most out yourself.

[2022-04-05 03:09] shichengripple001 commented on #1302
thank you for you quick reply! how do i install latest chart version?
When it still show 0.20.3 as the latest @mumoshu
helm show chart actions-runner-controller/actions-runner-controller
apiVersion: v2
appVersion: 0.20.3
description: A Kubernetes controller that operates self-hosted runners for GitHub
  Actions on your Kubernetes cluster.
home: https://github.com/actions-runner-controller/actions-

[2022-04-05 03:21] shichengripple001 commented on #1302
ignore what i said, i am being stupid. forgot to do helm repo update...

[2022-04-05 10:16] cspargo opened #1304 "Runner pods sometimes get stuck in a crashloop"
**Describe the bug**
Runner pods sometimes crashloop and never recover. The runner appears to have been deregistered, but the pod never gets deleted and gets stuck in crashloop, although it can never work because it's not registered.

The crashlooping pod also stops scaleup from happening (using PercentageRunnersBusy).

**To Reproduce**
Happens randomly. Not sure what triggers it.

**Expected beha

[2022-04-05 12:33] AchalaDias commented on #1304
Same thing happening to me also. I have scheduled 50 runners in in the cluster but some of runners are in crashloop with error `Failed to create a session. The runner registration has been deleted from the server, please re-configure`.

This started happen when I redeployed the runners with latest image tag.

[2022-04-05 14:03] danxmoran commented on #1304
I also see pods fall into a crash-loop when using v0.22.x, though with a different error:
[code]
(the above repeats many times within a single run before giving up)

I don't think it's an auth/configuration problem on our end, because other pods within the same `RunnerDeployment` boot up without problems.

[2022-04-05 14:13] danxmoran commented on #1273
kubernetes/kubernetes#104107 looks related to my issue. I'm not sure if it's the root bug, or if it's just obfuscating the error message we end up seeing.

[2022-04-05 15:32] tbomberg opened #1305 "RunnerSet Runners fail to start with "RUNNER_NAME must be set" after upgrade to 0.22.1"
**Describe the bug**
After the upgrade to the ARC to 0.22.1 (reproduced with 0.22.2) (ChartVersion 0.17.1/0.17.2),
we noticed that newly created pods from our RunnerSet fail to start and shows the error message in the logs:

```RUNNER_NAME must be set```

I did rollback the controller to 0.22.0 (0.17.0) and the RunnerSets are starting like normal.

RunnerDeployments are working in all versions.

*

[2022-04-05 17:25] toast-gear commented on #1293
https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/docs/UPGRADING.md

[2022-04-05 17:58] nicolasgere opened #1306 "Deploy without cert manager and webhook?"
**Is your feature request related to a problem? Please describe.**
How can we deploy without cert-manager, and all the webhook part. We are not interested in the auto scaling capability.

**Describe the solution you'd like**
An option to disable that part

[2022-04-05 18:04] toast-gear commented on #1306
What part of the docs don't cover this for you?

[2022-04-05 20:40] denisa commented on #1195
this would be very helpful to validate projects that have to build on Apple’s silicon

[2022-04-05 23:27] mumoshu commented on #1273
@danxmoran Hey! Would you mind opening a dedicated issue for yours with more details? =

[2022-04-06 00:01] shichengripple001 commented on #1293
Hi. thank you for you reply. I confirmed it is working.

[2022-04-06 02:24] danxmoran opened #1307 "Runners stuck in `Terminating` state on v0.22.2"
**Describe the bug**

After upgrading to v0.22.0, we've seen that our runner pods sometimes get stuck in a `Terminating` state. The behavior has persisted after upgrading to v0.22.1 and v0.22.2.

Running `kubectl describe pod` on one of the stuck pods, I see:
[code]

And another one, in a different group:
[code]

**Checks**

- [x] My actions-runner-controller version (v0.x.y) does support the feat

[2022-04-06 02:25] danxmoran commented on #1307
I found https://github.com/kubernetes/kubernetes/issues/104107 which might be related, it mentions some of the error codes & messages I see in the stuck pod. Not sure if it's the root bug or if it's just making an underlying problem.

[2022-04-06 02:25] danxmoran commented on #1273
@mumoshu done, see #1307

[2022-04-06 03:29] mumoshu commented on #1307
@danxmoran This seems environment-specific. How is your K8s cluster provisioned? Is it EKS, GKE, AKS, on-prem, etc? Do you use spot instances/preemptive instances that resulted in nodes come and go frequently?

[2022-04-06 03:44] danxmoran commented on #1307
We use EKS. The cluster is a mix of on-demand and spot instances - the spot instances are in the node pool for our most heavy-duty instance type. Every pool has node-level auto-scaling turned on.

I've noticed that a certain group of runners tends to get stuck in `Terminating` state much more often than others - I double-checked, and it looks like the resource requests we set for that group will c

[2022-04-06 04:21] mumoshu commented on #1307
Thanks! I guess we'd need a fix similar to https://github.com/actions-runner-controller/actions-runner-controller/pull/1262, which enables the runner resource to be correctly deleted also on the runner pod stuck on Terminating.

[2022-04-06 06:38] stefangluszek commented on #1291
I have upgraded to v0.22.2 and it's still not working for me.
[code]
and the pod status it not ready:
[code]

[2022-04-06 07:14] mumoshu commented on #1291
@stefangluszek Hey. Could you double-check if you did upgrade CRDs? `helm upgrade` doesn't upgrade CRDs.

[2022-04-06 07:58] #1293 closed

[2022-04-06 08:04] Harleyzheng commented on #1291
+1. Experiencing the same symptom. Please see screenshot:

<img width="553" alt="image" src="https://user-images.githubusercontent.com/10615232/161926144-ab7c9332-ecfb-4da1-b851-5244618400b9.png">

[2022-04-06 08:07] Harleyzheng commented on #1291
Sorry. I just saw in the comments. Will try updating `sync-period`. Thanks

[2022-04-06 08:29] mumoshu commented on #1291
@Harleyzheng Hey. What's your ARC version?

[2022-04-06 08:37] Harleyzheng commented on #1291
it was 0.22.0

[2022-04-06 08:39] mumoshu commented on #1291
@Harleyzheng Could you please upgrade to 0.22.2? It's the first version that incorporates https://github.com/actions-runner-controller/actions-runner-controller/pull/1299 which has potential to fix your issue without very short sync-period.

[2022-04-06 08:43] Harleyzheng commented on #1291
Just did it. The issue is gone now in 0.22.2.

[2022-04-06 08:44] toast-gear commented on #1291
We'll close this, v0.22.2 should have resolved this problem.

[2022-04-06 08:44] #1291 closed

[2022-04-06 08:46] mumoshu commented on #1305
@tbomberg Would you mind sharing output from `kubectl get po $POD` for any runner pod that is managed by RunnerSet in your cluster? I think it's missing the said envvar and that's causing it. We need to figure out why the runner pod result in such state, because any `StatefulSet` created by `RunnerSet` should have a pod template that sets a `RUNNER_SET` envvar hence any runner pod should have it t

[2022-04-06 09:11] stefangluszek commented on #1291
I wasn't aware of that. It works as expected after upgrading CDRs.

[2022-04-06 10:12] tbomberg commented on #1305
@mumoshu Yes, that is the actual difference.

While the `StatefulSets `created from the 0.22.0 controller look the same like the one from the 0.22.1 controller. (The env-vars `RUNNER_NAME` and `RUNNER_TOKEN` are in neither of the STS pod templates),
when I compare the Pods I can see that the needed env-vars are injected into the Pods only when to 0.22.0 controller is active.

This is the complete

[2022-04-06 10:36] toast-gear commented on #1295
@s4nji thanks for the update, I'll close this then seen as the original issue seems solved.

@nehalkpatel could you raise a new issue for these problems with full details (versions, yaml snippets, logs, kubectl describes etc)

[2022-04-06 10:48] toast-gear commented on #1304
`Failed to create a session. The runner registration has been deleted from the server, please re-configure` seems to occure when a runner is de-registered but the `.runner` file is retained [[1]](https://github.com/actions/runner/issues/1337). @cspargo are you doing anything with volumes / devices which might impact the runner software from being able to remove its `.runner` file as part of the de

[2022-04-06 10:50] s4nji commented on #1295
@toast-gear yes, we are planning to update to `0.22.2` this week and will write back here with the result (the 30m should really fix it though!)

[2022-04-06 13:23] genisd commented on #1238
I do face the same issue, that in rare occasions one ends up with unhandled jobs and no workers.
That starvation issue right now is the biggest obstacle that we are having ourselves as well with Organization workers + webhook driven scaling.

I would prefer to boot worker nodes based off webhooks, but *NOT* remove them from the webhooks and instead do that time based. That way I should not be faci

[2022-04-06 14:19] danxmoran opened #1311 "Runner pods get stuck in CrashLoop with 404 response from `https://api.github.com/actions/runner-registration`"
**Describe the bug**
Since upgrading to v0.22.0, we see pods occasionally get stuck in the `CrashLoopBackoff` state. The logs for these pods look like:
[code]

The behavior has persisted after upgrading to v0.22.1 and v0.22.2.

**Checks**

- [x] My actions-runner-controller version (v0.x.y) does support the feature
- [ ] I'm using an unreleased version of the controller I built from HEAD of the de

[2022-04-06 14:47] danxmoran commented on #1311
evryfs/github-actions-runner-operator#30 looks like the same problem - not sure if a similar fix will work for ARC

[2022-04-06 15:23] nehalkpatel commented on #1295
I think this was due to a mismatch across our clusters with the ARC version. Once I rebuilt the new cluster, deleted the old one, and used a consistent version of ARC, I'm no longer seeing scale-down issues.

[2022-04-06 16:05] jgreat commented on #999
This might be clear to others, but the key here is that if you use the automatically generated labels `[self-hosted, Linux, X86]` as part of the `runs-on` array, you must also include them as part of the RunnerDeployment spec or the webhook server won't be able to find the HorizontalPodAutoscaler to scale.

[2022-04-06 18:11] danxmoran commented on #1278
I'd be interested in taking this one

[2022-04-06 21:23] nafarlee opened #1314 "Allow customizing the controller webhook port"
**Is your feature request related to a problem? Please describe.**
As noted in the [troubleshooting guide](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/TROUBLESHOOTING.md#deployment-fails-on-gke-due-to-webhooks), deploying this to a private GKE cluster generally requires creating a firewall rule to allow traffic on port 9443. However, this recommendation is ea

[2022-04-06 23:40] mumoshu commented on #1311
Hey. Please share all the logs from ARC's controller-manager related to that those runners and runner pods stuck in CrashLoopBack! I guess this might be due to outdated registration token passed to runner pods but not sure how that happens, especially after upgrading to 0.22.2. Those logs are crucial to debug this further.

[2022-04-06 23:53] danxmoran commented on #1311
Here are all the logs I see that mention the youngest pod currently stuck in `CrashLoopBackoff`:
[code]

[2022-04-06 23:56] danxmoran commented on #1311
And here is the `kubectl describe pod` output for the same pod:
[code]

[2022-04-07 00:00] lovesegfault commented on #1304
This happens to me too, and it's pretty bad because you can get in a situation like this:
1. The cluster scales down to a few runners (e.g. 2)
2. Load is low, no scale-up event occurs
3. The two runners run into this issue, leaving them in a `CrashLoopBackoff`
4. The `PercentageRunnersBusy` metric sees no busy runners
5. Despite pending actions piling up, the cluster doesn't scale
6. CI stops work

[2022-04-07 00:10] mumoshu commented on #1238
@roshvin Try a longer scaleUpTrigger duration. 30m means that the added desired replica gets removed 30 minutes after it received the `workflow_job` webhook event to queue it. It's not 30 minutes after the job started running so it needs to be very long. If your cluster is overloaded and it takes 3h in total to complete all the jobs, the scaleuptrigger duration should be longer than 3h.

[2022-04-07 03:46] mumoshu commented on #1307
@danxmoran Would you mind sharing all the logs related to the runners whose runner pods are stuck in Terminating, by running `kubectl logs` on the contorller-manager of ARC and grep'ing the output with the runner name(not runner pod name)?
That would help me a lot to investigate in which point ARC is getting stuck.

[2022-04-07 13:36] ebeigarts commented on #1295
Downgrading to 0.17.0 and setting `dockerEnabled: false` (docker was stuck in NotReady) fixed this for me.

[2022-04-07 14:37] danxmoran commented on #1307
@mumoshu apologies if I'm not understanding - as far as I can tell in my cluster, runner name == pod name so `grep`ing for a name gets logs about both. This is what I see for one of the stuck runners/pods named `pants-zvdn5-5pxql`:
[code]
Sadly it all seems to be about the pod and not the runner itself 😞

I also noticed that when I `kubectl get runner`, the name `pants-zvdn5-5pxql` isn't in the ou

[2022-04-07 16:48] ealasgarov opened #1317 ""runners.actions.summerwind.dev" is invalid: metadata.annotations: Too long: must have at most 262144 bytes"
**Describe the bug**

When I'm installing actions-runner-controller with:

"kubectl apply -f https://github.com/actions-runner-controller/actions-runner-controller/releases/download/v0.22.2/actions-runner-controller.yaml" command

I am getting below error:

"Error from server (Invalid): error when creating "https://github.com/actions-runner-controller/actions-runner-controller/releases/download/v0

[2022-04-07 23:33] mumoshu commented on #1275
@mauriciodou I doubt it's dotnet specific 🤔 Have you tried it without `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER`?

[2022-04-07 23:39] mumoshu commented on #1317
@ealasgarov Hey. This is a known issue in Kubernetes(and kubectl-apply) that results in that an annotation automatically generated for server-side apply results in exceeding the K8s' own limit. Try using `kubectl create` instead.

[2022-04-07 23:49] mumoshu commented on #1307
@danxmoran Hey! Thanks a lot for reporting back. It's super helpful!

`Runner pod is annotated to wait for completion` means that your runner was once "busy", and ARC would result in repeating such message only when GitHub Actions API thinks the runner is never unregistered or unable to be de-registered.

It can happen when a workflow job assigned to the runner took very long time to complete, or

[2022-04-08 00:04] mumoshu commented on #1311
@danxmoran Thanks! Just to confirm- how did you upgrade your CRDs when upgrading to 0.22.2?
Can you verify you did upgrade it by running `kubectl explain runner.status` and see there's the new `ready` field defined?

`helm` doesn't upgrade CRDs (only install) so I think the terraform-helm-provider would behave the same.

[2022-04-08 01:13] mumoshu commented on #1311
@danxmoran If you haven't upgraded CRDs, once upgraded, the errors you see will change to ones seen in #1307.

Also thanks to the `kubectl describe pod` output you've shared, I can say that #1318 would also fix this issue after the CRD upgrade, as the output says it has a `actions-runner/unregistration-request-timestamp` annotation already set and after #1307 ARC can delete it anyway, without leav

[2022-04-08 01:49] KENNYSOFT commented on #1317
Possibly duplicate of #1102

[2022-04-08 02:00] mumoshu commented on #1307
@danxmoran #1318 should fix it. Would you mind testing v0.22.3 that incorporates the change?

[2022-04-08 09:19] ealasgarov commented on #1317
thanks a lot for comments, will try that!

[2022-04-08 11:35] hyj-kim opened #1320 "Failed to get new registration: 404 Not Found"
Hi.

I tried to deploy actions-runner-controller on a machine for using self-hosted-runner.
I followed Readme guide. However after launching runners in my k8, I observed these errors.
[code]

I tried to access the registration-token uri:
[code]

Here is my environments.
- machine: centos7
- k8: minikube(v1.23.3)
- cert-manager(v1.8.0)
- actions-runner-controller(v0.17.3)
- Repository Runners

I di

[2022-04-08 13:00] xabi93 commented on #1307
@mumoshu I have updated today to 0.22.3 seems the issue persist
[code]

All those NotReady pods the runner container completes but the docker one continues running if I check the logs of the runner container it shows the following:
[code]

Many thanks!

[2022-04-08 13:26] danxmoran commented on #1311
@mumoshu CRDs are up-to-date (our TF is set up to directly update the latest CRD definitions before upgrading the helm chart):
[code]

[2022-04-08 14:12] genisd opened #1321 "Race condition in upscale webhook"
There is a race condition in the web base upscale, where 2 events occur at the same time.
Essentially two events should scale +1, yielding in 2extra  runners. But due to concurrency only 1 extra runner is booted.

Here a log from the webhook server, 4events are handled. But only 3 runners got reserved/booted.
I've been suspecting this and I'm super happy I found this, because it means we can fix i

[2022-04-08 14:41] funkswing opened #1322 "HorizontalRunnerAutoscaler not respecting `minReplicas`"
**Describe the bug**

`minReplicas` is set to 10, but the "desired" number of pods always goes below the min during periods of low usage. We are using a managed node group in EKS and the min number of Nodes is set to 1, which would not support the `minReplicas` of 10 in our case. Is it expected that Node min would override the `minReplicas` of the actions runner controller?

**Checks**

- [ x] My

[2022-04-08 14:41] danxmoran commented on #1307
@mumoshu after upgrading to v0.22.3 all the runner pods that had been stuck in `Terminating` disappeared 🎉 will watch to see if they pop back up, but looking good so far

[2022-04-08 16:12] toast-gear commented on #1307
@xabi93 can you confirm you also upgraded your CRDs to latest as part of the upgrade?

[2022-04-08 16:15] #1307 closed

[2022-04-08 16:16] toast-gear commented on #1295
@s4nji any updates? v0.22.3 is out now with other fixes, could you upgrade and let us know if this issue is now resolved?

[2022-04-08 16:42] s4nji commented on #1295
@toast-gear we have upgraded to `0.22.3` and while we stopped getting random pods stuck on CrashLoopBackOff, we still encounter some stuck pods — due to other reasons causing some pods to take longer than 30 minutes to start — so at the moment we still need to manually clean things up.

I think the current fix is sufficient enough (if your pod takes longer than 30 minutes to start, you have other

[2022-04-08 17:00] divyenduz commented on #1307
Can confirm the fix. I was facing the same issue and was following this thread ✅. Thank you for all the work.

[2022-04-10 00:28] mumoshu commented on #1311
@danxmoran Thanks! Does it still persist even after upgrading to v0.22.3?

[2022-04-10 00:38] mumoshu commented on #1322
@funkswing Hey. What's your scaling method? PercentageRunnersBusy or TotalInProgressAnd~?

[2022-04-10 01:26] mumoshu commented on #1321
@genisd Hey! Thanks for reporting.

I believe this is caused by the fact that we use MergePatch for updating capacityReservations, as MergePatch doesn't conflict on data race. Apparently this isn't as easy as I initially thought.

To be clear, adding a mutex around the patch operation doesn't resolve the issue alone, as conceptually you need "the latest capacityReservations at the update time" to

[2022-04-10 02:47] mumoshu commented on #1305
@tbomberg Hey! Thanks a lot for your detailed report. It did help investigate it fully.

So, this seems happening due to a "fix" on the chart. You'd need to update your values.yaml to accommodate that.

Here's the excerpt from your helm chart values:

[code]

Until chart v0.17.0, there was a bug in the chart that multiple instances of ARC interfere with each other on mutating and validating admiss

[2022-04-10 02:58] mumoshu commented on #1273
@toast-gear I think you reopened this due to @danxmoran's report (which resulted in #1307). As it's fixed now, can we safely close this?

[2022-04-10 03:02] mumoshu commented on #1238
@genisd @roshvin Can we close this in favor of #1321?

[2022-04-10 03:04] mumoshu commented on #1235
@stefangluszek Hey. Were you able to upgrade ARC to 0.22.x? Did it resolve your issue?

[2022-04-10 03:09] mumoshu commented on #1044
EffectiveTime added in v0.22.0 as outlined in https://github.com/actions-runner-controller/actions-runner-controller/issues/911#issuecomment-1056016823 should fix the original problem reported in this issue.

@toast-gear Can we probably close this as resolved?

[2022-04-10 03:16] mumoshu commented on #1320
@hyj-kim Hey. How did you create the k8s secret containing App creds and PAT?

For PAT, what if you run `curl` with the PAT?

[code]

Also, have you read our troubleshooting guide?
https://github.com/actions-runner-controller/actions-runner-controller/blob/master/TROUBLESHOOTING.md#invalid-header-field-value

[2022-04-10 08:57] genisd commented on #1238
as far as i'm concerned yes.
#1321 is definitely the cause of this issue

[2022-04-10 09:10] genisd commented on #1321
I don't know how fast the patching really is (i lack subsecond data in my logs).
If I check on the loadbalancer it loks like about 200 to 300ms.
At 5s cutoff/timeout with 300ms execution 20 jobs would already be problematic (last call would be at ~6s).

Otherwise perhaps an opt-out would be feasible too.

Sounds like the mutex approach, same issues at least.

Of course if we can solve this issue w

[2022-04-10 09:26] hans-m-song opened #1325 "RunnerDeployment not correctly reacting to failed jobs"
**Describe the bug**

After a job has failed, the runner container within a runner deployment transitions to a `Completed` state (which is fine).
However, the controller does not seem to recreate the container (sometimes for almost 10m) even with a queued job.

Not sure if this is related but the `HorizontalRunnerAutoscaler` also never scales down runners to 0 (let me know if i should open a new i

[2022-04-10 10:19] hyj-kim commented on #1320
@mumoshu
Thank you for answer.
After destroying and installing again, it works well. I think I made a mistake in some process.
I will close this issue.

[2022-04-10 10:19] #1320 closed

[2022-04-11 02:14] pckhoi commented on #1325
I second this. After a failed run, the `runner` container is terminated with code 0 and the pod becomes "NotReady". However neither the runner's status is still "running":

[code]

[2022-04-11 04:28] mumoshu commented on #1325
@hans-m-song @pckhoi Hey. How did you upgrade CRDs to the latest when you upgraded to 0.22.2 or greater? Helm doesn't automatically upgrade CRDs.

[2022-04-11 04:31] mumoshu commented on #1325
@hans-m-song

I'd appreciate a dedicated issue for this!

I'd appreciate a dedicated issue for that as well, with a complete HRA spec.

[2022-04-11 04:33] mumoshu commented on #1325
Just curious, but did you all read https://github.com/actions-runner-controller/actions-runner-controller/pull/1299? If it takes 10 minutes(the default sync period of ARC) for ARC to react, I'd suspect if you missed upgrading the CRD so #1299 isn't working.

[2022-04-11 06:42] stefangluszek commented on #1235
@mumoshu Yes, I've upgraded to `v0.22.2`. I have just checked if there are any offline runners that have not been removed and I see just one.
Here are the logs for the relevant runner:
[code]

[2022-04-11 06:54] mumoshu commented on #1235
@stefangluszek Thanks. Normally any runner pod that is logged as `Runner pod is marked as already unregistered` should be removed soon. Is it still there? How does your Runnerdeployment/RunnerSet spec looks like? Would you also mind sharing logs for the parent objects(RunnerDeployment/RunnerSet, RunnerReplicaSet/StatefulSet)?

[2022-04-11 07:34] stefangluszek commented on #1235
@mumoshu : Yes it was still there this morning. Now I have manually force removed it.
Our RunnerDeployment for this group is pretty simple:
[code]
Here are the logs:
[code]

[2022-04-11 07:49] pckhoi commented on #1325
Looks like I'm using v0.22.0. Thank you for the pointer. I'm going to upgrade to version 0.22.3 using `kubectl create`. Can I uninstall everything just by removing `actions-runner-system` namespace and CRDs that end with "summerwind.dev"?

[2022-04-11 07:55] mumoshu commented on #1235
@stefangluszek Thanks! Could you also share the output from `kubectl explain runner.status` and `kubectl get -n $NS deploy $ARC_DEPLOY_NAME -o yaml | grep sync-period`?

[2022-04-11 07:55] genisd commented on #1321
So I'm running a mutex in our environment.
The codebase is not structured to gate the read/write critical path only, so in my test I'm currently gating all http requests :see_no_evil:

The latencies are not super horrible which means that for us this is feasible for now.
95% percentile sits mostly at about 100ms.

So for medium sized environments that approach probably would work.

[2022-04-11 08:00] mumoshu commented on #1325
@pckhoi You won't need to uninstall everything. If you're going to do that just to upgrade CRDs, use `kubectl replace -f`.

[2022-04-11 08:48] stefangluszek commented on #1235
[code]

 and `kubectl get -n $NS deploy $ARC_DEPLOY_NAME -o yaml | grep sync-period`?
[code]

[2022-04-11 09:19] stefangluszek commented on #1235
GKE, we run non-preemptive instances, but we have auto-scaling enabled.
Will do, if/when I notice a dangling runner again.

[2022-04-11 09:43] #1238 closed

[2022-04-11 09:44] toast-gear commented on #1044
Definitely

[2022-04-11 09:44] #1044 closed

[2022-04-11 10:28] #1278 closed

[2022-04-11 10:30] toast-gear commented on #1265
Docs updated and issue raised to enhancement ARC to handle PVC/PV build up, closing this issue as a result.

[2022-04-11 10:30] #1265 closed

[2022-04-11 10:31] #1273 closed

[2022-04-11 10:32] toast-gear commented on #920
This can be considered done now that we have implemented caching.

[2022-04-11 10:32] #920 closed

[2022-04-11 11:00] toast-gear commented on #1295
that would be nice on paper however not really doable with the new architecture tbh. We now rely solely on the mutating webhook to inject reg tokens. Mutatingwebhook isn't a regular k8s controller that works like "check if the pod spec contains expired token in envvar and update it". It works more like "the pod is being updated/created for whatever reason. i'm going to inject the token but i dont

[2022-04-11 11:00] #1295 closed

[2022-04-11 12:13] siyuan0322 opened #1326 "The webhook based autoscaler seems scaled down for skipped job."
**Describe the bug**

When GitHub post a `workflow_job` event with conclusion `skipped`, the scaler scaled down my HRA by -1, which is a unexpected scaling, as the skipped event is not paired with a `queue` event.

I guess this is the searching logic for scale target is not handling the case where the labels are `[]`.  Please see the examples below, we can find that for these four conclusion `skip

[2022-04-11 14:00] toast-gear commented on #1311
Cheers pal

[2022-04-11 15:06] hans-m-song commented on #1325
I did indeed use `helm upgrade`, I'll give upgrading the CRDs a shot, thanks!

I'll do up proper issues for those when I get some time but in the meantime, my deployed HRA spec is [here](https://github.com/hans-m-song/kube-stack/blob/master/actions-runner-system/runner-autoscaler.yaml).

[2022-04-11 15:52] Djiit opened #1327 "Queue information are suddenly empty -- no more scaling"
**Describe the bug**

Suddenly, our queue info disappeared (we monitor our runners based on the controller metrics) and, in turn, the controller stopped asking for more replicas (which is expected with an empty queue).

<img width="499" alt="image" src="https://user-images.githubusercontent.com/1169844/162780036-31a98b38-4881-4340-9fba-4749eba30f63.png">

**Checks**

- [x] My actions-runner-contro

[2022-04-11 16:04] toast-gear commented on #1327
yaml + controller logs please

You will want to upgrade to 0.22.3, there were various bugs which you are likely to run into on v0.22.1

[2022-04-11 16:29] killmeplz commented on #1327
we have something like this. started today.
no matter how many workflows are waiting for the runner in logs there is always the same line
[code]

[2022-04-11 17:13] jbkc85 commented on #1327
I am seeing the same behavior atm!

[2022-04-11 18:47] jbkc85 commented on #1327
just FYI - I basically copy/pasted the code into a Golang CLI command and I am able to get the appropriate responses of queue, running etc.  Could this be an issue with the applications access to the API vs an individual account?

[2022-04-11 20:02] jbkc85 commented on #1327
update - I actually got it to work using the same copy/paste code with the app....but its showing 0 workflows when there are in fact 3-5 running.

[2022-04-11 20:32] jbkc85 commented on #1327
https://github.community/t/list-workflow-runs-api-not-detecting-in-progress-builds/165029/4

this looks like what is happening.  When you include the status in the options, its returning nothing.  But if you remove the status from the call, it shows all the workflows as intended.

[2022-04-11 20:53] jbkc85 commented on #1327
created a support ticket to hopefully speed things along.

Nothing appears to be wrong in the code - it literally is 100% on the API's side - it looks like the status argument breaks something right now.

[2022-04-11 21:09] Djiit commented on #1327
Hey, yep indeed the support got back to us and said there was something going on with one of their elastic search cluster -- some list operations, when filtered, were stale.

[2022-04-11 21:13] jbkc85 commented on #1327
good to know!  Did they give you an ETA on fix?

[2022-04-12 00:01] mumoshu commented on #1326
@siyuan0322 Good catch, and thank you so much for your detailed report! I love reading a report detailed like this, because  it can immediately be distilled to produce a fix ☺️

This is definitely a bug. We'd need to add another condition to trigger a scale down:

https://github.com/actions-runner-controller/actions-runner-controller/blob/master/controllers/horizontal_runner_autoscaler_webhook.go#

[2022-04-12 00:06] mumoshu commented on #1286
Here's my idea https://github.com/actions-runner-controller/actions-runner-controller/issues/1265#issuecomment-1082437251

[2022-04-12 02:05] siyuan0322 commented on #1326
@mumoshu Thank you for your detailed instruction! I'll submit a PR for this.

[2022-04-12 09:17] tbomberg commented on #1305
Thanks for the investigation and the point to the area of the problem.

I tested this on my environment:

- keeping `singleNamespace`: true and adding the namespace to `watchNamespace` like suggested has no effect.
  The RunnerPods still do not get the `RUNNER_NAME ` injected.
- Removing the singleNamespace (setting it to false) will make it work.

I tested this in [`0.17.1`, `0.17.2` and `0.17.3`

[2022-04-12 09:24] mumoshu commented on #1305
Did you recreate the runner pod after you upgraded your helm release?
The envvar is injected by the mutating webhook which basically means you need to recreate  any "broken" runner pods (by `kubectl delete`ing the broken pods) to let it inject the runner name.

[2022-04-12 09:55] tbomberg commented on #1305
Yes, I deleted the `RunnerSet`, uninstalled ARC, reinstalled it with the configuration to test and let the newly configured controller create the `StatefulSets` and `Pods` on its own.

[2022-04-12 10:24] 0x416e746f6e opened #1331 "Labels do not get transferred from RunnerDeployment to Runner"
**Describe the bug**

Labels do not get transferred from RunnerDeployment to Runner.

**Checks**

- [x] My actions-runner-controller version (v0.22.3) does support the feature

**To Reproduce**

Steps to reproduce the behavior:

1.  Create `RunnerDeployment` with labels defined:

[code]

2. Wait for `Runner` object to be created and check it's definition.

[code]

**Expected behavior**

The conten

[2022-04-12 10:53] rahul-FLS opened #1332 "Getting Failed to create CoreCLR, HRESULT: 0x80004005"
**Describe the bug**
When trying to deploy RunnerDeployment.yaml on EKS, I get **Failed to create CoreCLR, HRESULT: 0x80004005**. Here are the logs--

Docker wait check skipped. Either Docker is disabled or the wait is disabled, continuing with entrypoint
Github endpoint URL https://github.com/
sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS f

[2022-04-12 11:05] 0x416e746f6e commented on #1331
As a follow-up, apparently it was due to finaliser that got stuck.  Patching it with:

[code]

... and then recreating it from scratch solved the problem.

[2022-04-12 11:48] erplsf commented on #1286
I've read that thread, but still thank you. I appreciate the work and know that I'm using it for free, was just a bit salty at myself about not following update notes more closely.

[2022-04-12 18:47] toast-gear commented on #1331
Closing as this was just a k8s quark

[2022-04-12 18:47] #1331 closed

[2022-04-12 19:13] lovesegfault opened #1335 "Allow to update runner pod annotations on job start"
**Is your feature request related to a problem? Please describe.**

If you're using an autoscaling cluster, it's nice to have runner pods marked as safe to evict, allowing the cluster autoscaler to move them around as needed. If, however, they get evicted while a job is running, you end up with a spurious CI failure, which is unfortunate.

**Describe the solution you'd like**

It should be possibl

[2022-04-12 19:25] renperez-cpi opened #1336 "HRA is no longer working using TotalNumberOfQueuedAndInProgressWorkflowRuns"
I have actions-controller installed in our eks cluster. everything was working fine until yesterday. HRA is no longer working using TotalNumberOfQueuedAndInProgressWorkflowRuns. I have the min set to 0 and max to 5. when there is a workflow run its no longer scaling to run the self-hosted runner. please advice. below is my configurations

i've installed the controller using argocd application.

[c

[2022-04-12 20:46] toast-gear commented on #1336
If you've changed nothing you almost certainly are suffering from a GitHub outage https://github.com/actions-runner-controller/actions-runner-controller/issues/1327#issuecomment-1095568510. Closing unless you can prove otherwise.

[2022-04-12 20:46] #1336 closed

[2022-04-12 21:55] renperez-cpi commented on #1327
@Djiit do you know if this was still happening. this started happening yesterday and today still not working

[2022-04-12 21:56] rahul-FLS commented on #263
Hello @mumoshu my managed cluster's PSP enforces **readOnlyRootFilesystem: true** which leads to throw below error by the runner pod. It starts fine if I test it locally by setting **readOnlyRootFilesystem**: false in the PSP. Any thoughts?

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/94915383/163060977-39c5239a-99e2-4980-bd43-8a50449ad188.png">

[2022-04-12 23:22] mumoshu commented on #263
@rahul-FLS Hey. Yeah, it would just work if you didn't enforce that in your PSP.

[2022-04-12 23:25] mumoshu commented on #263
@ikogan @vittoriocanilli We now have `RunnerSet` which is basically an extension of StatefulSet that allows you to fully customize the pod template, including `securityContext`, `nodeSelectors`, `allowPrivilegeEscalation`.

Not sure if it was possible to tweak `privileged` directly though. I thought we already had a dedicated issue for adding support for tweaking `privileged`.

[2022-04-12 23:45] mumoshu commented on #1332
@rahul-FLS Hey. Due to our limited resources, we can't support every combination of possible settings. But if I were you, I would try removing `securityContext` out of your spec and isolate the cause of your issue.
Also note that it's an error from `actions/runner`, not ARC, so if it persists even after omitting `securityContext`, you'd need to file an issue in `actions/runner`.
Also, why did you

[2022-04-12 23:48] mumoshu commented on #1305
@tbomberg Thanks for the info! Hmm, well it seems impossible. Would you also mind sharing your mutatingwebhookconfiguration that is installed via helm? I'm especially interested in if it has a correct namespace selector (for `asys-vpc-github-runner` as you seem to have runnersets and runner pods in that namespace). If it's there, the only cause would be your k8s cluster is somehow broken and not r

[2022-04-12 23:53] #1326 closed

[2022-04-13 04:01] chinmaya-n opened #1341 "Latest image of actions-runner-dind failing to start docker daemon"
**Describe the bug**
Similar to #461 docker daemon is not running in the latest ([v2.290.0-ubuntu-20.04-4a3b7bc](https://hub.docker.com/layers/actions-runner-dind/summerwind/actions-runner-dind/v2.290.0-ubuntu-20.04-4a3b7bc/images/sha256-6dfe31b251ab58fab0e2f2e1f01e98165b102565f99eef6dceaeabac6fb77c72?context=explore)) dind image.

Not sure if the reason for the broken docker is the same as before

[2022-04-13 04:39] mumoshu commented on #1341
@chinmaya-n Thanks for reporting. It would be great if you could share logs from any runner pods that is failing.

[2022-04-13 05:35] Djiit commented on #1327
No improvement on our side either. We're flying with manually scaled runner groups. Annoying, to say the least 😅

[2022-04-13 05:48] renperez-cpi commented on #1327
@Djiit good to know. I did spent some time today trying to troubleshoot. this is definitely an issue with github API. Question is why it says on their status page that their API is up and running. I ended up using this for now.
`metrics:
  - type: PercentageRunnersBusy
    scaleUpThreshold: '0.75'    # The percentage of busy runners at which the number of desired runners are re-evaluated to scale

[2022-04-13 05:51] zetaab commented on #1341
we are facing this issue also. Seems that `summerwind/actions-runner-dind:latest` base image is broken

[2022-04-13 05:53] zetaab commented on #1341
@mumoshu I think there is two options https://github.com/actions-runner-controller/actions-runner-controller/pull/1246 or https://github.com/actions-runner-controller/actions-runner-controller/pull/1337 is the bad PR

[2022-04-13 06:00] mumoshu commented on #1341
@zetaab Thanks! Still not sure what's the cause. Could you somehow obtain the logs from dockerd and see what's happening there? Or maybe try running `dockerd` within a kubectl exec session (with `-c` option to point to the specific config if it doesn't work with args) and see what happens while starting dockerd

[2022-04-13 06:00] zetaab commented on #1341
https://gist.github.com/zetaab/9ee49737d2b6a0905ab12b736998ad50 docker error logs

[2022-04-13 06:05] zetaab commented on #1341
[code]

this is everything that it is printing and then exit with code 1

[2022-04-13 06:06] mumoshu commented on #1341
@zetaab You'd need `sudo` to run `dockerd`.

[2022-04-13 06:07] zetaab commented on #1341
[code]

[2022-04-13 06:10] mumoshu commented on #1341
@zetaab Thanks. What if you run `sudo containerd`?

[2022-04-13 06:11] zetaab commented on #1341
[code]

seems working?

[2022-04-13 06:14] zetaab commented on #1341
hmm

actually in containerd I can see

[code]

but docker is printing

[code]

this might be the problem

[2022-04-13 06:17] zetaab commented on #1341
[code]

does not help using that either

[2022-04-13 06:28] mumoshu commented on #1341
In `sudo rm /var/run/docker.pid && sudo dockerd -H unix:///run/containerd/containerd.sock -D` I think you're conflating docker sock vs containerd sock. Probably we'd need to somehow change the docker's setting to let contained created the sock file at `/var/run/docker/containerd/containerd.sock`, not the docker sock?

[2022-04-13 06:32] zetaab commented on #1341
I think this issue can be reproduced locally also running dind in docker:

Not working:

[code]

Working:

[code]

[2022-04-13 06:49] mumoshu commented on #1341
My theory is that the fact that #1246 moved our `modprobe` script to `/usr/bin` resulted in a bug that recurses infinitely into the script itself.

https://github.com/actions-runner-controller/actions-runner-controller/pull/1246/files#diff-4811a9534434db6b36a17ec6147b4a113e306ac23eba40bc52ce0943cb9c06b0R103

https://github.com/actions-runner-controller/actions-runner-controller/blob/a37b4dfbe3fd8e

[2022-04-13 07:50] descampsk commented on #1341
Same issue, i was on latest on my configuration.

I use

[code]
as a workaround for the moment.

[2022-04-13 08:31] eagleusb commented on #1327
I encounter the same behavior, GH API is broken and thus the HRA do not scale at all :(

[2022-04-13 08:33] toast-gear commented on #1341
See linked issue, I don't really know why we have a custom modprobe script to begin with so we were planning on removing it regardles.

[2022-04-13 08:56] toast-gear commented on #1341
@descampsk @zetaab @chinmaya-n new image is out, can you confirm your environments are working again please?

[2022-04-13 09:16] rahul-FLS commented on #1332
Hey @mumoshu yeah its odd that I still need to specify securityContext this way. If I remove it I get error **Error: container has runAsNonRoot and image has non-numeric user (runner), cannot verify user is non-root** which is weird so I had to mention it explicitly.

[2022-04-13 09:21] rahul-FLS commented on #263
@mumoshu I could able to resolve it by mounting a /tmp folder to runner container and found it writing below stuff to it which I believe it was trying to write in the root directory which is protected by PSP hence failed. Any idea why it tries to write to root?

<img width="579" alt="image" src="https://user-images.githubusercontent.com/94915383/163144188-27801312-be4c-4a0d-8beb-5183a349871b.png">

[2022-04-13 09:26] toast-gear commented on #1332
Odd, can you try building the runner image swapping out [L124](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/runner/Dockerfile#L124) from `USER runner` to `USER 1000` and see if that resolves the issue?

[2022-04-13 10:35] zetaab commented on #1341
@toast-gear looks working now

[2022-04-13 10:47] tbomberg commented on #1305
For me the generated  `namespaceSelectors `look just fine:
[mutatingwebhookconfig.yaml.txt](https://github.com/actions-runner-controller/actions-runner-controller/files/8480740/mutatingwebhookconfig.yaml.txt)

I updated the way to reproduce the problem to using

- kind Cluster
- normal GitHub Account

so it is easy to reproduce everywhere

**Steps to reproduce**

[code]

You have to be quick to ge

[2022-04-13 11:44] mumoshu commented on #1305
`--set scope.watchNamespace=actions-runner-system` seems definitely wrong.

[2022-04-13 11:46] mumoshu commented on #1332
@rahul-FLS It seems like you need to tweak your own PodSecurityPolicy.

[2022-04-13 11:48] tbomberg commented on #1305
As I wrote I change my setup to a kind cluster staying as much at the defaults as possible to reproduce.

I just want to keep my working setup running without having to tear it down for every question asked.

[2022-04-13 11:51] mumoshu commented on #263
@rahul-FLS Everything except /tmp within the pod would reside within the root device, by default, in K8s. I guess you'd need to add some `emptyDir` volumes to where the runner writes 🤔 At least you'd need to mount a emptyDir volume at `/runner` and `/home/runner`, but I'm not 100% sure.
Try running `df -h` within the pod and you'd see which device is mounted where.
If you need anything other than

[2022-04-13 11:55] mumoshu commented on #1286
#1340 seems to work

[2022-04-13 12:02] mumoshu commented on #1305
Thanks about that, but the fix here would be to change the helm chart value as I said.

The rationale is that since 0.22.0 RunnerDeployment relies on mutating webhook and the same runner pod management logic that backs RunnerSet, which requires RUNNER_NAME envvar to be set.

In 0.21.x and below, RunnerDeployment didn't depend on the mutating webhook so that's why it worked with your wrong watchNam

[2022-04-13 12:11] tbomberg commented on #1305
To what should I set the watchNamespace?

controller and runners are located in the very same namespace, here now: `actions-runner-system`

Is this not supported? I can check if separate namespaces make any difference.

[2022-04-13 12:18] tbomberg commented on #1305
It does not make a difference. After reconfiguring the controller to a separate namespace and trying to setup a `RunnerSet` there shows still the problem.

[2022-04-13 12:37] toast-gear opened #1343 "Introduce a `type` field for a HRA's `scaleTargetRef:`"
When autoscaling a RunnerSet you must set `kind: RunnerSet` as part of the `scaleTargetRef:` field, this isn't needed when the HRA is backing a RunnerDeployment. It would be nicer to just always have to set the type so it's less confusing. easier to document and consistent between the 2 runner kinds.

[code]

[2022-04-13 13:01] lukonjun opened #1344 "Question: Cert Manager needed?"
Hello, just trying out the actions-runner-controller. I was just curious why exactly do we need cert manager, what would not work without it?

[2022-04-13 13:03] chinmaya-n commented on #1341
The latest image seems to have solved the problem. I'm closing this issue now. Thank you for the quick turnaround @mumoshu @zetaab @toast-gear @descampsk !

[2022-04-13 13:03] #1341 closed

[2022-04-13 13:15] hans-m-song commented on #1325
I can't seem to replicate the issue after updating the CRDs, thanks @mumoshu
It might be good to make a note about it in the readme.

[2022-04-13 13:26] toast-gear commented on #1344
To manage the admission webhooks certificate which is not-optional. If you don't want the cert-manager dependency which not every does you can roll your own cert https://github.com/actions-runner-controller/actions-runner-controller#using-without-cert-manager

The entire solution

[2022-04-13 16:14] toast-gear opened #1345 "Document the webhook delivery forwarder"
Implemented in PR https://github.com/actions-runner-controller/actions-runner-controller/pull/682, it wasn't ever really documented though

[2022-04-13 17:53] kitsirota commented on #1304
+1 We are now running into the same issues with crash loops on a seemly random set of runners each time.  I am not a huge fan of removing the ephemeral flag, but without a workaround we might have to re-use pods which may lead to other issues down the line.

[2022-04-13 20:10] funkswing commented on #1322
`PercentageRunnersBusy`

[2022-04-13 21:59] PJEstrada opened #1346 "Horizontalrunnerautoscaler is throwing 0 for TotalNumberOfQueuedAndInProgressWorkflowRuns metric Even though there are jobs working"
**Describe the bug**
I have a `horizontalrunnerautoscaler` deployed along with a deployment and the actions runner on my cluster.

This is my autoscaler:
[code]
The problem I have is that when I deploy it, and then run a workflow (using workflow disptach) that triggers a matrix of 7 jobs. I would expect a scale to get triggered, however this is not happening.

If I check the controller logs I see

[2022-04-13 23:09] mumoshu commented on #1346
I believe this is a duplicate of #1336 and #1327.

[2022-04-13 23:09] #1346 closed

[2022-04-13 23:10] mumoshu commented on #1344
I think this should better moved to Discussions :)

[2022-04-13 23:15] mumoshu commented on #776
We've upgraded controller-runtime and other dependencies several times since then. If it reproduced, we can't say for sure if the cause is the same. I'm closing this as resolved because we have not received any issues like this recently. Please feel free to submit another issue if necessary

[2022-04-13 23:15] #776 closed

[2022-04-13 23:16] mumoshu commented on #1306
I believe this should better be moved to Discussions.
If you aren't interested in autoscaling, you can just skip creating any HRAs and that's all you'd need.
Re cert-manager, see https://github.com/actions-runner-controller/actions-runner-controller/issues/1029

[2022-04-14 00:27] mumoshu commented on #1335
@lovesegfault Hey. Could you try https://github.com/actions-runner-controller/actions-runner-controller/blob/85dea9b67c9ed5d6c634f338cbf28070dd5c84f0/README.md#additional-tweaks? Any runner pod annotations should be propagated down to runner pods. You can customize runner pod annotations via runnerdeployment.spec.template.metadata.annotations in case you use RunnerDeployment. RunnerSet supports si

[2022-04-14 00:33] mumoshu commented on #1322
@funkswing Thanks. Could you also share logs from ARC's controller-manager that contains `Calculated desired replicas of ...`? `...` should be the actual number of desired replicas(that you think minReplicas isn't respected) and the line should also contain various values that helps investigating the issue.

[2022-04-14 00:36] mumoshu commented on #1282
@splitice Have you already tried setting `dockerdWithinRunnerContainer: true` while pointing the runner image to our `dind` variant https://github.com/actions-runner-controller/actions-runner-controller/blob/master/runner/Dockerfile.dindrunner?
That would also set `privileged: true`.

[2022-04-14 00:42] mumoshu commented on #631
Probably this code change on runnerForScaleFromToZero isn't needed anymore. We no longer create registration-only runners for scale-from-to-zero in recent versions of ARC.

[2022-04-14 00:43] mumoshu commented on #631
@frbk Hey! How have your fargated-based runners been working since then?

[2022-04-14 00:55] lovesegfault commented on #1335
@mumoshu That works fine to have an annotation _always_ set for a Deployment, the issue here is changing the value of an annotation when the runner picks up a task.

Essentially, I want to spawn RunnerDeployments with `cluster-autoscaler.kubernetes.io/safe-to-evict: "true"`, but have them change that to `false` when a job starts running.

Without this, you can get evicted halfway through a running

[2022-04-14 01:06] mumoshu commented on #1235
@stefangluszek It might be unrelated but anyway- In [0.22.3](https://github.com/actions-runner-controller/actions-runner-controller/releases/tag/v0.22.3)(I think you're still using 0.22.2) we fixed another bug that resulted in runner/pod to stuck in Terminating https://github.com/actions-runner-controller/actions-runner-controller/pull/1318.

I saw you first wrote:

So I'm assuming that you're bas

[2022-04-14 01:13] mumoshu commented on #1335
I've updated the title to more accuretely capture the goal

[2022-04-14 01:13] lovesegfault commented on #1335
Apparently, you can add arbitrary code before a job starts: https://github.com/actions/runner/issues/699

[2022-04-14 01:15] frbk commented on #631
Hey @mumoshu. I have moved away to another company from then, however they were working fine when you didnt need to use docker in docker. I will try to provide a bit more info later this week. Just need to go over my old notes

[2022-04-14 01:17] mumoshu commented on #1335
Or do you imagine anything more sophisticated, that ARC implements another HTTP server that is used to receive our custom HTTP notifications from every runner's job start hook, so that ARC can update annotations of the notification sender?

[2022-04-14 01:18] lovesegfault commented on #1335
@mumoshu

I think that should be fine? I imagine many people using ARC are on private repos where this won't really be a problem.

That would be pretty cool, especially because it would also let the controller know a runner is now busy without having to hit the GitHub API at all.

[2022-04-14 01:19] lovesegfault commented on #1335
Oh, I just realized, I think we can have webhook-like autoscaling without webhooks by using these runner hooks!

[2022-04-14 01:24] mumoshu commented on #1335
How?! You need a runner pod and a job to trigger the notification in the first place. That basically means the speed of scale up is limited by the current number of runner pods(that are capable on sending notifications) and assumption that you're ok with adding runner pods before any jobs are queued.
Our webhook autoscaler reacts on `queued` workflow_job events so in a good scenario it adds enough

[2022-04-14 01:25] mumoshu commented on #1335
OK I just saw your updated comment :)

[2022-04-14 01:29] lovesegfault commented on #1335
Right, it's much easier to do things if you don't have to worry about someone attacking the runners.

Regarding `privileged`, I have to force-enable it for us; otherwise the Nix installer doesn't work. You can repro it by ssh'ing into a runner and running:

[code]

I'm sure others have similar issues where they need tooling that interacts negatively with heavy-handed things like SELinux.

Anyway,

[2022-04-14 01:32] mumoshu commented on #1335
This turns out to be unsafe, because there seem to no way to prevent ARC and cluster-autoscaler from racing, like in a scenario that CA starts the node termination process seeing `safe-to-evict: "true` but at the same time `actions/runner` in a runner pod starts running a job(because it doesn't know that the runner pod's node is being terminated).

[2022-04-14 01:35] mumoshu commented on #1335
ARC implements a graceful scale-down logic that basically works by unregistering the runner first and then mark the runner pod for deletion. This way, a runner pod is guaranteed to not running any job when it was requested to terminate.

Do you know any cluster-autoscaler feature that can be used to notify ARC that CA wants to scale down a node/pod? If there's one, ARC could unregister the runner

[2022-04-14 01:36] lovesegfault commented on #1335
I don't know how it works, but it must exist because GKE can tell me which nodes are blocking scale-down. It will even tell me marking `safe-to-evict` might help.

[2022-04-14 01:38] lovesegfault commented on #1335
Looking through this: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md

[2022-04-14 01:49] mumoshu commented on #1335
@lovesegfault Thanks. Yeah, I read it a few times and my understanding is that it's blocked whenever a pod that is not evict-safe is there. But I think ARC's use-case is a bit different because to avoid race we need to detect if CA wants to scale down, and only after that unblock the node for termination.

[2022-04-14 01:52] lovesegfault commented on #1335
Looking here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-events-are-emitted-by-ca

I wonder whether that `ScaleDown` event is enough, the controller can then initiate graceful termination when it sees that.

According to this: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#does-ca-respect-gracefultermination-in-scale-down

Th

[2022-04-14 01:55] lovesegfault commented on #1335
So:

1. CA emits a ScaleDown event on the Pod
2. ARC sees that and:
  1. If the pod is running, does nothing
  2. If the pod is not running, starts shutting it down
3. The pod terminates gracefully
4. CA scales down the node

I imagine CA cordons off the node before issuing `ScaleDown` on pods, so it won't just get re-scheduled to the same node.

[2022-04-14 01:59] mumoshu commented on #1335
It's close but doesn't perfectly fit ARC's use-case. The graceful termination period needs to be longer than what's allowed by pod spec's terminationGracePeriodSeconds, so as CA's max grace period, because a workflow job can be running longer than that. That's why ARC uses its own graceful termination logic outside of the K8s finalizer(which can't block pod containers from existing when terminatio

[2022-04-14 02:04] mumoshu commented on #1335
That's not enough, because CA creates the event only after it decided to scale down, and at that time CA should have already started the grace period, which isn't what we want here.

[2022-04-14 02:05] lovesegfault commented on #1335
Can we still get CA events if the pods _aren't_ marked safe-to-evict? Then ARC can be the one to handle termination iff the pod is not running a job.

IOW: Can the question "Is this pod blocking a CA scale-down" be answered from ARC's POV?

[2022-04-14 02:09] mumoshu commented on #1335
What do you mean by this?
If it wasn't marked as safe-to-evict, CA would think the node is unnecessary and therefore start the node termination process, which involves draining of pods, and the pod drains are subject to terminationGracePeriodSeconds and node termination is subject to CA's max grace period.

My answer is "no", and that's why I asked https://github.com/actions-runner-controller/acti

[2022-04-14 02:12] mumoshu commented on #1335
I'd suggest reading this, if you're curious
https://github.com/kubernetes/autoscaler/blob/a9ec278ad121b684205661d0270acae86c8da777/cluster-autoscaler/core/scale_down.go#L787-L789

From ARC's perspective, we'd want to let CA to mark a node or a pod for potential termination (with no timeout) first, so that ARC can remark those pods as safe-to-evict after un-registrations. From what I can see from C

[2022-04-14 02:16] mumoshu commented on #1335
If it isn't possible in cooperation with CA, another approach would be to implement our own variant of [descheduler](https://github.com/kubernetes-sigs/descheduler) and tweak K8s scheduler to bin-pack runner pods. If the variant of descheduler proactively descheduled runner pods on low-utilized nodes, the K8s scheduler would eventually schedule runner pods to only a subset of nodes, and therefore

[2022-04-14 02:27] lovesegfault commented on #1335
I'm going to try to loop-in some of the K8S people from work in here to see if we're missing anything :)

[2022-04-14 06:21] Fleshgrinder commented on #1135
There still is the issue with the `PATH` that is somehow polluted for the root user. I didn't find out yet why that is.

[2022-04-14 07:26] rahul-FLS commented on #263
@mumoshu emptyDir volume was already mounted to /runner but I was getting the error. I mounted additional emptyDir to /tmp and it worked.

Next is to use Kaniko for container build because I can't use DinD as it needs root access. I am thinking to bake it inside your runner image because the Github provided kaniko action would need docker to fetch the kaniko binaries. Do you suggest this approach

[2022-04-14 08:17] mumoshu commented on #263
@rahul-FLS I'd appreciate it if you could share what worked for you 😄 I have never tried to go docker less. One note is that you can disable privileged by setting `dockerEnabled: false`. That implies there's no dind so is `docker`.

[2022-04-14 09:32] rahul-FLS commented on #263
@mumoshu here is the modified RunnerDeployment.yaml(look at the highlighted bits) and I have already got **dockerEnabled: false** so no docker :) So I need Kaniko to be hooked up in runner image .

apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: example-runnerdeploy
  labels:
    app: test
spec:
  replicas: 0
  template:
    spec:
      **volumes:
      - empty

[2022-04-14 13:45] erplsf commented on #1286
I'll be happy to test it out, if there's any way to use via helm deployment.

[2022-04-14 22:12] mumoshu commented on #1286
I'd definitely appreciate your feedback. You can build the container image for the PR by following our guide https://github.com/actions-runner-controller/actions-runner-controller/blob/master/CONTRIBUTING.md#testing-controller-built-from-a-pull-request

[2022-04-14 22:32] mumoshu commented on #263
@rahul-FLS Thanks for sharing! It's now more clear what you're doing. Not sure if it works well with `runAsUser` permission-wide, I'd suggest you try init containers to install various binaries like `kaniko` first. That way, you have the potential to not be forced to rebuild container image so often just to add a few binaries.
If I were you, I'd try `cp` and `chmod`ing binaries from an init contai

[2022-04-15 15:07] renperez-cpi commented on #1327
@eagleusb @Djiit @jbkc85 this is still happening. did github support got back to anyone of you guys? I sent a ticket yesterday but no response :(

[2022-04-16 06:15] rahul-FLS commented on #263
Thanks @mumoshu it looks like kaniko doesn’t support copying over binaries to another container https://github.com/GoogleContainerTools/kaniko#known-issues

[2022-04-16 06:38] rahul-FLS commented on #263
Would be good if controller could support build tools other than docker too which don’t need privilege access as its not advisable by security folks 😊

[2022-04-17 01:01] mumoshu commented on #263
@rahul-FLS I can't agree more from the user's perspective! Implementation-wise, it won't be too hard to provide a set of docs, examples, and another Dockerfile for the non-privileged use-case without sysbox. With sysbox- I remember that I discussed with other folks about potential support for sysbox(it's another container runtime that is able to run dind within non-privileged runner pod). That wou

[2022-04-17 01:03] mumoshu commented on #263
@rahul-FLS Also, probably you'd better open a dedicated issue for your use-case. I think what you're trying to is going beyond what's explained by @vittoriocanilli

[2022-04-18 07:25] roshvin opened #1350 "how to run docker build on this runner"
**Describe the bug**
we are running a docker build in this runner and its failing because no docker engine is installed in the runner pod.
do you have any sample runnerdeployment which will work with docker build workflow.
do you have any sample workflow which we can use to run docker build in this pod with some actions.

[2022-04-18 08:07] mumoshu commented on #1350
@roshvin It should work out-of-box as usually it has a sidecar container that runs `dind`.

[2022-04-18 08:08] mumoshu commented on #1350
@roshvin BTW, please don't try to use issues as a place for Q&A! We use Discussions for that.

[2022-04-18 13:30] frbk commented on #631
Give me couple more days. Had to setup a test eks  cluster and it took a bit longer than I was expecting. Will update after I try out latest version of controller.

[2022-04-18 13:57] VinGarcia opened #1352 "README issue: Broken link and typo"
Hey guys, I just found two problems in the same paragraph on the README, so I thought it would be worth reporting it:

So we have `Cavaets` instead of `Caveats` and and this link is not working:

[code]

I think the title #stateful-runners changed to something else maybe "Runner Sets"?

Also, I am just openning this issue because it is a great README, thank you very much for this project =]

[2022-04-18 13:59] VinGarcia commented on #1352
And since I have already created this ticket, there is another typo here:

https://github.com/actions-runner-controller/actions-runner-controller/tree/master/charts/actions-runner-controller#values

"relevent" instead of "relevant"

[2022-04-18 17:26] VinGarcia commented on #1352
I found another issue, I will add it here, and later if you guys want I can make PR with all these fixes:

so I am configuring the webhook driven scaling and I noticed this seems not to be working as expected:

Then I tried reading the [Chart README](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/README.md) and I noticed that thi

[2022-04-18 19:50] rushikeshkalyani commented on #1352
I had seen the same issues while configuring the webhook driven scalling.

This week, I planned to play with some options from the readme. Something like `githubWebhookServer.service.type=LoadBalancer`
However, if the document is updated before that would be great !!

[2022-04-18 21:16] VinGarcia commented on #1352
Good, I decided to create two PRs for this, in the first one I am running the README.md and the chart's README file through Grammarly for catching typos. And on the second one, I will try to fix this code snippet.

[2022-04-18 21:27] VinGarcia commented on #1352
Here the first one:

https://github.com/actions-runner-controller/actions-runner-controller/pull/1353

I tried to be very conservative in order to not change the meaning of any sentence, so it should be safe to merge.

I will create a second one that other issue.

[2022-04-19 00:11] TheDarkula opened #1355 "The /runner Directory Shows "No space left on device""
Using the latest helm chart, my runners are hitting the `No space left on device` error:
[code]

My `RunnerDeployment` yaml file is as follows:
[code]

I saw [this issue](https://github.com/actions-runner-controller/actions-runner-controller/issues/840), which led me to play around with the `spec.volumeSizeLimit` setting, but I have not been able to remedy the situation.

Does anyone have a soluti

[2022-04-19 00:22] mumoshu commented on #1355
@TheDarkula Hey! Would you mind sharing the output from `kubectl get po -o yaml $RUNNER_POD` for one of your failing runner pods?

[2022-04-19 12:21] eagleusb commented on #1327
Still the same sadly 😿

[2022-04-19 12:25] toast-gear commented on #1327
I'm going to reopen this for the sake of visibility as whilst this is a github.com issue, it'll prevent a duplicate ticket being raised whilst we wait for GitHub to sort their API out.

[2022-04-19 14:53] jbkc85 commented on #1327
James (GitHub Support)
Apr 19, 2022, 2:24 PM UTC

Hi Jason,

We are sincerely sorry for the delay it has taken to fix this. As of this morning we confirmed with the engineering team that the new index has been fixed. If you're still seeing this issue now, please let us know.

Cheers,
GitHub Support

[2022-04-19 15:27] renperez-cpi commented on #1327
@jbkc85 @Djiit @eagleusb i also confirmed that this is now working

[2022-04-19 16:22] #1327 closed

[2022-04-19 18:05] toast-gear opened #1357 "Fix make `docker-buildx` target on a Mac M1"
The controller no longer builds when using the make target docker-build on a Macbook (M1 at least, maybe Intel too)

[2022-04-19 22:39] mumoshu commented on #1357
I believe you'd need `buildx` and use `make docker-buildx` instead, because we now rely on the cache mount https://github.com/actions-runner-controller/actions-runner-controller/blob/81951780b10577d645b3ab9f5cb27c6f80134676/Dockerfile#L37-L38 (and probably that's not Mac-specific

[2022-04-19 22:44] mumoshu commented on #1355
@TheDarkula Hey! Thanks for sharing. Everything looks good so far. Also, `mv: cannot stat './externalstmp/*': No such file or directory` is just redherring and might not be a problem itself.

Would you mind also check how much space left on your host volumes? Maybe run `df -h` on your host will reveal the cause. Also, how much space did you give to your host's root volume? If you gave it like 10GB

[2022-04-19 22:45] mumoshu commented on #1355
You said the latest chart didn't work for you. Would you also clarify if the older chart worked for you before, or it's just that it's your first trial to install and use ARC?

[2022-04-19 23:02] TheDarkula commented on #1355
Here is the output of `df -h`:
[code]
I have `/var/lib/docker` symlinked to `/mnt/docker`, which has 492GB free.

This is my first foray into ARC, so I only have the current chart as a reference.

[2022-04-19 23:50] mumoshu commented on #1355
@TheDarkula I thought emptyDir contents are stored under `/var/lib/kubelet/pods` (depends on your k8s configuration though) on the host so probably you'd need to provide more space to the volume backing that.

[2022-04-20 00:16] mumoshu commented on #1305
Ah sorry I missed that you changed the namespace of the example RunnerSet to `actions-runner-system`. It should align with `scope.watchNamespace` and the `namespaceSelector` of mutatingwebhookconfig so almost everything looks good now.

The last missing piece, which I just noticed, might be that we might have missed labeling the `actions-runner-system` namespace with `name=actions-runner-system`.

[2022-04-20 00:17] mumoshu commented on #1305
@tbomberg Ah sorry I missed that you changed the namespace of the example RunnerSet to `actions-runner-system`. It should align with `scope.watchNamespace` and the `namespaceSelector` of mutatingwebhookconfig so almost everything looks good now.

The last missing piece, which I just noticed, might be that we might have missed labeling the `actions-runner-system` namespace with `name=actions-runner

[2022-04-20 00:51] TheDarkula commented on #1355
That was it! Thank you so much!
And thank you for the work on ARC. It is great :)

[2022-04-20 00:51] #1355 closed

[2022-04-20 00:57] mumoshu commented on #1355
@TheDarkula Great! Thanks for confirming. Enjoy ☺️

[2022-04-20 01:10] TheDarkula commented on #1355
I actually do have an unrelated question.
With the default (ephemeral) runner, is there a way to configure a `RunnerDeployment` to have a docker image cache?
That way the runner only pulls a container image if it does not already have it.

[2022-04-20 01:29] mumoshu commented on #1355
@TheDarkula The closest thing to that would be to use the `hostPath` mount, while ensuring no two pods share the same hostPath in the same node, as multiple dockerd instances cannot share the single /var/lib/docker.
If you need a more general solution, I'd suggest RunnerSet, which has support for volumeClaimTemplates similar to StatefulSet.

[2022-04-20 01:47] #984 closed

[2022-04-20 01:55] #1224 closed

[2022-04-20 01:55] #1226 closed

[2022-04-20 02:09] #899 closed

[2022-04-20 02:16] TheDarkula commented on #1355
Ah. I can change it to a `RunnerSet` then.
Is there an example with the `volumeClaimTemplates` somewhere?

[2022-04-20 02:20] mumoshu commented on #1355
@TheDarkula It should be the same as StatefulSet :) But you'll find https://github.com/actions-runner-controller/actions-runner-controller/issues/1265#issuecomment-1077302136 interesting. Enhancements to our documentation about the use case are highly welcomed!

[2022-04-20 07:44] toast-gear commented on #1357
We probably need to just remove the non-buildx target entirely from the Makefile

[2022-04-20 15:46] toast-gear opened #1358 "Remove the default `githubEvent: {}` requiring a event to be defined"
Ref https://github.com/actions-runner-controller/actions-runner-controller/pull/922

With the introduction of a explicit attribute for the workflow_job event (to be released in [v0.23.0](https://github.com/actions-runner-controller/actions-runner-controller/milestone/3)) we are removing the implicit default of workflow_job requiring people to explicitly define all webhook events they want to liste

[2022-04-20 18:02] TheDarkula opened #1362 "Configuring A Docker Image Cache (And Possibly Others)"
Coming from [this discussion](https://github.com/actions-runner-controller/actions-runner-controller/issues/1355#issuecomment-1103390564), I currently have this:
[code]

The first time I ran the CI, [it succeeded](https://github.com/themeliolabs/mellis/actions/runs/2197196138).

The second time, it hit [no space left on device](https://github.com/themeliolabs/mellis/actions/runs/2197223699).

Is t

[2022-04-20 18:50] rushikeshkalyani commented on #1352
``Well, Just an heads up:

I have tried with `githubWebhookServer.service.type=LoadBalancer` on eks cluster and found that its working as expected.

Full command is --
`helm upgrade --install --namespace actions-runner-system --create-namespace --wait actions-runner-controller actions-runner-controller/actions-runner-controller --set "githubWebhookServer.enabled=true,githubWebhookServer.service.ty

[2022-04-20 22:32] ealasgarov opened #1363 "non-ephemeral runner doesn't pick up the jobs, keeps restarting"
**Describe the bug**

I have created RunnerDeployment for non-ephemeral runner with the following config:

[code]
in logs on the runner container I can see that it doesn't write anymore

[code]
this line is gone.

Also at the bottom I can see "Listening for Jobs", So everything seems to be okay.

However, when I trigger the pipeline runner doesn't pickup the job, my jobs stays in:
"Waiting for a r

[2022-04-20 23:03] rahul-FLS opened #1364 "How to use Vault sidecar for secret injection?"
Hi @mumoshu I am trying to inject vault sidecar to the actions controller pod to mount the secrets as volume at /vault/secrets/* so in order to read the secrets from the volume , I want to pass a command to controller pod something like **for f in /vault/secrets/*; do source $f; done** so that they become available as environment variables i.e. GITHUB_APP_ID, GITHUB_APP_INSTALLATION_ID, GITHUB_APP

[2022-04-20 23:41] jwalters-gpsw opened #1366 "Add gh CLI to base runner container images"
On the Github hosted runner they all have the `gh` CLI installed. See here: https://docs.github.com/en/actions/using-workflows/using-github-cli-in-workflows

Would be good to have it on the runner containers provided by actions-runner-controller.

Is there a better repo for this feature request?

[2022-04-20 23:58] mumoshu commented on #1362
@TheDarkula Hey. I don't know the details of how docker pull works but anyway, try giving your host's root volume more capacity(or the one that backs your host's /tmp). This doesn't look like an issue in ARC.

[2022-04-21 00:01] mumoshu commented on #1363
@ealasgarov Hey. Which runner image are you using? It would be great if you could share `kubectl get po $RUNNER_POD -o yaml` for any of your runner pods.

[2022-04-21 03:19] splitice commented on #1282
dind can't be used for some of our use cases (e.g yocto builds).

[2022-04-21 03:22] mumoshu commented on #1282
@splitice Hey. `dockerdWithinRunnerContainer: true` doesn't require you to actually use the dind. Can you just leave the dind running within the runner container and still use yocto builds?

[2022-04-21 04:47] graemechristie opened #1368 "Autoscaler now creating a runnerset-per-pod/replica after 0.22.3"
**Describe the bug**
I've just installed 0.22.3 - and we now seems to be getting multiple runnersets created (each with a name appended with a short hash) - each with exactly 1 replica rather than a single runnerset with many replicas.

**Checks**

- [ x ] My actions-runner-controller version (v0.x.y) does support the feature
- [ ] I'm using an unreleased version of the controller I built from HEA

[2022-04-21 04:51] mumoshu commented on #1368
@graemechristie Hey. It's expected behavior since 0.22.0! Please refer to https://github.com/actions-runner-controller/actions-runner-controller/blob/master/docs/releasenotes/0.22.md

[2022-04-21 04:51] #1368 closed

[2022-04-21 05:29] graemechristie commented on #1368
I don't understand - how could this be expected behaviour ? Or am I misunderstanding .. we now have a 1 StatefulSet per pod ? The whole avantage of useing stateful sets is that you get consistant pod naming for reploca allowing you to predictably re-bind PVC's and other resources ... what possible reason could there be for moving to a stateful set per replica ?

[2022-04-21 05:34] mumoshu commented on #1368
Then try https://github.com/actions-runner-controller/actions-runner-controller/pull/1167

Yes.

Yeah, but on the other hand, that resulted in runners to race with GitHub Actions, sometimes workflow jobs are cancelled prematurely.

We're re-implementing the ability to rebind PVs via https://github.com/actions-runner-controller/actions-runner-controller/pull/1340

[2022-04-21 06:13] graemechristie commented on #1368
I'm lost for words - this is insane.  In what universe would anyone want a statefulset which only ever has one node .. Your effectively not using Statefulsets for anything that would be considered their original purpose .. they are an odd wrapper for a container.

You may as well just remove the entire Runnerset implementation - I can't see what it achieves.

[2022-04-21 06:28] mumoshu commented on #1368
@graemechristie I disagree. My two cents is that you can't treat StatefulSet as universal runtime for every stateful application. We only use it to ease the implementation because it does help us create PVCs and PV from templates. That's much better than reimplementing everything StatefulSet provides.

See more examples of stateful applications running on K8s. Vitess, for example, manages pods by

[2022-04-21 07:03] mumoshu commented on #1368
I hope we were in a universe where stateful runners are safely deployed as a single statefulset. It turned out not true. But is that my fault...? I don't think it's fair to say "insane" to the outcome of someone's weeks of effort that does solve real-world problems. I don't want to be forced to stick to something that looks legit but doesn't actually solve the problem.

[2022-04-21 07:42] ealasgarov commented on #1363
@mumoshu Thanks for the prompt response! I'm using custom image, which I've created "FROM summerwind/actions-runner:latest" by adding powershell and azure powershell modules, we need this for certain deployments. Here are the image details: https://hub.docker.com/layers/204021886/alasgarov/actions-runner/azps/images/sha256-f191534a8476c450a3fdaa677fd1c562fbe95912d3c971d0dfb00aa9db774bb1?context=re

[2022-04-21 07:44] toast-gear commented on #1363
@ealasgarov Can you use https://github.com/stern/stern to get the logs?

[2022-04-21 07:52] mumoshu commented on #1363
@ealasgarov I can't say for sure, this is just an idea, but anyway- I see you use `v2.290.0.` of actions/runner (not ARC) currently. What if you upgraded it to `v0.290.1`? I suspect it's being auto-upated thanks to actions/runner;s feature (again, not ARC) shortly after the startup. The upgrade process involves restarting the runner process. Perhaps it somehow failed to restart correctly and that'

[2022-04-21 07:59] toast-gear commented on #1366
I'm afriad we won't be able to add the gh cli due it not meeting our reqs for baked in packages:

* The use of the package is generally version insensitive
* Configs for the package are generally versions insensitive

https://github.com/cli/cli/releases has regular releases which introduce major features on a consistent basis. Our base runner would be bumped very frequently and we would end up wit

[2022-04-21 07:59] #1366 closed

[2022-04-21 08:07] toast-gear commented on #1362
I would avoid symlinking as your limit will be the root volume, not your PV. I'd try physically moving the Docker data directory with the `-g` flag. Something like DOCKER_OPTS="-g /mnt/docker"

[2022-04-21 09:34] ealasgarov commented on #1363
@toast-gear apologies, that's a long output. The last 2 lines is when the new pod had been created:

[code]

[2022-04-21 10:01] #1363 closed

[2022-04-21 12:03] larhauga opened #1369 "Pods stuck in terminating state"
We experience that some runner pods are stuck in terminating state.
The pod is still registered as a runner in github. No change if the runner is deleted forcefully in gha api.
The actions-controller is continuously logging: `actions-runner-controller.runnerpod     Runner pod is annotated to wait for completion `.

This seams to happend if a node is being deleted with a runner.

We are running spo

[2022-04-21 12:10] larhauga commented on #1369
v0.22.3 on eks 1.21 with bottlerocket 1.7.1

[2022-04-21 12:35] stefangluszek opened #1370 "Workflow_job events with empty labels get matched to scale up targets"
For some reason we receive workflow_job completed events with empty labels which are unfortunately wrongly matched to a scale up target resulting in wrongly scaling down scale targets when they shouldn't be scaled down.

Example of workflow_job completed payload:
[code]
scale down event:
[code]

What's interesting is that the workflow_job complete events don't seem to match in numbers workflow_job

[2022-04-21 14:19] ealasgarov commented on #1363
As i can see, the issue appears due to this line in my dockerfile: "RUN sudo apt update -y"
something gets updated which breaks the image. What is yet to be understood: why does it work when ephemeral and doesn't when non-ephemeral...

[2022-04-21 15:08] stefangluszek commented on #1370
I captured the raw payload from the GH webhook and I think I see when this happens, it's when the workflow_job is skipped:
[code]
And the corresponding log lines from the actions-runner-controller-github-webhook-server:
[code]

Perhaps we should ignore workflow_job status complete if conclusion is skipped?

[2022-04-21 15:30] toast-gear commented on #1370
https://github.com/actions-runner-controller/actions-runner-controller/pull/1330 it's already fixed in `master`, the fix will be in the next release `v0.23.0`. If you fancy building `master` and deploying it to confirm that would be helpful.

[2022-04-21 16:37] ealasgarov commented on #1363
using the the original image I can see in logs: ``` Current runner version: '2.290.1' ```
after I add powershell and use that image I can see in logs: ``` Current runner version: '2.290.0' ```

can't understand why is that, this causes the whole mess, because as @mumoshu correctly suggested it tries to upgrade it and then fails to restart correctly.

my dockerfile is:
[code]

[2022-04-21 17:07] toast-gear commented on #1363
to be honest your best bet is to turn off auto update https://github.com/actions-runner-controller/actions-runner-controller#runner-entrypoint-features and subscribe to this issue https://github.com/actions/runner/issues/1812 and wait for GitHub to confirm it's all sorted and at what version it's all sorted

[2022-04-21 17:57] TheDarkula commented on #1362
@toast-gear Brilliant!
That sorted out the free space issue. The curious thing is, it does not appear to be using a cache for the docker images.
If you look [here](https://github.com/themeliolabs/mellis/runs/6116909747?check_suite_focus=true), you will see that it is still pulling the latest image:
[code]
I ran the CI twice so the runners would already have the image downloaded, but it is not func

[2022-04-21 18:01] TheDarkula commented on #1362
Could the cache issue be due to the access mode being `ReadWriteOnce`?

[2022-04-21 18:13] TheDarkula commented on #1362
I just tried it with `ReadWriteMany`, but that has not changed anything.
Each job is pulling a fresh image.

To give some more detail, this is how I have the workflow configured:
[code]

[2022-04-21 18:31] TheDarkula commented on #1362
I did some digging through the ARC codebase, and I found [this](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/config/crd/bases/actions.summerwind.dev_runnersets.yaml#L762-L763):
[code]
Given that I have my image tags set to `latest`, do I need to update the `RunnerSet` to specify `imagePullPolicy: IfNotPresent`?

[2022-04-21 18:31] rahul-FLS commented on #1369
Hey @larhauga just wondering are you using vault for managing controller secrets in eks?

[2022-04-21 19:24] TheDarkula commented on #1362
I just tried changing the workflow to specify a tag instead of using the `latest` tag, and it still always pulls.

[2022-04-21 19:59] VinGarcia commented on #1352
Uhm, so if I wanted to protect it with HTTPS I would write an ingress for it instead since I already have it set up for my k8s cluster.

We might be able to think of a way to make it work with a LoadBalancer; but how to protect it might change depending on whether the user is on AWS, GCloud, or some other provider. 🤔

What are you thoughts about just providing the user with an example ingress conf

[2022-04-21 20:41] VinGarcia commented on #1352
Just updated https://github.com/actions-runner-controller/actions-runner-controller/pull/1354 with some things that were necessary for it to work on my setup.

Now if you agree we can just add an example ingress and it should be enough, what do you think?

[2022-04-22 00:03] mumoshu commented on #1369
@larhauga Hey. Do you use spot instances? Also, what kind of node groups do you use, unmanaged or managed?

[2022-04-22 05:34] rushikeshkalyani commented on #1352
Yup, that sounds good!
Example ingress would be better option.

[2022-04-22 07:02] rahul-FLS commented on #1364
Hey @mumoshu just wondering if you could provide your inputs here. Thanks 😊

[2022-04-22 07:08] mumoshu commented on #1364
@rahul-FLS I thought there were a handful of Vault sidecars in the wild. Which one are you talking about?

[2022-04-22 07:11] mumoshu commented on #1364
Although, I don't think a sidecar container can mount a secret as a volume 🤔 Are you walking about the case that there's a mutating webhook provided by your Vault integration and it generates a K8s secret from a Vault secret, inject it into the runner container, and you want it expose it as runner container's envvars?

Then, can you just mount the secret as envvars by using `envFrom`?

[2022-04-22 07:22] rahul-FLS commented on #1364
@mumoshu I am talking about a case where vault sidecar read the secrets from vault and mount them as volume in /vault/secrets/* and it shares the same volume with the main app i.e. controller. Its here:
https://www.vaultproject.io/docs/platform/k8s/injector

[2022-04-22 07:22] stefangluszek commented on #1370
Is there an approximate ETA for `v0.23.0` ?

[2022-04-22 07:34] mumoshu commented on #1364
@rahul-FLS How about using the `vault.hashicorp.com/agent-inject-template-` configuration and let vault-sidecar render the template as `.env` file that is read by the runner? https://github.com/actions-runner-controller/actions-runner-controller/issues/1135#issuecomment-1046237521

[2022-04-22 07:49] rahul-FLS commented on #1364
Thanks @mumoshu but I need those secrets to be loaded by controller, not runner because controller updates the registration token for the runner via GitHub App authentication which uses these env variables
GITHUB_APP_ID, GITHUB_APP_INSTALLATION_ID, GITHUB_APP_PRIVATE_KEY

[2022-04-22 07:51] mumoshu commented on #1364
Ah thanks, gotcha. Then you'd need to patch our actions-runner-controller image to load an env file.

[2022-04-22 07:55] mumoshu commented on #1364
I don't know if the use of the Vault sidecar is a strict requirement for you but anyway, another option is to use https://www.vaultproject.io/docs/platform/k8s/csi which supports projecting vault secrets into k8s secrets so that you can modify the ARC's deployment's manifest to include a envFrom field points to the k8s secret projected by the csi secret provider.

[2022-04-22 09:26] toast-gear commented on #1370
Not sure. You can track the milestone https://github.com/actions-runner-controller/actions-runner-controller/milestone/3. Most of the issues have PR raised which we just need to do some testing where the CI can't so I probably a few weeks but life happens sometimes etc so it could be longer

[2022-04-22 09:47] alanbover opened #1374 "Broken PercentageRunnersBusy autoscaling when stalled runner"
**Describe the bug**
We are currently using PercentageRunnersBusy metric for autoscale the runners. We have found out that sometimes (because an unknown reason) workers are infinitely kept running a workflow.

When this happens and that pod is marked for downscaling (we are using ephemeral runners) the pod is marked with flag AnnotationKeyRunnerCompletionWaitStartTimestamp (here https://github.com

[2022-04-22 11:17] larhauga commented on #1369
@mumoshu yes er do. And cluster-autoscaler. Managed nodegroup with bottlerocket. We are still working on fine tune this, but there may be other causes for nodes to disappear. So I think there is a need for a bugfix here to ensure that terminated pods are removed from GHA and that the finalizer is removed.

[2022-04-22 11:45] toast-gear commented on #1362
No, this controls if access to the moount is exclusive or not

No, this will only impact the pull policy on the node, not the runner.

Your problem will be related to docker on the runner in some way, I don't have a answer other than look in that general direction. Please do update this issue with a single comment outlinging what you've tried as you've tried it etc

[2022-04-22 13:04] VinGarcia commented on #1352
@rushikeshkalyani just added the changes we spoke about on the following PR:

https://github.com/actions-runner-controller/actions-runner-controller/pull/1354

It's ready to be reviewed, tell me if you think something should be changed.

[2022-04-22 22:52] nitrocode opened #1376 "Make it easier to rotate a PAT token"
**Is your feature request related to a problem? Please describe.**

I currently have my token stored in ssm. I use a terraform data source to retrieve it, create a kubernetes secret, and then redeploy the helm release. This should work but I always have a runner stuck and need to patch its finalizers to update the runner to use the new token.

**Describe the solution you'd like**

it would be nice

[2022-04-23 00:18] TheDarkula commented on #1286
@mumoshu Is there an image of this built on dockerhub that I can use to test this out?

As a note, I tried building your `retain-pv-across-restarts-runnerset` branch, but it failed with this error:
[code]

[2022-04-23 01:23] hi-artem opened #1377 "Unnecessary Dependency Installed in Docker Container"
**Describe the bug**

DIND runner installs a number of dependency that seems to be unnecessary and even possibly harmful, for example [netcat](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/runner/Dockerfile.dindrunner#L29) and [telnet](https://github.com/actions-runner-controller/actions-runner-controller/blob/9f254a23937ad54e8a3912ed8c8c59a71bc96f04/runner/Doc

[2022-04-23 11:27] toast-gear commented on #1362
the runner pod, you can confirm in lots of ways:

- attempt to use the `container:` syntax on a runner witih Docker disabled
- setup a workflow which uses the `container:` field and then sleeps for 10 minutes, exec into the pod and see if the image is in the runner
- check to see if the image after successfully being pulled is on the eks node itself or not

I noted from a quick google that from v1

[2022-04-23 11:32] toast-gear commented on #1286
You need to set the platform as part of the build, use the makefile:

[code]

[2022-04-24 00:56] mumoshu commented on #1377
@hi-artem Hey. Can you somehow verify that those binaries are not present in GitHub-managed runners VM images? If it isn't present there too and ARC works without those two, certainly we don't need those and those can be removed safely.

[2022-04-24 01:06] mumoshu commented on #1358
Documentation enhancement is being done by @soham4abc at #1361.
I'm going to submit a pull request for the code change soon.

[2022-04-24 01:45] mumoshu commented on #1376
@nitrocode Hey!

Why? Did you immediately revoke the old PAT and you didn't "recreate" the actions-runner-controller pods after the secret update, right? You need to either keep the old PAT available until all the ARC pods are eventually restarted with the new secret, or explicitly recreate all the ARC pods so that the new pods get the new GitHub API creds-related envvars from the updated secret.

[2022-04-24 01:47] #1294 closed

[2022-04-24 02:04] #1258 closed

[2022-04-24 04:39] #1358 closed

[2022-04-24 05:45] mumoshu commented on #728
Implemented in #1372

[2022-04-24 05:46] #728 closed

[2022-04-24 05:46] mumoshu commented on #1056
The Bronze variant of this has been implemented in #1373

[2022-04-24 05:46] #1056 closed

[2022-04-24 12:00] sagi-shimoni opened #1380 "could not parse webhook"
I'm trying to enable HorizontalRunnerAutoscaler based on github webhooks but it's not working due to webhooks not being parsed correctly.

I checked the logs of pod "actions-runner-controller-github-webhook-server" and I encountered below error.

Installed v0.22.3 via Helm chart.

[code]

[2022-04-24 14:52] nitrocode commented on #1376
Ah a unique name for the secret so if the ssm value changes, it will create the secret as a new name, delete the old one, and then uninstall and reinstall the helm chart. However, I imagine we'll still have a stuck runner due to the finalizer. I'll test this out next time we need to rotate the key. Thank you for getting back to me so quickly.

[2022-04-24 20:41] mumoshu commented on #1376
@nitrocode Hey! Thanks for your confirmation.

I'd appreciate if you could give it a shot but anyway, I think the fact that it's stuck is the PAT it was using at the moment had no permission to call RemoveRunner GitHub Actions API. But it should be able to do so, as long as the old and the new PATs had the same set of permissions.

That's why I'm suspecting that it's just that you revoke the old P

[2022-04-24 20:43] mumoshu commented on #1380
@sagi-shimoni Hey. You seem have configured a wrong content-type for your webhook. Please use application/json.

[2022-04-24 20:43] #1380 closed

[2022-04-25 08:44] stanxing commented on #1291
I have same problem in 0.22.3

[2022-04-25 08:45] mumoshu commented on #1291
@stanxing Probably you missed upgrading CRDs. Otherwise try reinstalling everything from scratch and see if that fixes the issue. All the reported issues have been already resolved so we have nowhere to investigate without additional information!

[2022-04-25 09:15] stanxing commented on #1291
@mumoshu I installed runner controller with  helm, Is the CRD resource in helm the latest？

[code]

[2022-04-25 09:16] toast-gear commented on #1291
@stanxing see the upgrade [docs](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/docs/UPGRADING.md) for Helm

[2022-04-25 10:03] stanxing commented on #1291
Thanks for your reply, I  reinstalled helm chart and upgraded the CRD Resource for helm and, the problem is still existed.

helm version:

[code]

then I run `kubectl replace -f crds/.` which version is 0.17.3

runner yaml :

[code]

After I trigged a workflow, The job status as below:

[code]

Controller logs:

[code]

Any ideas for my problem?

[2022-04-25 10:08] toast-gear commented on #1291
Delete the controller pod (`kubectl delete pod $controller_pod_name`) so it is redeployed, I don't know if the pod coming up _before_ the replacement of the CRDs will matter

[2022-04-25 10:38] navi86 commented on #1369
I almost have  the same issue on k8s cluster in aws. However the pod is not stucked completely, he is removed after several errors(after 4 times) because "HorizontalRunnerAutoscaler" has updated value.

[2022-04-25 11:42] kwngo opened #1386 "Adding support for open telemetry"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated where I have trouble distinguishing whether root cause of any issue is something with the controller or my own self-hosted infrastructure. For example I'd like to see how long specific methods in the reconcilation loop are taking to run, or if they fail

**Describe the solution you'd like**
A clear and concise

[2022-04-25 19:14] shankarRaman opened #1387 "Delay in allocating a runner for a job"
**Describe the bug**
We noticed an unusual amount of delay  (almost 1 hour) for the runners to pick the jobs in Github. Usually this happens instantly and there were a bunch  of runners in "idle" state.
How can one troubleshoot this to find out where the root cause is?

**Checks**

- [X] My actions-runner-controller version (v0.22.2) does support the feature
- [ ] I'm using an unreleased version o

[2022-04-25 19:17] billimek commented on #1317
@jonathanbeber do you happen to know if the `kubectl create` approach will work for _updating_ CRDs?

I'm thinking about a scenario where the CRDs are already installed and we are upgrading to a new version which has changes to the CRDs.  From my experience, `kubectl create` will fail if the resource already exists.  If this is the case, it would require a deletion of the CRDs first followed by a

[2022-04-25 19:48] toast-gear commented on #1387
ARC isn't involved in jobs acutally getting allocated to runners, all ARC is responsible for is scaling runners up and down effectively. Once the runner container is up, outside of the entrypoint, GitHub's runner software takes over. Is this a regular problem or something that only happens now and again? github.com is not reliable so perhaps you are just suffering from their API having issues?

[2022-04-25 20:27] bkrugerp99 commented on #1369
We have runners that end up stuck in termination as well, but the underlying nodes have disappeared.   No errors in the pod description, logs aren't available as the node is gone.

Logs just show this:
```2022-04-25T20:23:29Z	INFO	actions-runner-controller.runnerpod	Runner pod is annotated to wait for completion	{"runnerpod": "gha-runners/cpu-small-jljfk-bgd28"}```

It's continually trying to chec

[2022-04-25 20:29] TheDarkula commented on #1286
@toast-gear Ah. I got it built and pushed.
I have ARC deployed via the helm chart.

Do I just need to change `image.actionsRunnerRepositoryAndTag` in the `values.yaml` to be the image I have in dockerhub?

[2022-04-25 20:37] toast-gear commented on #1286
you should be able to see from the [values.yaml](https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/values.yaml#L55-L59) which you need to adjust. `repository` for the controller, `actionsRunnerRepositoryAndTag` for the default runner image, `dindSidecarRepositoryAndTag` for the dind sidecar

[2022-04-25 20:59] jonathanbeber commented on #1380
@mumoshu to avoid errors such this one, is there any plan or an issue (sorry, couldn't find one) about adding the feature of the controller creating the webhook by itself? i.g. was it already discussed and, if not, is it worth to create a new issue with this request?

[2022-04-25 22:08] TheDarkula commented on #1286
Running the `make` earlier only created one image: `themeliodockerhub/actions-runner-controller:latest`.
When running this: `helm upgrade --install --namespace actions-runner-system --create-namespace --wait actions-runner-controller actions-runner-controller/actions-runner-controller --values values.yaml` to install the controller, it was looking for the `v0.22.3` image tag, so I needed to tag an

[2022-04-26 00:04] mumoshu commented on #1369
Unfortunately, this seems impossible due to that GitHub Actions API seems to block unregistration requests against the disappeared runners.

This sounds like a good idea!

Yeah maybe. A timeout since the pod disappeared would work.

[2022-04-26 00:06] mumoshu commented on #1369
@navi86 How long does each completed runner stack terminating? If it successfully terminates after HRA scaled it down, it seems working correctly. What other people are reporting seems to be more about the pod never gets removed even if HRA scaled it down.

[2022-04-26 00:09] mumoshu commented on #1387
Yeah, this is unlikely to be triggered by ARC. GitHub should assign jobs to idle runners with matching labels. As you see idle runners, ARC seems to be working correctly. Have you already contacted GitHub support?

[2022-04-26 00:10] mumoshu commented on #1317
@billimek In case you missed it, you can use `kubectl replace` for upgrading CRDs as documented in https://github.com/actions-runner-controller/actions-runner-controller/blob/master/charts/actions-runner-controller/docs/UPGRADING.md#steps

[2022-04-26 00:15] mumoshu commented on #1286
@TheDarkula Hey. Could you share logs from ARC's controller-manager pod (not runner pods)? If it's failing for whatever reason, you should see error logs there.

[2022-04-26 00:34] TheDarkula commented on #1286
@mumoshu Here is an attempt to start up a `RunnerDeployment`:
[code]

`kubectl get runnerdeployments`:
[code]

`kubectl get pods`:
[code]

[2022-04-26 00:37] mumoshu commented on #1286
@TheDarkula Could you share the full log? What you shared isn't the part that is starting RunnerDeployment. It's the part that admissionwebhook servers embedded in the controller-manager have validated and mutated the resources. So, I have no way to investigate why controllers are not picking it and creating runner pods from it.

[2022-04-26 00:44] mumoshu commented on #1369
@larhauga I thought we had already fixed this v0.22.3 via the change https://github.com/actions-runner-controller/actions-runner-controller/commit/b09c54045a09f3c0f10621210219eb2031719328 but apparently not?

I'd appreciate it if you could share the output from `kubectl get po -o yaml $RUNNER_POD` from the stuck pod when you see it next time, so that I can perhaps isolate the cause.

[2022-04-26 01:10] mumoshu commented on #1369
@larhauga I still appreciate your verification, but I got to think it's that your pod had disappeared while Waiting, even before it's being created and started running.

The relevant part from `kubectl describe po` output you've shared is below, which seems to indicate that there's `pod.Status.State.Waiting`:

[code]

And `pod.Status.LastTerminationState.Terminated`:

[code]

That explains it for

[2022-04-26 01:13] TheDarkula commented on #1286
Ah. Part of it had not outputted anything at the time.
@mumoshu Here is the complete log:
[code]

[2022-04-26 01:21] mumoshu commented on #1286
@TheDarkula Makes sense! Probably it was still waiting for the leader election to happen so that the new and old ARC won't try to re-reconcile each other's managed resources. Any reconciliation processes starts only after it became the leader hence the delay in logs.

[code]

[2022-04-26 01:40] TheDarkula commented on #1286
@mumoshu Great. I ran a `helm upgrade` in the pull request's `charts/actions-runner-controller` directory.
Now runners are created, but unfortunately, the repeated PVC issue is still there with a `RunnerSet`:
[code]

Each time I ran `kubectl get pvc` was following a CI test run.

[2022-04-26 02:01] frbk commented on #631
Didn't forget about this. Schedule is a bit all over the place at the moment. 😭

[2022-04-26 02:02] mumoshu commented on #1286
@TheDarkula Thanks! Could you share results from `kubectl get statefulset,pvc,pv`?
Say you had 2 replicas RunnerSet, there should usually be 2 StatefulSets, 2 PVCs, and at most 4 PVs. ARC doesn't wait for scale down before scale up or old statefulset to terminate before new statefulsets are added via RunnerSet, so it's natural to see a few additional PVCs and PVs remaining there.

[2022-04-26 02:03] mumoshu commented on #631
@frbk Thanks! I'm looking forward to your report ☺️

[2022-04-26 02:17] mumoshu commented on #1386
@kwngo Hey! This doesn't sound too bad, but I'm unsure it is worth the effort.
What are the exact use-cases you have in mind? Have you ever encountered any performance problems using ARC, caused by GitHub API slowness, K8s slowness, or ARC's logic bug that makes it very slow to respond, etc?
Or is this being suggested only to prepare for such events?

[2022-04-26 02:22] TheDarkula commented on #1286
@mumoshu Sure thing:
`kubectl get statefulset,pvc,pv`:
[code]

The thing that is throwing me off, is that I have this for my `RunnerSet`:
[code]

I have a first run of my CI [here](https://github.com/themeliolabs/mellis/runs/6168382805?check_suite_focus=true).
I commented out this task:
[code]
because I expect the cache to be empty the first time.

On a subsequent run, [here](https://github.com/th

[2022-04-26 02:31] mumoshu commented on #1286
@TheDarkula Thanks! You'd need a few more runs so that all the retained PVs have cargo cache populated.

As I said above, we don't block new statefulset from running when there's still old statefulset that is bounding one of eligible PVs (though a PVC). So, even if you're to run workflows sequentially with ephemeral runners backed by RunnerSet, almost certainly you need at least two PVs and until

[2022-04-26 02:33] mumoshu commented on #1286
I usually use a much shorter sync period, like `1m`. Would you mind trying with a similar configuration and seeing how it affects it? ARC should eventually disassociate PVs from unnecessary PVCs and then remove those PVCs so that the remaining PVs can be reused by future StatefulSets.

[2022-04-26 06:44] stanxing commented on #1291
Sorry to bother you again. I can not resolve the problem. I found When first container exited with code 0. The second contaienr `docker:dind` is still running.

[code]

This is some `docker:dind` logs:

[code]

k describe pod dbt-runner -n github-runners
[code]

Can anyone tell me how to debug it?

[2022-04-26 06:52] mumoshu commented on #1291
@stanxing Are you using `Runner` resource only, right? Then it seems like working as expected. It creates a runner pod that runs an ephemeral runner inside, and a Runner resource never recreate the ephemeral runner pod, because doing so result in a race condition that is intended to be fixed by ARC 0.22.x.

Other folks are using RunnerDeployment which is capable of replacing completed Runner and i

[2022-04-26 07:28] stanxing commented on #1291
Are you using Runner resource only, right?

[2022-04-26 12:33] shankarRaman commented on #1387
Thanks @toast-gear @mumoshu - that's what my suspicion was too. I assumed, since the ARC communicates with Github to determine scaling needs, that the ARC is also responsible for notifying Github about the availability of the runners.

[2022-04-26 14:05] shankarRaman commented on #1387
@mumoshu another question - how does ARC handle pods that are still running because the `minReplicas` count has be maintained? Wouldn't those hanging pods create a persistent runner scenario causing unwanted behavior (we see that with "permission denied" messages when  trying to clean up working  directory  as part of actions/checkout)

[2022-04-26 14:50] toast-gear commented on #1387
No, when a pod finishes a job is is destroyed and created again, runners are single use so nothing is persistended between jobs unless you have actvely tuned off the ephemeral design https://github.com/actions-runner-controller/actions-runner-controller#persistent-runners

[2022-04-26 15:49] toast-gear commented on #1387
Mmmm, that doesn't sound right. Could you:

- confirm your ARC controller version?
- send your runner*.yaml and HRA yaml?

[2022-04-26 15:55] Vladyslav-Miletskyi opened #1391 "Helm/CRDs cannot be applied during update process"
Using ArgoCD one cannot easily update CRDs. Just because of: https://github.com/prometheus-community/helm-charts/issues/1500
Potential Fix:
* https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#replace-resource-instead-of-applying-changes

[2022-04-26 15:59] shankarRaman commented on #1387
This is the image version 0.21.1, here's our deployment and HRA yaml
[code]

[2022-04-26 16:02] toast-gear commented on #1387
We had bugs around runner scaling down prior to v0.22.3, whilst I'm not sure if it's related I'd def upgrade to v0.22.3 before spending much time debugging.

[2022-04-26 16:12] shankarRaman commented on #1387
Okay, I'll work on upgrading the ARC and get back.

[2022-04-26 17:08] shankarRaman commented on #1387
I updated the ARC and the CRD's. I ran a job and saw the pod deleted after the job however I don't see the new pod created. I see this message
[code]

[2022-04-26 18:08] TheDarkula commented on #1286
@mumoshu I changed the `syncPeriod` to `1m`, created a `RunnerSet` with only one replica, and the cargo cache.
I ran 5 of the same CI job, one after the other. They all ran basically exactly the same duration and the PVC/PV buildup is still present.

Here is the output of `kubectl get statefulset,pvc,pv`:
[code]

[2022-04-26 19:57] kmlevy opened #1393 "Github webhook server implementation does not match documentation"
**Describe the bug**
I followed current instructions to implement the Github webhook server:

helm upgrade --install --namespace actions-runner-system --create-namespace \
             --wait actions-runner-controller actions-runner-controller/actions-runner-controller \
             --set "githubWebhookServer.enabled=true,githubWebhookServer.ports[0].nodePort=33080"

However, when I look at the s

[2022-04-26 20:01] kmlevy commented on #1393
This is the latest config in the helm chart:

  service:
    type: ClusterIP
    annotations: {}
    ports:
      - port: 80
        targetPort: http
        protocol: TCP
        name: http
        #nodePort: someFixedPortForUseWithTerraformCdkCfnEtc

[2022-04-26 20:03] toast-gear commented on #1387
it should keep the runner pod count at 10, if a workflow with 1 job in it runs I would expect:
- 10 pods to be up idle
- 1 pod takes on the job (assuming the labels match)
- at the end of the job the pod to be terminated, a new pod is then created as you have a constraint of 10 runner pods as a mimumum

Can you confirm what you behaviour you saw?

[2022-04-26 22:28] TheDarkula commented on #1362
@toast-gear Those are all brilliant ideas.
When I have the PV/PVC issue sorted out over [here](https://github.com/actions-runner-controller/actions-runner-controller/issues/1286), I will test the docker image cache out.

[2022-04-26 23:38] mumoshu commented on #1387
@shankarRaman Can you also share the full log from the controller, and runner pod logs from`kubectl logs -c runner $YOUR_RUNNER_POD`, plus the dockerfile you used to build your custom runner image if any?

This can happen when your runner got stuck without existing after job completion, which doesn't usually happen.

[2022-04-26 23:40] mumoshu commented on #1393
@kmlevy Thanks! I'd appreciate it very much if you could submit a pull request to fix the doc if you find any mistakes. We're a small team and can't handle everything in a timely manner.

[2022-04-26 23:43] mumoshu commented on #1391
Also see https://github.com/actions-runner-controller/actions-runner-controller/issues/1256#issuecomment-1082361032 and https://github.com/actions-runner-controller/actions-runner-controller/issues/1102#issuecomment-1041138914

[2022-04-26 23:47] mumoshu commented on #1286
@TheDarkula Thanks a lot for reporting back! Hmm, that shouldn't happen. I'm now afraid if your controller image `themeliodockerhub/actions-runner-controller:latest` is somehow stuck in an outdated version..?

Could you also share full `kubectl logs` output from your controller pods once again so that I can verify it?

[2022-04-27 01:31] TheDarkula commented on #1286
@mumoshu Great catch. In the shuffle, I did not remember to switch back the `image.repository` setting in my `values.yaml` file.

At this point, the `RunnerSet` only creates one PV/PVC, but the cache still fails.

Here is a [first run](https://github.com/themeliolabs/mellis/runs/6186144293?check_suite_focus=true), and a [following run](https://github.com/themeliolabs/mellis/runs/6186165766?check_s

[2022-04-27 01:40] mumoshu commented on #1286
@TheDarkula Can you make the workflow definition to run `ls -la /usr/local/cargo/registry/cache` also after the `Build Ginkou-Loader` step? I have zero experience in how cargo cache works and curious what's there after the build.

[2022-04-27 01:48] mumoshu commented on #1286
@TheDarkula Are you sure `/usr/local/cargo` is the canonical cache path? I mean, it's just that `docker-rust` sets `CARGO_HOME=/usr/local/cargo` so builds run "within" that container would use `/usr/local/cargo` as the cache path, but isn't the path when you run `cargo` directly within the runner container?

https://github.com/rust-lang/docker-rust/blob/master/Dockerfile-alpine.template#L8

Also s

[2022-04-27 01:50] kmlevy commented on #1393
Part of my question stems from the fact that I do not know the internals of Kubernetes well enough, so I wouldn't know what to change the documentation to in order to make it match the implementation.  Sorry.

[2022-04-27 01:53] TheDarkula commented on #1286
@mumoshu There is only one PV/PVC set.

`kubectl get statefulset,pvc,pv`:
[code]

Here is the [first run](https://github.com/themeliolabs/mellis/runs/6186297576?check_suite_focus=true), [second](https://github.com/themeliolabs/mellis/runs/6186326166?check_suite_focus=true), and [third](https://github.com/themeliolabs/mellis/runs/6186345920?check_suite_focus=true).

If you look at the first two run

[2022-04-27 01:56] mumoshu commented on #1393
@kmlevy Thanks for confirming. At glance, probably it would work if you add `--set `githubWebhookServer.service.type=NodePort` to helm values. Would you mind giving it a shot?

[2022-04-27 02:01] mumoshu commented on #1286
@TheDarkula Thanks a lot! Ahhh almost certainly your reclaim policy for PVs are wrong. I see `Delete` set on your only PV's `RECLAIM POLICY` that means PVs are deleted once their corresponding PVCs are cleaned up by ARC. In my understanding, it should be configured as `Retain` in your storageclass.

You might find this part of configuration I used while testing #1311

https://github.com/actions-ru

[2022-04-27 02:04] TheDarkula commented on #1286
@mumoshu Is that something I can set in this block:
[code]
when defining my `RunnerSet`?

[2022-04-27 03:31] mumoshu commented on #1286
@TheDarkula AFAIK, no- but you could double check by drilling down the corresponding statefulset spec fields starting `kubectl explain statefulset.spec.volumeClaimTemplates.spec`, because RunnerSet spec is basically a replicate of that.

Also, you should be able to edit your default storage class to have the custom retain policy, as you seem to be using the default storageclass anyway. Try `kubect

[2022-04-27 04:33] TheDarkula commented on #1286
@mumoshu No worries.
Unfortunately, `kubectl explain statefulset.spec.volumeClaimTemplates.spec | grep reclaim` shows nothing.
I am fine with creating a new `StorageClass`. I presume I need to set the `RunnerSet`'s `volumeClaimTemplates.storageClassName` to match the `metadata.name` from the new `StorageClass` like I would with a `StatefulSet`.

I was just trying to get everything working, and cre

[2022-04-27 04:58] saravanan30erd commented on #942
@mumoshu  Created a PR for this one.

[2022-04-27 05:05] TheDarkula commented on #1286
It actually needed to be set as `volumeClaimTemplates.spec.storageClassName`.

I wanted to use a local/no-provisioner for the `StorageClass`, but according to [the documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#local), I cannot use that with dynamic provisioning like in the `RunnerSet`.

I am running ARC within minikube, so I figured I could use `provisioner: k8s.io/mi

[2022-04-27 05:15] mumoshu commented on #1286
@TheDarkula Are you on any cloudprovider (AWS, GCP, Azure, etc)? Then the provisioned provided by the cloud would be the best supported one. If you're fine with cache tied to nodes and want a solution with the least effort and still wanting dynamic provisioning, I can recommend [the local path provisioned](https://github.com/rancher/local-path-provisioner). I used it on my kind clusters when e2e t

[2022-04-27 05:31] TheDarkula commented on #1286
Brilliant. I was not familiar with the rancher provisioner.
Running `kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/v0.0.22/deploy/local-path-storage.yaml` and then using your example worked perfectly.

One thing I did notice is that, while I only have a single replica, four persistent volumes are created.

`kubectl get pv`

[code]

Is that the intended behaviour

[2022-04-27 05:43] TheDarkula commented on #1286
@mumoshu Also, I just ran my CI 6 times to try and build up the cache, but when I run a `ls` at the beginning of the job, it [fails](https://github.com/themeliolabs/mellis/runs/6188106408?check_suite_focus=true), so it seems that something is off.

[2022-04-27 05:53] mumoshu commented on #1286
@TheDarkula How often did you trigger your CI builds when it happened? Also, do you use HRA(ARC's autoscaler)?
The number of PVs is dependent on the max number of statefulsets (that are in any of Terminating, Running, and in-between).
If the number of PVs tops at some point in time, you'll probably see the cache is fully populated across all the PVs.

[2022-04-27 06:01] TheDarkula commented on #1286
@mumoshu I triggered a build, waited for it to complete, and then ran another (sequentially/in series).
I have not configured anything special regarding HRA, so if that is configured by default, I am running with the default settings.

As far as the number of `RunnerSet`s/`StatefulSet`s, this is what I have:
[code]

[2022-04-27 06:11] mumoshu commented on #1286
@TheDarkula Thanks for confirming. Sounds all good so far. Then I guess it might be due to that it's potentially taking more time to release PVs and hence retaining more PVs than necessary, and that's delaying cache to be fully populated over all the PVs? 🤔
When you keep running triggering jobs, do you consistently see cache miss even after several more runs?
I think a better way to test it would

[2022-04-27 06:44] TheDarkula commented on #1286
@mumoshu Here are a whole mess of runs:
- [1](https://github.com/themeliolabs/mellis/runs/6188549710?check_suite_focus=true)
- [2](https://github.com/themeliolabs/mellis/runs/6188567417?check_suite_focus=true)
- [3](https://github.com/themeliolabs/mellis/runs/6188567929?check_suite_focus=true)
- [4](https://github.com/themeliolabs/mellis/runs/6188568593?check_suite_focus=true)
- [5](https://github

[2022-04-27 07:12] mumoshu commented on #1286
@TheDarkula Thanks. Very interesting. Can you see if the PVs are actually retained and reused across new statefulsets? PV statuses should transition between `Available` and `Bound` if it's reused.

[2022-04-27 07:28] toast-gear commented on #1391
We don't like the idea of baking in annotations that are tool specific, is it possible to set annotications in the CRDs via the values?

[2022-04-27 07:50] TheDarkula commented on #1286
@mumoshu That is exactly what happens.

Before a run:

[code]

Following [a run](https://github.com/themeliolabs/mellis/runs/6189473459?check_suite_focus=true):

[code]

[2022-04-27 08:02] mumoshu commented on #1286
@TheDarkula Perfect. But then I don't get why the cache isn't there! Hmm... how you mind running `df -h` within the workflow so that we can get a vague idea about what's actually mounted under `/usr/local/cargo`? Also, it would be additional useful data point if you could share output from `kubectl get po -o yaml $RUNNER_POD`.

[2022-04-27 08:12] TheDarkula commented on #1286
@mumoshu Welcome to my party :)

[Here](https://github.com/themeliolabs/mellis/runs/6189744361?check_suite_focus=true) is a run with `df -h` added in two places. The job name is `Disk Free`.

Here is the output from `kubectl get pods -o yaml themelio-nrcwm-0`:

[code]

[2022-04-27 08:17] Vladyslav-Miletskyi commented on #1391
@mumoshu good call ;)

[2022-04-27 08:17] #1391 closed

[2022-04-27 11:16] zerodayyy commented on #1317
Are there any solutions to work around this issue when using ArgoCD? Unfortunately it's not possible to change the underlying logic there and installing CRDs manually is not an option

[2022-04-27 11:29] toast-gear commented on #1317
I don't think so outside of keeping custom version of the chart and adding the the `argocd.argoproj.io/sync-options: Replace=true` annotation to the CRDs in your custom chart

[2022-04-27 12:07] TheDarkula commented on #1286
@mumoshu If I change to the non-dind image, the build [fails](https://github.com/themeliolabs/mellis/runs/6193003287?check_suite_focus=true):
[code]

I added the `volumes` section to the CI.

I have this for my `RunnerSet` now:

[code]

Do you have any thoughts as to why it now cannot find the `rustup` binary?

[2022-04-27 12:29] toast-gear commented on #1286
Probably because you're mounting on the same path the rustup binary is?

[code]

[2022-04-27 15:50] #1357 closed

[2022-04-27 19:39] kmlevy commented on #1393
@mumoshu  I applied the change to my K8s instance and it did create service as a NodePort service.  However, it did not use port 33080 as specified.  It chose a random port to assign to the nodePort. Seeing as your helm template provisions the GH webhook server as a Cluster IP service, would it make sense to document it as such?  In either case, it looks as if significant changes need to happen in

[2022-04-27 19:51] TheDarkula commented on #1286
@toast-gear Good catch!

I have made some progress. I now have this for my `RunnerSet`:

[code]

And this is my CI:

[code]

You can view a run of it [here](https://github.com/themeliolabs/mellis/runs/6200121612?check_suite_focus=true).

The curious thing is, the `CARGO_TARGET_DIR: "/usr/local/cargo/target"` is being written to during the run, but for whatever reason, it does not persist.

The out

[2022-04-27 20:01] kmlevy commented on #1393
Looks like it's handled here: #1354

[2022-04-27 20:51] mumoshu commented on #1393
@kmlevy Apparently we missed the intermediate key `service` in-between.

https://github.com/actions-runner-controller/actions-runner-controller/blob/4053ab3e113e2cbc06d98319cee8a9ea797e2d76/charts/actions-runner-controller/values.yaml#L206-L214

It's not that significant I think but worth a fix

[2022-04-27 20:55] mumoshu commented on #1286
What do you mean by "does not persist" here?
I saw your job workflow logs and the build step seems to have completed in a shorter time (30s compared to 1m+ before) and I thought that's the indicator that the cache is now effective.

[2022-04-27 21:01] mumoshu commented on #1317
Also see #1391 and https://github.com/actions-runner-controller/actions-runner-controller/issues/1256#issuecomment-1082361032, https://github.com/actions-runner-controller/actions-runner-controller/issues/1102#issuecomment-1041138914

[2022-04-27 21:04] mumoshu commented on #1317
To me https://github.com/prometheus-operator/prometheus-operator/issues/4439#issuecomment-1030198014 looks like the best way; TL;DR; you can set the sync option via ArgoCD Application spec.

[2022-04-27 23:03] TheDarkula commented on #1286
I needed to work through some filesystem/symlinking issues, but as of now, I have a Rust cache working!
Have a look [here](https://github.com/themeliolabs/mellis/runs/6202407974?check_suite_focus=true).

This is the complete `RunnerSet` configuration:

[code]

Curiously, I only needed to mount the volumes into the `docker` container.

I am going to start working on the docker image cache and an NP

[2022-04-27 23:03] TheDarkula commented on #1286
@mumoshu Given that you, and now I, have verified that your pull request functions properly, is that good to go into master/a new release at this point?

[2022-04-28 00:02] mumoshu commented on #1286
@TheDarkula Congrats 🎉 Super glad to see it finally worked!

That makes sense because you're running all the job steps within the `rust-gtk` container and it's only able to access volumes mounted to the docker host, in this case, the `docker` sidecar container of your runner pod.

[2022-04-28 00:10] mumoshu commented on #1286
I greatly appreciate your help 🙏 It does help us move faster!

It's planned to be released as a part of ARC 0.24.0.
We're currently preparing the release for the previous version of that, ARC 0.23.0, and it might take a week or two.
I thought I already submitted all the important pull requests that are needed for 0.24.0 so it won't take too much after 0.23.0.

[2022-04-28 01:42] mumoshu commented on #1364
@rahul-FLS Hey! Can I safely close this as answered, or are you willing to contribute anything(perhaps a section in our doc?) to cover what worked for you? (That's definitely great if you could do so!

[2022-04-28 01:49] mumoshu commented on #1332
@rahul-FLS Well, I still don't get the goal of this issue! Sorry. So-... Can you just tweak or remove the PodSecurityPolicy that is blocking runner pods from correctly running?

As we can see, you don't have `securityContext.runAsNonRoot` explicitly set in the runner spec so I guess any of your PodSecurityPolicy is assuming it. Perhaps your default PSP, that may or may not be associated to the ser

[2022-04-28 02:14] #1200 closed

[2022-04-28 02:19] mumoshu commented on #1369
It turned out ARC is setting `restartPolicy=OnFailure` rather than `Never`:

https://github.com/actions-runner-controller/actions-runner-controller/blob/4053ab3e113e2cbc06d98319cee8a9ea797e2d76/controllers/runner_controller.go#L632-L634

And apparently, kubelet keeps the pod `Running` in this case:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L1383

https://git

[2022-04-28 02:43] VinGarcia commented on #1393
I had this same problem and the PR https://github.com/actions-runner-controller/actions-runner-controller/pull/1354 is the fix I implemented for it. I am hoping we can merge it soon, but @kmlevy if you want you should be able to follow the instructions on that PR.

[2022-04-28 03:34] mumoshu commented on #1393
@VinGarcia Hey! Thanks for your contribution. It took a quick glance on your change, and saw you completely omitted `,githubWebhookServer.ports[0].nodePort=33080`. I think, you'd better just fix that plus adding the service type as noted in https://github.com/actions-runner-controller/actions-runner-controller/issues/1393#issuecomment-1111471637, so that becomes a more meaning full example, becaus

[2022-04-28 06:51] rahul9170 commented on #1332
Hey @mumoshu I thought I replied to it sorry for late response but I could able to resolve the original error "Failed to create CoreCLR, HRESULT: 0x80004005" by mounting an emptyDir volume to /tmp. I guess runner was trying to write some of the diagnostics logs to its root which isn't allowed by PSP hence was failing. Now its write them to /tmp

<img width="673" alt="image" src="https://user-image

[2022-04-28 06:59] mumoshu commented on #1332
@rahul-FLS Ah, that makes sense! Thanks for sharing 🙏

[2022-04-28 07:02] rahul9170 commented on #1364
@mumoshu sorry for late response but this isn't worked yet. We aren't advised to use k8s secret by any means so only option is to load the secrets from vault in /vault/secrets folder, source them and load in the env variables. Still not sure how we do this in ARC.

[2022-04-28 07:03] rahul9170 commented on #1332
Issue can be closed now.

[2022-04-28 07:05] rahul-FLS commented on #1332
Issue can be closed now.

[2022-04-28 07:08] rahul-FLS commented on #1364
@mumoshu sorry for late response but this isn't worked yet. We aren't advised to use k8s secret by any means so only option is to load the secrets from vault in /vault/secrets folder, source them and load in the env variables. Still not sure how we do this in ARC.

[2022-04-28 07:47] mumoshu commented on #1364
@rahul-FLS Hey! I can see that some kind of security folks would like to enforce such restriction :) But I'd say it's not very standard-ish. That said, you need to change the runner image accordingly to accommodate your own use case.

A simple way would be to wrap it in a custom init-like golang program that loads the vault secret files, set envvars, and run `actions/runner` process and so on. You

[2022-04-28 07:48] #1332 closed

[2022-04-28 07:56] rahul-FLS commented on #1364
Hey @mumoshu thanks for your inputs. Can you please suggest if there is a way to pass args to the ARC container like this? Also is there a way to get a shell/bash in ARC container?

- args:
        - sh
        - "-c"
        - "for f in /vault/secrets/*; do source $f; done && /manager"

[2022-04-28 08:04] mumoshu commented on #1364
@rahul-FLS The runner container depends on our own entrypoin.sh https://github.com/actions-runner-controller/actions-runner-controller/blob/4053ab3e113e2cbc06d98319cee8a9ea797e2d76/runner/Dockerfile#L127 so perhaps you can do whatever setup in a shell script and then finally exec to `/bin/bash /entrypoint.sh`.

Also recent versions of the runner entrypoint.sh has ability to load envvars from /etc/

[2022-04-28 08:06] toast-gear commented on #1364
you can also load env vars from a `.env` file at the actions software root (`/runner`)

[2022-04-28 14:58] toast-gear commented on #1370
Going to close this as, as previously mentioned, this is fixed via https://github.com/actions-runner-controller/actions-runner-controller/pull/1330 which will be part of the v0.23.0 release

[2022-04-28 14:58] #1370 closed

[2022-04-28 20:47] rahul-FLS opened #1398 "Pull based autoscaling Issue: Runners don't scale down even after setting scaleDownDelaySecondsAfterScaleOut"
Hello @mumoshu I am testing pull based auto scaling of runners and configured below manifest for HorizontalRunnerAutoscaler

apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
    name: actions-runner
    namespace: actions-runner-system
spec:
  maxReplicas: 5
  minReplicas: 0
  **scaleDownDelaySecondsAfterScaleOut: 30**
  scaleTargetRef:
      name: actions-run

[2022-04-29 00:31] mumoshu commented on #1398
@rahul-FLS Hey. It's configurable via github-api-cache-duration and it has been removed in 0.22.0

https://github.com/actions-runner-controller/actions-runner-controller/commit/55ff4de79aa1bcee6c26a097574b5995f009936e

I'm very hesitant to say something like this because it should be obvious, but- could you please use the bug report form if you think it's a bug?

https://github.com/actions-runner-

[2022-04-29 00:31] #1398 closed

[2022-04-29 01:26] mumoshu commented on #1369
FWIW, linking https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1962#issuecomment-830476837

[2022-04-29 01:33] mumoshu commented on #1369
You can `kubectl get po -oyaml $RUNNER_POD_NAME` and see what `spec.nodeName` points to. If it points to an inexistent node, we could enhance ARC to check if the pod is tied to a disappeared node so that it can safely remove the pod as already stopped and will never come up later.

If the node still exist, the best we can do would be #1395.

[2022-04-29 03:59] mumoshu commented on #1369
FWIW, this can be also said as a K8s bug as the pod is stuck in `ContainerCreating` even if it's never going to be successfully created.

[2022-04-29 04:37] nitrocode commented on #1376
Unfortunately, this happened because we set an expiration date on the PAT, allowed the date to pass, and then try to rotate the token. If the token is already stale, then would the unique kubernetes secret name make a difference upon rotation?

[2022-04-29 04:56] mumoshu commented on #1376
@nitrocode Thanks for the update!

I believe that's wrong in most cases. You should usually retain the old token until the new token is fully deployed hence the old token is no longer used, and invalidate or remove the old one only after that.
If a token is being invalidated automatically on a predefined expiration date, to minimize downtime, the new token should be fully rolled out before the exp

[2022-04-29 12:30] VinGarcia commented on #1393
Hey, @mumoshu thanks for reviewing it.

This configuration is actually not working as expected because there is no `githubWebhookServer.ports` config in the `values.yaml` file of the Helm Chart.

We are discussing how to solve this here:

https://github.com/actions-runner-controller/actions-runner-controller/issues/1352#issuecomment-1101587630

And on the PR itself, in the PR I am adding an exampl

[2022-04-29 12:31] toast-gear opened #1402 "refactor: use go-github package for ListRunnerGroup API for GitHub Cloud"
Ref https://github.com/actions-runner-controller/actions-runner-controller/pull/1324 https://github.com/google/go-github/issues/2328 https://github.com/google/go-github/pull/2329

At the moment we use custom code for the new [ListRunnerGroup API](https://docs.github.com/en/rest/reference/actions#list-self-hosted-runner-groups-for-an-organization). At some point the go-github package will have supp

[2022-04-30 11:17] mumoshu commented on #1286
@TheDarkula Maybe you'll find my updated example manifest useful: https://github.com/actions-runner-controller/actions-runner-controller/blob/c815c003c23374b1cebc943832674181e6ecedde/acceptance/testdata/runnerset.envsubst.yaml

I was trying to cache a few things at the same time, buildx cache, docker image layers, and go mod/build cache. It all worked at the end. The key learning was that you need

[2022-04-30 18:02] TheDarkula commented on #1286
@mumoshu That is good to know that the `StorageClass` needs to be repeated. That may explain why the docker startup was intermittently failing. I am still working on a more elegant image cache for docker, though :)

[2022-05-02 07:46] tbomberg commented on #1305
@mumoshu Yes, i can confirm that all this was caused by the missing name label on the namespace

[2022-05-02 07:46] #1305 closed

[2022-05-02 19:06] TheDarkula commented on #1286
@mumoshu I am looking into [kube-fledged](https://github.com/senthilrch/kube-fledged).
The really nice thing about it is, you can configure an automatic image refresh period.
The other advantage of something like this is, it only stores the image once, instead of in each PV.

I tried it out, but when using the `container.image` block:
[code]
in a job, it is not pulling from the kubernetes node ima

[2022-05-02 21:54] TheDarkula commented on #1286
I think one thing that I do not quite understand is the `container.image` mechanism.
In each `RunnerSet` pod, there are two containers: `docker`, and `runner`.
When I specify something like this:
[code]
Where is that container created?

[2022-05-02 22:24] TheDarkula commented on #1286
I am digging more into [this](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idcontaineroptions).

[2022-05-02 23:30] TheDarkula commented on #1286
Actually, I think `container.options` will not help, because the image is already pulled at that point.

[2022-05-03 10:57] toast-gear opened #1412 "refactor: remove github-api-cache-duration flag and code"

[2022-05-04 15:03] lhaussknecht opened #1413 "Critical CVE-2021-44906 in minimist in image summerwind/actions-runner"
Trivy reports a critical CVE [CVE-2021-44906](https://avd.aquasec.com/nvd/cve-2021-44906) in a minimist dependency. I would love to create a PR but have no idea, where this is comming from...

The image sha, that was tested is: sha256:0580b846ff609f9bd6092eb173b8d0d967848e1ea349937bf4a441ce773b0f46

[2022-05-04 18:35] bkrugerp99 commented on #1369
@mumoshu In our case here, the underlying node has already been gone.  When we null out finalizers, cleanup happens fine.

[2022-05-05 14:30] roshvin commented on #792
Hi , even we are looking for running DinD in non-privileged mode . since our CaaS policy wont allow running any container as root.
Do you have any working solution or recommendation.

[2022-05-06 02:06] mumoshu commented on #1286
@TheDarkula I have literally no experience with kube-fledged by at glance it seems to pre-cache images on the dockerd running on the k8s node, right?
I can certainly say that dockerd on the host and the dockerd within the `docker` sidecar of each runner pod are two totally different things.
In addition to that, I believe we are currently trying to persist var/lib/docker used by the `docker` sideca

[2022-05-06 02:09] mumoshu commented on #1286
Can you run `kube-fledged` in a one-shot mode? Then I guess you'd be able to write a k8s operator that periodically and sequentially creates a kube-fledged pod for each PV in certain interval, so that each PV is periodically prepopulated by kube-fledged and hopefully runner pods have more chance to get prepopulated PVs before running the first job.

[2022-05-06 11:42] Eldarrin commented on #1362
So, I've a workaround for the docker/dind/sidecar caching issue by not using the sidecar dind but using a separate one.

If you create a standard deployment for docker:18.05-dind and I would advise adding /etc/docker/daemon.json with an MTU lower than your eth (I used 1440).

Then in your deployment use a pvc, such as:

`          volumeMounts:
            - mountPath: /var/lib/docker

[2022-05-07 01:08] rahul9170 commented on #1364
Hello @mumoshu i think we’re confused here. I don’t want anything to be loaded in runner container. I want to read the values of GitHub app authentication variables from /vault/secrets (created by vault sidecar) directory of ARC.

[2022-05-08 02:11] #1253 closed

[2022-05-08 10:38] rahul9170 commented on #1364
Also is there a way to add a sidecar/init container to the controller pod? This way I can try to have the secrets from the vault mounted onto the controller via shared volume.

[2022-05-08 12:03] poolpitako opened #1419 "runner docker image doesn't have kubectl?"
**Is your feature request related to a problem? Please describe.**
I am setting up a workflow which deploys to a cluster.
I noticed that using the github default `ubuntu-latest` it includes kubectl but when using the default runner it's not.

**Describe the solution you'd like**
I would like the default runner docker image to include `kubectl`

[2022-05-08 22:13] mumoshu commented on #1364
@rahul9170 AFAIK, you'd use any mutating webhook config to inject such sidecars into the pods of your choice. https://www.vaultproject.io/docs/platform/k8s/injector

[2022-05-08 22:22] mumoshu commented on #1362
@Eldarrin Hey! Thanks for sharing. Are you basically trying to share /var/lib/docker across the clients and the server-side of your in-clulster dockerd, using a shared ReadWriteMany PV, right? (Because I think that's the only way it could work as you described

[2022-05-08 22:33] mumoshu commented on #1413
Perhaps it's a part of nodejs dependencies that actions/runner needs to run node-based actions? 🤔

[2022-05-09 01:25] mumoshu commented on #1298
@laurentsimon Thanks for bringing this up. I just ran `docker run -e GITHUB_AUTH_TOKEN=$OPENSSF_SCORECARD_GITHUB_TOKEN gcr.io/openssf/scorecard:stable --show-details --repo=https://github.com/actions-runner-controller/actions-runner-controller` to see what it finds. You can expect me to submit a few PRs to address each finding!

[2022-05-09 07:36] rahul9170 commented on #1364
Thanks @mumoshu but then how would I read the secrets which are mounted by vault in vault/secrets folder of controller container and set them to GITHUB_APP_ID, GITHUB_APP_INSTALLATION_ID, GITHUB_APP_PRIVATE_KEY ?

[2022-05-09 08:02] Eldarrin commented on #1362
@mumoshu Not quite. I use a single dind container with a ReadWriteOnce PVC then network the dind container. Its the same as if you use Docker on a different machine with the dockerd setup as a network exposed dockerd then connect to it from your pods on the cluster. I just moved the external dockerd machine into its own separate dind container.

[2022-05-09 08:36] lhaussknecht commented on #1413
Yes. It is a dependency of the runner. It was fixed in https://github.com/actions/runner/pull/1783.  But it seems, that the old version is included in the runner release.

[2022-05-09 08:36] mumoshu commented on #1362
@Eldarrin Thanks for clarifying! Just be extra sure, you gave up using bind mounts for docker containers run in remote dockerd, and that was fine for your use-case, right? (I think it's a fine trade-off when you don't rely on docker-runs in your job steps and you use docker only for docker builds)

[2022-05-09 08:41] mumoshu commented on #1413
Thanks. https://github.com/actions/runner/commit/0343e7678918b3c4ee3a3362f93d16538959e3c2 says it should be included since [v2.290.0](https://github.com/actions/runner/releases/tag/v2.290.0). What was the tag of our runner image on which you ran trivy? If it was tagged v0.290.0 or greater, can it be a bug in actions/runner's release process that the release archive contains outdated dependencies?

[2022-05-09 08:44] mumoshu commented on #1364
@rahul9170 You'd need to somehow map those files envvars yourself. For example, you could build our own ARC controller image based on our image, add a entrypoint.sh to export a series of envvars according to the vault-mounted files, and exec ARC.

[2022-05-09 08:51] Eldarrin commented on #1362
That's true, my use case is a scaling build farm and I tend to test my containers in as pods themselves in a test namespace. I'm going to try multi-running my setup and see what explodes though :)

[2022-05-09 10:10] lhaussknecht commented on #1413
Yes. The current release downloads have Minimist  in `./externals/node12/lib/node_modules/npm/node_modules/minimist`.

The package.json there is pointing to `  "_id": "minimist@1.2.5",`. So this seems to be a problem in the release pipeline in actions/runner.

Will open a ticket there.

[2022-05-09 12:49] toast-gear commented on #1419
We aren't adding new software to the runner image at the moment, Azure provide a good action for configuring kubectl as part of your pipeline https://github.com/Azure/setup-kubectl

[2022-05-09 13:20] bmbferreira opened #1423 "Set securityContext separately for runner and dind containers"
**Is your feature request related to a problem? Please describe.**
Would it be possible to set securityContext separately for the runner and the dind container? Currently if I add the following `securityContext` to avoid executing the runner container as non-root, the docker-in-docker container fails to start:
[code]

logs on the dind container:
[code]

**Describe the solution you'd like**
A simpl

[2022-05-09 13:41] poolpitako commented on #1419
@toast-gear thanks. Shouldn't the runner docker image match software stack provided by github by default?

[2022-05-09 14:54] toast-gear commented on #1419
In an ideal world yes, however it's not practical or feasible from our perspective, additionally, the runner itself container would be tens of GB big making it impractical to use.

[2022-05-09 17:33] Fred78290 commented on #1369
@mumoshu
Hello I've already saw this problem but in another story.

after some analysis i think that the problem occurs because the finalizer can't exit 0 for some internal reason (the runner is marked offline or any reason....)

So a GH api fails and the finalizer fails too.

I saw also that you declare finalizer for custom resources Runner probably it's better to use a watcher to delete associat

[2022-05-09 17:59] BeyondEvil commented on #1413
Could the issue I'm seeing be related to the CVE?

[code]

I'm not sure I understand the last line?

Should we simply upgrade to the latest Runner version?

[2022-05-09 22:00] mumoshu commented on #1413
@BeyondEvil Hey! Not at all. It's saying what the error message tells- you're using an outdated version of `actions/runner` and you should definitely upgrade to the latest.

[2022-05-09 22:05] mumoshu commented on #1369
@Fred78290 Thanks. We already leverage "watch" facility to react on any changes in the underlying resources so that the controller can handle and remove the finalizer ASAP if needed. Also, we already have a logic to not block our custom finalizer in certain cases, which results in "clear the finalizer" as you said. It's probably missing some edge cases though.

In your case, was the pod still pres

[2022-05-09 22:08] mumoshu commented on #1423
@bmbferreira Hey. It's not supported in RunnerDeployment today. For RunnerSet, you can define a container named `docker` under `spec.template.spec.containers` and put `securityContext` of your choice there.

[2022-05-09 22:09] mumoshu commented on #1423
@bmbferreira But your issue seems to stem from the fact that you tried to run dind as a non-root user. It's not supported by the vanilla dockerd as far as I know.

[2022-05-09 22:21] mumoshu commented on #1423
@bmbferreira Hey! Thanks for confirming.
Yeah, any contribution is always welcomed- but to be extra sure, your goal was to run `actions/runner` with a non-root user within the `runner` container in the runner pod, right? Our runner image sets the default user to `runner` which should map to uid 1000 in the container(although it won't map the exact uid in the host as far as I remember), so it's alr

[2022-05-09 22:37] bmbferreira commented on #1423
Yes, I noticed that 😃 However, I think that setting a proper `securityContext` for the runner container (specially with `runAsNonRoot: true`) would also avoid using root that while doing `kubectl exec -it <pod-name> -c runner -- bash`. 🤔

[2022-05-09 22:37] bmbferreira commented on #1423
Yes, I noticed that 😃 However, I think that setting a proper `securityContext` for the runner container (specially with `runAsNonRoot: true`) would also avoid using root that while doing `kubectl exec -it <pod-name> -c runner -- bash`. 🤔

[2022-05-09 22:45] mumoshu commented on #1423
@bmbferreira Just to be sure, have you already tried that in a regular pod? I execed to a runner pod's runner container and `touch`ed a path to create a file. It was owned by `runner:runner` so I assume it's running the shell as the `runner` user 🤔

[2022-05-09 22:54] bmbferreira commented on #1423
🤦‍♂️ pardon me, you are right. I tested with a custom image we had that is not using the default `runner` user 😬 If I use the default runner image of this repo it runs the shell as the `runner` user 👍

[2022-05-10 17:03] poolpitako commented on #1419
ok, thanks for your reply!

[2022-05-10 17:03] #1419 closed

[2022-05-10 19:09] TheDarkula commented on #1286
@mumoshu It sounds like trying to have `kube-fledged` functioning with ARC is going to be a lot, so I will just pass on that for now.
Thank you for the ideas, though :)

I recently rebuilt your `retain-pv-across-restarts-runnerset` branch and then tagged the new image:
[code]

I used the `values.yaml` from the chart in your branch, but when I describe the runner controller pod, it shows this:
[cod

[2022-05-10 21:18] BeyondEvil commented on #1413
Is it common practice to deprecate runners that are only ~2 months old?

That's why I wondered if it was related to the CVE.

I looked and looked, and I couldn't find any information about the deprecation.

[2022-05-10 22:17] mumoshu commented on #1413
@BeyondEvil You might better ask `actions/runner` maintainers. Anyway, my take is that it is generally recommended to stick to the latest version if you have no facility to patch what are included in the `actions/runner` release archives yourself.

It's a single release channel(there's no alpha, beta, stable release channels like linux distros for `actions/runner`, right?) and my straight interpre

[2022-05-10 22:20] mumoshu commented on #1286
@TheDarkula Hey! I thought I have changed nothing in the chart. `MountVolume.SetUp failed for volume "secret" : secret "controller-manager" not found` seems to imply that you might have run `helm upgrade --install actions-runner-controller` in a wrong namespace?

[2022-05-10 22:22] mumoshu commented on #1387
@shankarRaman That makes sense. Thanks for reporting back!

[2022-05-10 22:24] mumoshu commented on #1387
Although I don't know how auto-update results in a long delay like you described in:

We recently revised our bug report form so that everyone is encouraged to provide full context about the problem

https://github.com/actions-runner-controller/actions-runner-controller/issues/new?assignees=&labels=bug&template=bug_report.yml&title=Bug

Perhaps you can review it and provide missing information so

[2022-05-11 11:51] toast-gear commented on #1387
@shankarRaman are you able to link a raised issue against [actions/runner](https://github.com/actions/runner/issues)?

[2022-05-11 19:41] TheDarkula commented on #1286
It seems to be something wrong with [cert-manager(https://docs.gitlab.com/operator/troubleshooting.html).

I have installed `cert-manager` with this:
[code]
That played with ARC up until the other day.

[2022-05-11 22:34] mumoshu commented on #1286
@TheDarkula Have the `MountVolume.SetUp failed for volume "secret" : secret "controller-manager" not found` error gone already? It's basically saying that you're somehow missing that secret(which, in a standard setup, should contain github creds required for arc to work).

Was there any other signal that implies cert-manager is failing?